[2020-02-07 19:21] sushidave commented on #2800
Title changed because user @mid (three characters) can't be mentioned too.

[2020-02-07 19:32] sushidave commented on #2800
@Mogge I like your suggestion. Will it find users with a one character user name such as @_ too?

[2020-02-07 19:36] sushidave commented on #2162
This is still an open question.

[2020-02-08 11:09] sushidave opened #3025 "🐛 [Bug] Background visible if profile image is not square"
## :bug: Bugreport

The background of profile images is visible for images that are not square.

Examples:

![1581158020966-Profilbilder](https://user-images.githubusercontent.com/17728384/74084069-5c606a00-4a6b-11ea-9c5d-4804eb676a27.jpg)

### Steps to reproduce the behavior
1. Log into the network.
2. Check some profile images either on the post feed page or on profile pages.

### Expected behav

[2020-02-10 09:36] DennisHack commented on #2897
All logos should be replaced, wether at login, or when logged in.  THANKS

[2020-02-10 11:23] alina-beck commented on #2823
We already have this feature in the `Avatar Menu`:
<img width="220" alt="Screenshot 2020-02-10 at 12 21 42" src="https://user-images.githubusercontent.com/11694483/74145832-0bce4580-4c00-11ea-9da8-2fa6885f3fb8.png">

[2020-02-10 11:33] mattwr18 opened #3033 "🐛 [Bug]Blocked users can unblock themselves"
## :bug: Bugreport

**HIGH PRIORITY BUG**
Blocked users should not see a button or link to unblock themselves since
a) they should not be able to find out who has blocked them
b) they should not be able to remove this.

### Steps to reproduce the behavior
1. log in as a user(user1)
2. block another user(user2)
3. login as user2
4. visit profile of user1
5. see that you have a button and a link to

[2020-02-10 11:49] sushidave commented on #2823
@alina-beck Thanks for your info.
As a user I am used to access notifications through the notifications icon. Imho, that way of accessing the notifications page would be more intiutive. What do you think?

[2020-02-10 13:03] #2942 closed

[2020-02-10 16:11] #3033 closed

[2020-02-10 17:18] mattwr18 commented on #2982
this was closed with the latest deploy

[2020-02-10 17:18] #2982 closed

[2020-02-10 17:32] mattwr18 opened #3036 "🐛 [BugReport] PayloadTooLargeError: request entity too large in production"
## :bug: Bugreport

We are getting these errors in our `production` backend node
[code]
We also have had the backend restart 2 in the last 5 days, unsure if this is somehow related.
### Steps to reproduce the behavior
1. check backend logs(requires cluster management rights in kubernetes)
2. see the logs
3. Profit

### Expected behavior

should we increase the `nginx.ingress.kubernetes.io/proxy-bo

[2020-02-10 17:59] mattwr18 commented on #3036
potential fix:
[code]
from this closed issue :point_down:
https://github.com/expressjs/body-parser/issues/235#issuecomment-405013415

[2020-02-10 20:10] hermann-san commented on #2143
This is probably a different feature, but it would be nice if it would be possible to connect hashtags
i.e.   #Assange and  #JulianAssange  belong together and it would be nice to link them . For example when I search for #Assange, then I also get results for #JulianAssange
However , this is something that humans needs to decide which hashtags belong to each other and it should be done only if it

[2020-02-10 20:21] roschaefer opened #3038 "🚀 [Feature] Delete user as admin through API only"
## :rocket: Feature
This is a required step in order to finish #17.

### Problem
So, let's say for safety reasons we might not implement #17 at all - but we allow admins to delete users. Admins can use external UIs for a graphQL endpoint e.g. [Postman](https://www.postman.com/).

### Implementation
Basically you only need to change [this line](https://github.com/Human-Connection/Human-Connection/b

[2020-02-10 22:36] mattwr18 commented on #2985
@roschaefer any update on this?

[2020-02-11 10:32] #3036 closed

[2020-02-11 11:04] roschaefer commented on #1922
Well, certainly we don't want to convert everything to .jpg. Think of logos with sharp edges which are best saved as .png. JPG is a not a lossless compression and will lead to [odd artefacts around edges](https://www.google.com/search?q=jpeg+compression+artefacts&tbm=isch).

I'm leaning against automatic compression of images *if we can provide smaller versions* of them. Those smaller sizes should

[2020-02-11 11:17] mattwr18 commented on #1922
Yeah, I am sure that we don't want to convert all to `jpg`, but that is what we are currently doing. A benefit of using this package is that we can compress without needing to convert.

I'll wait till after the meeting to see which direction we go in, and we can discuss whether to leave this open till we are using `spaces`, close it, or combine them.

[2020-02-11 11:28] alina-beck commented on #1922
I'm in favor of not converting images to `jpg` but I do think we should compress images – even if we start providing smaller file sizes to the frontend. Or instead set a file size limit for uploads.

It sure won't be necessary for most uploads and I know disc space is not _that_ expensive but think of someone exploiting this and uploading images that have file sizes of several `GB`.

[2020-02-11 13:02] #374 closed

[2020-02-11 13:33] alina-beck commented on #2255
### Meeting notes (Feb 11th, with @roschaefer, @mattwr18, @Mogge, @ogerly)
Two different topics in the backend:

#### Storing images
We want to remove the images from our cluster and put them in an object storage. We will probably store them on [Digital Ocean's Spaces](https://www.digitalocean.com/products/spaces/). It's cheaper than our current solution and allows the backend to scale.

#### Deli

[2020-02-11 14:53] mattwr18 commented on #2255
really awesome @alina-beck !!! thank you soo much for taking such good concise notes!! It's very much appreciated.
I have a question and some feedback from having a look at the current `TeaserImage` uploads.

When writing cypress tests for `Delete Teaser Image` PR by @ogerly https://github.com/Human-Connection/Human-Connection/pull/2585 , I was running into the issue that we are using a `canvas` f

[2020-02-11 15:05] alina-beck commented on #2255
I'd say leave the image compression for `jpg` in, for now – to make sure our file sizes don't blow up. Then, when we have implemented a solution for resizing images, remove the compression from the frontend as a last step. Does that sound ok?

[2020-02-11 15:12] mattwr18 commented on #2255
sounds good to me! anyone object?

[2020-02-11 18:35] erhardtstiefel opened #3040 "🚀 Option to enhance a comment"
## :rocket: Feature
If a comment has my full agreement I would like to upgrade it with just one click. Upgraded comments should be prioritized in the display.
### User Problem
Fewer comments shorten writing and reading times. The most important comments come first. Endless discussions without result are prevented.

### Implementation
Comments can be upgraded with a button in the comment box. Comme

[2020-02-11 19:33] #1629 closed

[2020-02-11 21:24] Joellehelm commented on #3004
I'd like to work on this if it's still available.

[2020-02-12 11:18] Mogge commented on #2143
@hermann-san This is a great idea. May be create a Feature report for it? Something like a page to manage hashtags? But we will not be able to do this in the nearest future.

[2020-02-12 11:27] mattwr18 commented on #3004
hey @Joellehelm, @abdellani was actually interested in working on it, and asked for clarification, which we gave with a :+1: , but he didn't see it, and we didn't assign him.
Sorry for the confusion. Let me know if we can help you find another issue your interested in.

[2020-02-12 12:43] mattwr18 commented on #2117
Let' make this into a bounty issue @Human-Connection/hc-dev-team ??

[2020-02-12 14:47] mattwr18 commented on #3012
closed in https://github.com/Human-Connection/Human-Connection/pull/3034

[2020-02-12 14:47] #3012 closed

[2020-02-12 14:54] mattwr18 opened #3054 "🔧 [Tests] Add e2e tests for post image uploads"
## :zap: Testing ticket

Add cypress tests to test the functionality of uploading images to posts
### Motive

We should be testing this to ensure the functionality doesn't get broken unintentionally, and also to have executable documentation.

[2020-02-12 15:12] mattwr18 opened #3055 "🐛 [Bug] FilterMenu layout broken with seed data"
## :bug: Bugreport

Categories are not getting created correctly in seed data since the introduction of `rosie`

### Steps to reproduce the behavior
1. pull down latest code from `master`
2. reset and seed the database with `yarn db:reset` and `yarn db:seed`
3. open the filter menu
4. see there are missing translations
5. Profit

![Screenshot from 2020-02-12 16-05-12](https://user-images.githubuse

[2020-02-12 17:02] #1703 closed

[2020-02-12 17:57] #2887 closed

[2020-02-12 19:40] alina-beck commented on #2117
Hah, yes! I just had the same idea and started adding an issue for it... Here are some more hints:

Summary of the [official Vue docs](https://vuejs.org/v2/guide/components-slots.html) and [our own guidelines](https://github.com/Human-Connection/Human-Connection/blob/bbd678caa6215865df78aff90de4a518d5d39136/webapp/vue.md#we-use-shorthands):
- define default slots as `<slot />` and named slots as `

[2020-02-12 21:54] sushidave commented on #3014
@Tirokk Thank you for creating this issue. If there aren't any questions left can we turn this into a feature issue?

The request was brought up by a user wanted to refer to single comments which were older than one month. Those comments no longer showed any timestamps so the user could not refer to them precicely.

Related methods are #1744 and #2785 .

[2020-02-13 11:46] mattwr18 opened #3062 "💥 [DevOps] Set up Redis on Develop server with Helm"
## :fire: DevOps ticket

We are deploying `Subscriptions`, and `PubSub` is not meant for production, according to the docs.
[code]
https://github.com/apollographql/graphql-subscriptions

They suggest using one of several other implementations.
https://github.com/apollographql/graphql-subscriptions#pubsub-implementations

We are going to give `graphql-redis-subscriptions` a try.
https://github.com/

[2020-02-13 12:58] mattwr18 opened #3064 "🐛 [Bug] Nuxt not reading `WEBSOCKETS_URI`"
## :bug: Bugreport

We need to set this up somehow otherwise, we cannot connect with `ws`

### Steps to reproduce the behavior
1. add  `WEBSOCKETS_URI` to cluster `configmap`
2. deploy `latest` docker image to a hosted cluster
3. see that it doesn't read `process.env.WEBSOCKETS_URI`, but falls back to `ws://localhost:4000/graphql`
4. Profit

### Expected behavior

This `env` variable should be rea

[2020-02-13 13:58] sushidave commented on #2514
Vanish, annoying bot! ✨😋

[2020-02-13 14:07] erhardtstiefel opened #3065 "🐛 [Bug] Scrollbar not usable in 'mentioned bell info' window"
## :bug: Bugreport
If you touch the scrollbar with the mouse, the whole window disappears

### Steps to reproduce the behavior
1. If your 'mentioned bell' shows a red number greather than 2
2. a mouseclick to the bell opens a window
3. if a scollbar is visible, move the mouse pointer to the scrollbar
4. the window disappears
5. I have to use my scrollwheel to find the first comment at the bottom o

[2020-02-13 15:56] mattwr18 commented on #3064
adding `WEBSOCKETS_URI` to the `envWhitelist`, `WEBSOCKETS_URI:wss://develop.human-connection.org:4000/graphql` to the `/webapp/.env.template`, and deploying the image has worked for nuxt to pick up on the correct `uri`, but now we are getting this error message:
[code]
I've found lots of issues, and honestly don't really know where to go from here...
Things I've learned is that when I tore down `

[2020-02-13 16:04] mattwr18 commented on #3064
there is also this issue that I came across, https://github.com/apollographql/apollo-server/issues/1338, but the more research I did, the more I thought that we would be using the proposed solution, but using `nginx` to proxy for us.
Also, I've heard good things about `traefik`... maybe we should give it a go?

[2020-02-13 16:10] mattwr18 commented on #3064
edit: it does look like they have added the example from the :point_up_2: issue in `apollo-server` docs.
[code]

[2020-02-14 10:50] ogerly commented on #3065
i can confirm this error
Betriebssystem: [] Linux Ubuntu 18.04 (64-Bit)
Browser: [] Chrome, Chromium
Version [] Version 79.0.3945.130  Built on Ubuntu , running on Ubuntu 18.04 (64-Bit)

[2020-02-14 13:55] Tirokk opened #3074 "🔧 [Refactor] Don’t Expose Some Properties Of The Report Node In GraphQL"
## :zap: Refactor ticket

In some cases there is the danger that informations of the `Report` node getting exposed to the frontend. Especially the `filed` property.

### Motive

Security.

### Related issues

None.

### Implementation

- Set permissions in `permissionMiddleware`.
- Write tests for it.

### Todo

- [X] set GQL permission (done by #3075 )
- [x] write tests (done by #3075 )
- [x] ref

[2020-02-14 14:05] Tirokk commented on #1830
I close this, because it is in my eyes totally fulfilled.

[2020-02-14 14:05] #1830 closed

[2020-02-14 18:55] sushidave opened #3076 "🚀 [Feature] Filter posts by users 2.0, option for muted users"
## :rocket: Feature

[code]

### User Problem

* By seeing the "Users I muted" button in the filter menu more users become aware that they can mute posts of users
* Increase user's happiness and satisfaction
* Less frustrated users who leave / who stop their donation

### Implementation

- [ ] Rearrange filter menu layout: visually separate "filter by users" from "filter by emotions"
- [ ] Add the

[2020-02-15 21:01] tidus9 commented on #2238
Would you like to do it? :)

[2020-02-17 06:10] erhardtstiefel commented on #2356
Which type of activity do you else expect? I asked some questions and didn't get any answer.

[2020-02-17 08:59] alina-beck commented on #1172
it's better now!

[2020-02-17 08:59] #1172 closed

[2020-02-17 09:01] alina-beck commented on #1264
I think this is still relevant @Human-Connection/hc-dev-team @DennisHack?

[2020-02-17 11:26] mattwr18 commented on #3064
update on this issue: We have run into an issue with using environment variables at runtime with `Nuxt` and are currently blocked trying to configure them for different production environments. ie `develop`, `staging`, and `production`. See https://github.com/nuxt/nuxt.js/issues/5100

[2020-02-17 11:28] mattwr18 opened #3082 "💥 [DevOps] Remove wsEndpoint to unblock deployment"
## :fire: DevOps ticket

At the moment, we have an issue with deploying websockets due to ability to configure websockets_uri for different production environments. See https://github.com/Human-Connection/Human-Connection/issues/3064 and https://github.com/nuxt/nuxt.js/issues/5100

This is blocking our deployment of other features/bug fixes, but most importantly a security related bug fix. If we r

[2020-02-17 13:44] alina-beck commented on #2873
@sushidave is working on adding this to the FAQs – do we want to also notify users (who are not using Firefox) about our recommendation when they visit our page?

I think we could:
A) Add an extra line to the `login` and/or `sign up` form: "HC.social runs best on Firefox" (could be annoying for Firefox users)
B) Add this extra line _only_ when users are not on Firefox already (more work, because w

[2020-02-17 14:00] alina-beck commented on #2823
Fair enough, I think it could be more intuitive to allow users to click the :bell: icon when there are no unread notifications, to go directly to the `all notifications` page.

Technically we could implement this by checking if there are unread notifications and if not, display an optically identical link instead of the notifications menu button

[2020-02-17 14:38] Tirokk commented on #2895
Haven’t we agreed to not have this? @DennisHack @Human-Connection/hc-dev-team
Then it shouldn’t be on the priority list at all …

[2020-02-17 15:26] alina-beck commented on #2895
I don't know. I just heard that you had a discussion about it and some people were not happy with the approach but I still think it is a good idea and haven't heard (or read) the reasoning against it.

Could somebody please sum up here what you discussed and why you came to the conclusion not to implement this feature before we close it?

[2020-02-17 15:35] alina-beck commented on #2287
can always be improved – but at least login is working in all browsers now

[2020-02-17 15:35] #2287 closed

[2020-02-17 16:03] alina-beck opened #3085 "🚀 [Feature] "Subscribe" instead of "Follow""
## :rocket: Feature
requested by @DennisHack

On our network users should "subscribe" to each other instead of "following" each other – this should be reflected in the UI as well as in the code.

### User Problem
"Follow" sounds too similar to other social networks, like Facebook and Twitter, so users might expect the same functionality – which we don't have because no obscure algorithms are contr

[2020-02-17 16:05] alina-beck commented on #1741
@DennisHack just added that the second list should disappear entirely. Other users should only see who one is following, not who one is followed by.

[2020-02-17 16:15] alina-beck opened #3086 "🚀 [Feature] Avoid the color red for non-essential things"
## :rocket: Feature
requested by @DennisHack

Red should be used very sparingly on the network – and only to focus our users' attention on the really important things, like charitable actions.

### User Problem
Users are distracted and their attention is guided towards the wrong details, due to our use of colors. Especially the notifications in the header should not be red as they are not as impor

[2020-02-17 16:36] sushidave commented on #2873
Publish as an FAQ - done.

I recommend to add it just to the sign-up form and only if the browser is not Firefox - or it would be annoying.

[2020-02-17 17:32] mattwr18 commented on #3062
this was successfully carried out on `Friday` and has been running with no perceivable issues

[2020-02-17 17:32] #3062 closed

[2020-02-17 17:33] mattwr18 commented on #3002
this has been finished and now `nitro-staging` redirects to `staging` which has certs.
there are several questions about using `Helm` to manage our clusters though, and it seems maybe to be more work that it's worth?
Or maybe I just need to get the hang of it, but so far it's been more work.

[2020-02-17 17:33] #3002 closed

[2020-02-17 18:22] roschaefer commented on #2897
@DennisHack the logo is not internationalized! Could we remove "Dein Netzwerk" from it?

[2020-02-17 18:28] roschaefer commented on #66
I can see the problem and acknowledge that we loose users/donators because there is so much negative content on the network.

However, I strongly disbelieve that this solution will actually solve the problem. The solution depends heavily on the input and effort of our users to label content. It is just hard to convince humans to do this kind of work. Especially since it does not has a *benefit* fo

[2020-02-17 18:39] roschaefer commented on #3076
@sushidave can we close this issue in favour of https://github.com/Human-Connection/Human-Connection/issues/2198 ? If you can see all posts without login, you could easily achieve the desired behaviour in this feature request simply by logging out.

[2020-02-17 20:43] mattwr18 opened #3088 "🐛 [Bug] Notifications are intermittently not created/don't update noticationsMenu"
## :bug: Bugreport

When testing out the `Subscriptions` for notifications, I noticed that sometimes the counter doesn't increment. When refreshing the page it still sometimes doesn't show another notification.
Checking the database, I can see that it doesn't always create a new notification when someone is mentioned in a comment/a post is updated to mention someone again.

### Steps to reproduce

[2020-02-17 23:25] #3064 closed

[2020-02-18 11:30] alina-beck opened #3095 "🎨 [Styleguide Migration] Form"
## :wrench: Styleguide Migration: Form
- replace `ds-form` with `base-form`
- replace `ds-input` with `base-input`
- replace `ds-select` with `base-select`
- replace `ds-radio` with `base-radio`
- add `base-checkbox` component

### Additional context
part of the styleguide migration EPIC: #2074

[2020-02-18 11:32] alina-beck opened #3096 "🎨 [Styleguide Migration] Flex"
## :wrench: Styleguide Migration: Flex
Remove `ds-flex` and `ds-flex-item` from the project and set `flexbox` properties directly on the nested elements.

### Additional context
part of the styleguide migration EPIC: #2074

[2020-02-18 11:45] alina-beck opened #3097 "🎨 [Styleguide Migration] Grid"
## :wrench: Styleguide Migration: Grid
Remove `ds-grid` and `ds-grid-item` from the project and set `grid` properties directly on the nested elements.

### Additional context
part of the styleguide migration EPIC: #2074

[2020-02-18 11:49] alina-beck opened #3098 "🎨 [Styleguide Migration] Space"
## :wrench: Styleguide Migration: Space
Remove `ds-space` from the project and set `margin` properties directly on nested and sibling elements.

### Additional context
part of the styleguide migration EPIC: #2074

[2020-02-18 11:54] alina-beck opened #3099 "🎨 [Styleguide Migration] Placeholder"
## :wrench: Styleguide Migration: Placeholder
Remove `ds-placeholder` from the project and see if a replacement is even necessary.

### Additional context
part of the styleguide migration EPIC: #2074

[2020-02-18 11:55] alina-beck opened #3100 "🎨 [Styleguide Migration] Section"
## :wrench: Styleguide Migration: Section
Remove `ds-section` from the project and see if a replacement is even necessary.

### Additional context
part of the styleguide migration EPIC: #2074

[2020-02-18 12:16] roschaefer commented on #2656
It could be that this is expected behaviour, because if a post author has blocked a user, this user will not receive notifications if he/she gets mentioned in the comments of a post.

[2020-02-18 13:31] #2256 closed

[2020-02-18 13:31] #3054 closed

[2020-02-18 13:37] #2202 closed

[2020-02-18 15:47] #255 closed

[2020-02-18 15:47] #423 closed

[2020-02-18 15:47] #588 closed

[2020-02-18 15:47] #634 closed

[2020-02-18 15:47] #591 closed

[2020-02-18 15:47] #349 closed

[2020-02-18 15:47] #32 closed

[2020-02-18 16:34] #3025 closed

[2020-02-18 16:55] #2587 closed

[2020-02-18 17:26] ewanold commented on #495
Keep it open

[2020-02-18 19:30] #207 closed

[2020-02-18 19:30] #218 closed

[2020-02-18 20:30] #278 closed

[2020-02-18 20:30] #282 closed

[2020-02-18 20:30] #283 closed

[2020-02-18 20:30] #15 closed

[2020-02-18 20:30] #284 closed

[2020-02-18 20:30] #322 closed

[2020-02-18 20:30] #35 closed

[2020-02-18 20:33] mattwr18 commented on #276
This should not be closed @stale

[2020-02-18 21:50] #1188 closed

[2020-02-18 23:39] #3001 closed

[2020-02-19 08:30] #316 closed

[2020-02-19 08:47] #3088 closed

[2020-02-19 21:32] #2985 closed

[2020-02-19 21:34] #3004 closed

[2020-02-19 22:41] sushidave commented on #280
Obviously, there is a bunch of spam accounts in the network now, like these:

![hc-bot-prevention-spammed-accounts](https://user-images.githubusercontent.com/17728384/74883412-2ecfc680-5371-11ea-92df-9c27b9165c7d.jpg)

[2020-02-19 23:02] sushidave commented on #2656
@roschaefer Thank you.

Question: Isn't the intention of the feature that the blocked users don't get notifications from **each other**, so it should not matter who the author of the post is but **who the mentioning user is** - except if they are the same ones?

In the example above it was the author who mentioned that user in his post.

[2020-02-19 23:11] sushidave commented on #2656
@roschaefer Oh, I understand now: The notification doesn't make any sense if the mentioned user can't access the post.

[2020-02-19 23:32] mattwr18 commented on #2656
They can see the post, but cannot interact with it @sushidave

[2020-02-19 23:37] sushidave commented on #2656
@mattwr18 You're right! My mistake, sorry.
If they can access it why not notify them?

[2020-02-20 13:53] #2325 closed

[2020-02-20 17:36] mattwr18 opened #3117 "🐛 [Bug] Build server frequently times out"
## :bug: Bugreport

was able to replicate this locally and the debug points to an issue in this file
[code]

this is a dependency of `vue-loader`, but `vue-loader` is not being used anywhere that I can tell.
It was added in this commit https://github.com/Human-Connection/Human-Connection/commit/fb9a8605a965b7fc5fddc2b9fbc61e4eb1939017 , but not used anywhere.
It was added for storybook, but storyb

[2020-02-20 18:33] Ruben80 commented on #3013
Hi Can I help in this issue?

[2020-02-20 18:58] Ruben80 commented on #3085
Hi, can I help on this issue?

[2020-02-20 19:21] mattwr18 commented on #3085
Sure, that would be great @Ruben80, have you already made your way into our `Discord` server?
Have you gotten set up with the project locally, or using Docker? Have you had a chance to read the [contriubtion guidelines](../blob/master/CONTRIBUTING.md)?
If so, any questions? Can I assign you to the issue, or can you assign yourself? Let me know if we can help in any way!

[2020-02-20 19:56] Ruben80 commented on #3085
I did the project locally. I did not make it to the Discord server

[2020-02-20 20:03] mattwr18 commented on #3085
please join us there? http://hc.world/discord

[2020-02-20 20:35] DennisHack commented on #66
@roschaefer in every messenger, you have 100 emojis and more. People are used to it.

[2020-02-20 20:38] DennisHack commented on #66
I checked the issue again and files are there, description too. READY TO CODE as I talked to many people about that function in the past.

[2020-02-20 20:45] DennisHack commented on #66
I have made research and even PROOF about this functionality: Live Test documented from Alpha: https://youtu.be/oxUykexuCfc & https://youtu.be/Mj18dzAa-Hw AND please watch the user feedback on YT.

[2020-02-20 20:55] DennisHack commented on #66
People are actually actively voting on the emojis, we even do not have to motivate them, BUT limit  people to choose all emojis.

[2020-02-20 22:10] #3117 closed

[2020-02-20 23:14] Ruben80 commented on #2841
Can I help with this issue?

[2020-02-21 00:27] #2308 closed

[2020-02-21 10:59] #2685 closed

[2020-02-21 14:23] mattwr18 opened #3129 "🔧 [Refactor] ActivityPub - Create Feature"
## :zap: Refactor ticket
Look at this [cucumber feature](https://github.com/Human-Connection/Human-Connection/blob/master/backend/test/features/object-article.feature). You can create posts and comments ("objects") from a federated server.
**NOTE**The signature of the actor on the 3rd party server must be verified for any `WRITE` actions.
See [verify](https://github.com/Human-Connection/Human-Conn

[2020-02-21 14:47] sushidave commented on #3085
@alina-beck

The filter lists that block elements of #2888 are called "Fanboy's Annoyance" and "Fanboy's Social", e.g. used by uBlock Origin. Check them out before defining the new names of the buttons ;)

[2020-02-21 18:26] Ruben80 commented on #2931
Hi, can I help with this issue?

[2020-02-21 18:39] Ruben80 commented on #3086
Hi, Can I help on this issue?

[2020-02-21 20:02] Ruben80 commented on #2841
PR made

[2020-02-22 14:48] ogerly commented on #3000
a good proposal i would support

[2020-02-22 15:53] #2750 closed

[2020-02-22 19:24] sushidave commented on #2656
Just found another cause why notifications are not sent: It happens if you copy one ore more mentions from another post/comment instead of typing it in. Please verify and advise.

[2020-02-23 07:04] rbeer commented on #2607
https://github.com/rbeer/Human-Connection/tree/fix/%232607 proposes a fix by setting `padding-right`, whenever `.dropdown-open` is added. Differences of the width of the scrollbar bar, across browsers/platform is accounted for, as the `padding-right` value is calculated; although it seems a bit expensive to do that on each component _render_(?).

I saw the other day that PRs from a fork are not th

[2020-02-23 07:35] rbeer opened #3141 "[Bug] "Post" Ribbons visible over main-navigation and PageFooter"
## :bug: Bugreport
Blue "Post" `Ribbon`s on posts are visible above the main navigation, when scrolling down.
![hc_post_ribbons](https://user-images.githubusercontent.com/3411649/75105681-aa05d680-5616-11ea-824d-62d89c8fa1d8.png)

### Steps to reproduce the behavior
1. Log in @ https://develop.human-connection.org/
2. Scroll down

### Expected behavior
Ribbons should follow their posts, disappeari

[2020-02-23 09:39] #2275 closed

[2020-02-23 09:50] ogerly opened #3142 "💬 [Question] creating a superadmin?"
creating a superuser.

when deleting a user by an admin the following problems arise.
if i delete a user in the adminarea then the situation is clear. but what if an admin as a user wants to delete himself? i have already mentioned that there should be a superadmin for our project who can determine admins and can also remove their status. if an admin as a user wants to delete himself it is basical

[2020-02-23 14:43] roschaefer commented on #3000
I would ask the user not to click on "reply" if you want to reply more than one person. Just type in `@` and the name. I think this is a non-issue and would like to close it, your opinion?

[2020-02-23 16:54] rbeer commented on #3141
[PageFooter](https://github.com/Human-Connection/Human-Connection/blob/fa32c5789b5fcbc0881f56f601a2015eada18f8a/webapp/components/PageFooter/PageFooter.vue#L43) experiences the same issue, fo
![Screenshot_20200223-174936](https://user-images.githubusercontent.com/3411649/75116140-8ddd5600-5665-11ea-99a7-81e51dede68c.jpg)
r the same reason.

[2020-02-24 22:21] #3141 closed

[2020-02-25 11:25] #2370 closed

[2020-02-25 12:53] mattwr18 commented on #38
we still want a chat

[2020-02-25 12:54] mattwr18 commented on #321
this is a duplicate of https://github.com/Human-Connection/Human-Connection/issues/38

[2020-02-25 12:54] #321 closed

[2020-02-25 19:33] sushidave opened #3157 "🐛 [Bug] Post ribbons are positioned wrongly"
## :bug: Bugreport

In version 0.4.0 the post ribbons are positioned wrongly and they appear on top of the header instead of underneath it. See screenshot.

### Steps to reproduce the behavior
1. Log into the network.
2. Check the post feed page.
3. Scroll down to see the ribbons floating over the header.

See the blue ribbons on this screenshot:

![hc-bug-post-ribbons-positioned-wrongly](https://

[2020-02-25 20:02] rbeer commented on #3157
Noticed that too, yesterday. At least on mobile they jump to their correct position when the associated card element receives focus.

On small screens, the `Ribbon` also cuts into the content, when its text is longer.
![Screenshot_20200225-205914](https://user-images.githubusercontent.com/3411649/75282910-1c8ed600-5812-11ea-81e5-b49e83fa0c7c.jpg)

[2020-02-25 21:08] Tirokk opened #3158 "🚀 [Feature] I would like to have pictures in the editor"
## :rocket: Feature

If I create a post I would like to insert a picture into the editor at the cursors position.

### User Problem

- As an example if I create a description about the states of a plant growing I need to be able to have more than one picture mixed with text in my post.
- Because we like to be a knowledge network.
- I as the user must not upload the picture to somewhere else and th

[2020-02-25 21:52] sushidave commented on #2860
http://adaptive-images.com/
Is this useful?

[2020-02-26 09:35] roschaefer commented on #3082
@mattwr18 closing, fixed in #3089

[2020-02-26 09:35] #3082 closed

[2020-02-26 09:45] roschaefer commented on #2429
I think figured it out.

[2020-02-26 09:45] #2429 closed

[2020-02-26 10:13] roschaefer commented on #2897
Here are the new logos, thanks Björn:

![3 jpg](https://user-images.githubusercontent.com/2110676/75334876-e04a8c80-5888-11ea-9e8f-8f7435f27e5b.png)
![2](https://user-images.githubusercontent.com/2110676/75334877-e17bb980-5888-11ea-8a6a-b43f988e5f29.png)
![1](https://user-images.githubusercontent.com/2110676/75334879-e2145000-5888-11ea-8db9-b550cf95907b.jpg)

And the svg:

[code]

[2020-02-26 18:15] #2331 closed

[2020-02-26 18:15] #114 closed

[2020-02-27 16:47] sushidave commented on #3004
As a user I prefer the popup. The downside of the removal is that it's more time and effort for me as a user. It leads to more clicks, increased system load and loss of performance. I used the popup to check out new users on the newsfeed. It allowed me to easily see their location and decide whether i would check their profile and connect with them or not.

[2020-02-28 10:32] #2386 closed

[2020-02-28 16:24] sushidave commented on #2823
@alina-beck Thank you Alina. To me as a user it feels inconsistent if it in some cases it shows a popup menu and in others it leads to the notifications page. Currently, I don't know a better solution than the one I mentioned.

[2020-02-28 16:41] sushidave commented on #3076
@roschaefer Thank you for your suggestion. How would this work in combination with the other filters?

[2020-02-28 16:44] sushidave commented on #286
For posts this is related to issue #2198 .

[2020-02-29 18:39] sushidave opened #3185 "🐛 [Bug] Cropping JPG teaser images adds black background"
## :bug: Bugreport

If a user crops a teaser image in JPG format and selects part of the checked background the image gets a black background. This does not happen with GIF and PNG images.

JPG (left: after upload | right: after confirm)
![hc-cropping-jpg-teaser-image-adds-black-background-jpg](https://user-images.githubusercontent.com/17728384/75613156-a6001a00-5b2a-11ea-99c5-52f6d66c792d.png)

P

[2020-02-29 20:07] hermann-san opened #3186 "🐛 [Bug] Post options too small"
## :bug: Bugreport

Button to modify an existing post is IMHO too small relative to other buttons and text

### Steps to reproduce the behavior
1.  create a post
2.   Open the post and  check the button
Profit  :  It's easier to find the button when it has been made bigger

### Expected behavior
Button should be easy to spot

### Version & Environment
 Type:   Desktop
 - OS: Linux Mint 19
 - Brows

[2020-03-01 21:23] #2403 closed

[2020-03-03 23:01] hermann-san opened #3200 "🚀 [Feature] Single Sign On - LDAP or SAML support"
## :rocket: Feature
in order to integrate with other applications like [Synapse](https://github.com/matrix-org/synapse#synapse-installation)/ Matrix / [Riot](https://github.com/vector-im/riot-web)  or [Loomio](https://www.loomio.org) consensations , it would required support for  single sign on authentication or user directory like  [LDAP](https://likegeeks.com/linux-ldap-server/#LDAP-Server-Imple

[2020-03-04 12:39] roschaefer opened #3208 "🐛 [Bug] 504 timeout on login"
## :bug: Bugreport
We had a user who cannot log in to the network since 2 weeks. I debugged the problem with her and apparently, the graphql request to login succeeds but the subsequent request to `currentUser` leads to a 504 gateway timeout. I could reproduce the problem with her JWT and Postman. I could *not* reproduce the problem with the same request via Postman but with *my* JWT. So I assume

[2020-03-05 04:27] strypey commented on #114
Just wanted to give this a nudge.

@mattwr18 wrote:

Any updates on this?

FYI I recently tested various event promotion platforms that either have or instead to have AP support:
https://mastodon.nzoss.nz/@strypey/103696683904165823

[2020-03-05 05:03] strypey opened #3217 "💬 [Question] Why use MIT license instead of GNU APGL?"
The MIT license (like any non-copyleft license) allows anyone to use some or all of your code to build a proprietary version that works in ways totally counter to your values, without even having to be transparent and give you credit for your work building their back end. IANAL but I suggest [relicensing it to GNU AGPL](https://www.gnu.org/licenses/why-affero-gpl.en.html),  if it's possible to get

[2020-03-05 05:09] strypey commented on #2502
Is there an issue or other document on the web which tracks implementation of ActivityPub in Human-Connection, or a roadmap document where implementation is listed as a milestone?

[2020-03-05 09:00] #2383 closed

[2020-03-05 09:14] Tirokk commented on #3200
Wonderful @hermann-san that you opened this issue and gave all these informations.
Thanks a lot dear!!!

[2020-03-05 10:05] Tirokk commented on #2198
I would put the draft as well in the `Visibility` menu, or?
@alina-beck

[2020-03-05 11:33] #3208 closed

[2020-03-05 12:25] sushidave commented on #2198
Let's have a look at how WordPress does it:

They offer a draft status and other visibility options, too. In the UI the two functions are seperated for a good reason: _Draft_ and _public_ are statuses of publication while the other ones restrict visibility.

In the UI, WordPress shows the publication options in a fixed bar on top of the post and the visibility options in a scrollable sidebar:
![wp

[2020-03-05 12:41] sushidave commented on #2198
The top bar and the sidebar of WordPress offer some advantages compared to the current post editing layout of HC. If the goal is to implement a credential free access to the network (wiki mode) this would be an intermediate UI solution:

**a) For new posts or saved drafts:**

![post-visibility-options-new-post](https://user-images.githubusercontent.com/17728384/75982140-2be2e300-5ee6-11ea-9566-8ab

[2020-03-06 07:32] Tirokk commented on #2337
Should not be closed

[2020-03-06 07:40] Tirokk commented on #397
Is fore the future somewhen or for an open source contributor or bounty?

[2020-03-06 07:41] Tirokk commented on #251
Work is done. See #1954

[2020-03-06 07:41] #251 closed

[2020-03-06 07:42] Tirokk commented on #782
Still for the future.

[2020-03-06 07:43] Tirokk commented on #1489
Still for the future …

[2020-03-06 07:46] Tirokk commented on #305
We keep it till the notification for disabling is done soon.

[2020-03-06 07:47] Tirokk commented on #1200
Still for the future …

[2020-03-06 07:47] Tirokk commented on #777
Still for the future …

[2020-03-06 07:48] Tirokk commented on #308
Still for the future …

[2020-03-06 07:49] Tirokk commented on #2413
Still for the future …

[2020-03-06 07:50] Tirokk commented on #488
Still for the future …

[2020-03-06 07:51] Tirokk commented on #1140
Still for the future …

[2020-03-06 07:51] Tirokk commented on #2332
Still for the future …

[2020-03-06 08:02] mattwr18 commented on #2413
Metrics are already enabled @Tirokk
I have a command I can share with you to copy them to your encrypted HD

[2020-03-06 08:02] #2413 closed

[2020-03-07 14:41] #2168 closed

[2020-03-09 10:23] alina-beck commented on #2198
I think it's good we're having this discussion but would like to point out that marking posts as visible for `registered users` vs `public` and saving posts as `drafts` are two very different features.

Right now I think the public mode has top priority and I would definitely not want to display options to users that have no effect. So let's maybe start with two visibility settings: `public` and `

[2020-03-09 10:25] alina-beck commented on #2146
not stale

[2020-03-09 10:25] alina-beck commented on #2142
not stale

[2020-03-09 10:25] alina-beck commented on #2145
not stale

[2020-03-09 10:25] alina-beck commented on #2144
not stale

[2020-03-09 11:05] mattwr18 commented on #2198
I agree with @alina-beck ... let's keep it simple to start!

[2020-03-09 18:21] alina-beck commented on #2198
@mattwr18 you sound like @roschaefer :smile:

[2020-03-09 20:15] #2484 closed

[2020-03-10 10:15] #1662 closed

[2020-03-10 10:15] #1742 closed

[2020-03-10 12:01] #2607 closed

[2020-03-10 13:06] roschaefer opened #3250 "🚀 [Feature] Upload image files to S3 compatible object storage"
## :rocket: Feature
We would like to store image file on Digital Spaces or any other S3 compatible object storage.

### User Problem
Currently we save images in a kubernetes volume. This creates issues:
* We cannot scale the backend on Digital Ocean as they don't support multi-read-write access
* It's more expensive than a simple object storage
* It creates unnecessary load on our backend

### Imp

[2020-03-10 15:25] #1207 closed

[2020-03-10 15:25] #2495 closed

[2020-03-10 18:11] sushidave commented on #2198
@alina-beck @mattwr18

Thanks for your comments.

Would you agree if we split this issue into two and reduce the statuses as follows:
1. Publication statuses: draft, published
2. Visibility status: for registered users, not listed

These are statuses that can be implemented independant from a Public mode.

After talking to @DennisHack about his point for priority of the Public mode I strongly sugg

[2020-03-10 18:17] #3038 closed

[2020-03-10 21:26] sushidave opened #3252 "🚀 [Feature] Draft status for posts with auto-save feature"
## :rocket: Feature

As a user I would like to save my posts as drafts. Posts should be auto-saved periodically.

### User Problem

Currently for posts, there is no possibility to save them as a draft and continue on them later and eventually publish them. It's either make or break.
Posts in the making are lost if the server is rebooted, if the network has an outage or if the user clicks the back

[2020-03-10 21:29] sushidave commented on #2198
@alina-beck According to our today's chat I created #3252 for the draft status part, so this issue here can be used for the publication statuses only.

[2020-03-11 08:44] rbeer commented on #3252
One word: localStorage! :wink:

- No additional load onto servers
- Drafts can be saved without any user-interaction
- Drafts can be saved on every single character

[2020-03-11 10:43] ogerly commented on #3000
this will not be implemented now

[2020-03-11 10:56] Tirokk commented on #2823
Is merged

[2020-03-11 10:57] Tirokk commented on #2823
Is merged

[2020-03-11 10:57] #2823 closed

[2020-03-11 12:51] #2501 closed

[2020-03-12 19:18] #2355 closed

[2020-03-13 03:36] rbeer commented on #1741
How about an overflow container with filter capability for the users with lots of connections?
![follower-list](https://user-images.githubusercontent.com/3411649/76587376-f17bd600-64e3-11ea-89ee-0337ec1d3f9d.gif)

I guess that only goes for public profiles, right? Users will still be able to see both sides?
I'd make it a reusable component then.

[2020-03-13 15:26] mattwr18 opened #3266 "💥 [DevOps] Upgrade Travis to use node version 12"
## :fire: DevOps ticket

Update the .travis.yml file to use the latest `node latest stable Node.js release` https://docs.travis-ci.com/user/languages/javascript-with-nodejs#specifying-nodejs-versions
### Motive

It should use the same version we use in production, also there is a dependency blocked by our node version, according to @roschaefer https://github.com/Human-Connection/Human-Connection/p

[2020-03-14 08:32] ogerly commented on #2144
@alina-beck first draft is there. now the question is how the style should be.

[2020-03-14 13:46] #1879 closed

[2020-03-15 05:46] #571 closed

[2020-03-15 05:46] #1229 closed

[2020-03-16 11:54] #3266 closed

[2020-03-16 13:14] #2141 closed

[2020-03-17 12:50] #1948 closed

[2020-03-17 14:50] #2564 closed

[2020-03-17 17:48] sushidave commented on #3000
@ogerly How about this easy solution:
- normal click/tap inserts the mention into the new comment and scrolls down to there
- new: long click/tap inserts the mention into the new comment and shows a toast message, without scrolling

[2020-03-18 20:40] #2798 closed

[2020-03-18 20:40] #2799 closed

[2020-03-19 16:26] #2601 closed

[2020-03-19 18:24] Mogge commented on #265
Keep it open

[2020-03-20 11:25] #2143 closed

[2020-03-23 10:55] rbeer commented on #2117
done in #3258

[2020-03-23 10:55] #2117 closed

[2020-03-23 11:35] alina-beck commented on #726
don't close

[2020-03-23 11:35] alina-beck commented on #2272
don't close

[2020-03-23 11:35] alina-beck commented on #2289
don't close

[2020-03-23 11:36] alina-beck commented on #2270
don't close

[2020-03-23 11:37] alina-beck commented on #2271
this would still be a great community task...

[2020-03-23 12:44] sushidave opened #3321 "🐛 [Bug] Migrate undeleted comments of Anonymous users from Alpha to Nitro"
## :bug: Bugreport

On 20th September 2019, user _hannelore_at_ reported that the comments of her deleted account from the Alpha version are missing in Nitro the version although she had chosen not to have her contents deleted.

Example of post with missing comments:
https://human-connection.social/post/5c7a539e71d6940092b2cf1a/art-2-der-menschenrechte-verbot-der-diskriminierung
At least the first

[2020-03-23 17:43] mattwr18 opened #3322 "🐛 [Bug] Image.url returns undefined and crashes site"
## :bug: Bugreport

Image.url should never return undefined

### Steps to reproduce the behavior
1. dump production data locally
2. visit site
3. site crashes on index
4.
5. Profit

[2020-03-24 12:41] #3322 closed

[2020-03-24 12:44] Mogge commented on #2142
I would like to close this issue. The results for each category (post, user, hashtag) is limited to five. So there is a maximum of 15 results in the drop down in the current version.

[2020-03-24 12:44] #2142 closed

[2020-03-24 12:48] Mogge commented on #308
Is this still relevant?

[2020-03-24 12:57] Mogge commented on #2145
Query in the search field will search for when starting with
 - ! posts only
 - @ users only
 - \# hashtags only

On the search page, the frontend can use these prefixes to specify the task to the backend. Combinations should be possible (e.g. @\# searches for users and hashtags only)

[2020-03-24 13:06] Mogge opened #3328 "🚀 [Feature] Search by Specific Type"
## :rocket: Feature
So far, the search delivers results for Posts, Users and Hashtags. The back end should provide a mechanism to only provide results for specified types.

Related to #2145

### Implementation
Query in the search field will search for when starting with

    ! posts only
    @ users only
    # hashtags only

On the search page, the frontend can use these prefixes to specify the ta

[2020-03-24 13:18] Mogge opened #3329 "🚀 [Feature] Search for Users by Location"
## :rocket: Feature
Users should be found by location. Find users close to my location.

relates to #266

### Implementation
Search for Location. Use spatial functions to find users close the the searching user.

[2020-03-24 13:47] Mogge commented on #2800
Soon we will have a search result page. This page can be reached by pressing enter in the search field. After pressing enter the search is triggered independently of the length of the input. This should fix the problem.

[2020-03-24 14:22] sushidave commented on #2800
@Mogge Thank you. Is the search result page going to replace the current limited seach result preview or is it additionally?

[2020-03-24 15:18] Mogge commented on #2800
It is additionally. When you press enter, you will see a page showing the results of the search more detailed as in the drop down. Also there are shown more results than just five for each type as it is now. The work on this page is in progressed, planned to be deployed in two weeks to production.

[2020-03-24 17:46] sushidave commented on #2800
@Mogge So the results on the preview and the first results of the views of the results page are identical (except that the results page contains more details)? In other words, no more limitation for the length of the input for the preview?

[2020-03-24 20:42] sushidave commented on #2144
If I may propose a change request please.

The latest draft is implementing kind of a list view which is not in scope, plus it's about to introduce design elements which deviate from the existing design.

I suggest to:
1. Stay with the current card view for both the post results view and the user results view.
2. Implement a view switch as proposed by feature #2145 .
3. Implement the list view lat

[2020-03-24 21:06] sushidave commented on #2144
@alina-beck

Can we just let the search term stay in the search field instead? Please look at how Communecter does it: https://www.communecter.org/#search?text=Caf%C3%A9

Can we use the X of the search field for that?

[2020-03-24 22:08] roschaefer opened #3330 "🐛 [Bug] HTTP 500 error on user profile when user is deleted and refetched"
## :bug: Bugreport

When you visit a user profile, e.g. http://localhost:3000/profile/u6/louie and the user is deleted by an admin, if your client (the browser) reloads the user you will see a 500 error instead of a 404 error.

### Steps to reproduce the behavior
1. Log in to your local development environment http://localhost:3000/login
2. Visit http://localhost:3000/profile/u6/louie
3. Delete us

[2020-03-26 14:53] #3250 closed

[2020-03-27 09:32] sushidave opened #3357 "🐛 [Bug] Comment updates only shown after page reload"
## :bug: Bugreport

Sometimes comment updates are not shown instantly but only after a page reload.

### Steps to reproduce the behavior
1. Update an existing comment.
2. Click on the save button
3. Check the comment. Sometimes the updates are not shown.
4. Reload the page and check the updated comment.

### Expected behavior

Comment updates shown immeditately after clicking on the Save button.

[2020-03-27 10:51] mattwr18 opened #3358 "🐛 [Bug] Counter UI appears broken sometimes"
## :bug: Bugreport

I noticed today that the number of the counter icon sometimes is misplaced.
![Screenshot from 2020-03-27 11-48-36](https://user-images.githubusercontent.com/26943915/77748754-29753400-7021-11ea-8b1d-52c24979cd82.png)

### Steps to reproduce the behavior
1. not sure
2. sometimes it's like that, sometimes it's normal
3.
4. ...
5. Profit

### Expected behavior

### Version & Envir

[2020-03-27 13:20] Mogge commented on #2800
No. If you press enter, the search triggers no matter how many characters are in the search box. When not pressing enter, the search triggers after having an input of at least 3 chars.
You can find user @tj now, when typing tj and press enter:
![image](https://user-images.githubusercontent.com/15882241/77760030-0608b400-7036-11ea-9c8e-792d5c28da6a.png)

[2020-03-27 15:15] sushidave commented on #2800
@Mogge Thanks. I tried to search for user "tj" and it worked.

The search function seems to work now for usernames that start with letters but it's inconsistent with those containing numbers or special characters:

Examples:
- "_" → hitting Enter doesn't show the search result list
- "_michael" → _ to _mi + Enter doesn't trigger search result list, but listed with _mic and more
- "12c" → user not

[2020-03-27 15:35] sushidave commented on #2144
Please consider a change of concept for the search results preview. For users, it's quite confusing that sometimes a preview is triggered with 1 or 2 characters, sometimes not, depending on the type of characters of the search term, see the discussions of #2800 .

For the sake of a consistent UX I propose:
1. not to trigger the search result preview automatically, so that users need to press Enter

[2020-03-28 20:57] #212 closed

[2020-03-29 15:59] erhardtstiefel commented on #2920
@sushidave @DennisHack What does that mean: This issue has been automatically marked as stale because it has not had recent activity? Is there no interest by the programmers or is my issue not worth to be considered to be realized at all? I'd like to get an answer or at least a hint how I can keep my issue alive. Otherwise I'm no more motivated to write any issues at all.

[2020-03-29 16:05] sushidave commented on #2920
@erhardtstiefel It's not what it seems. There is a bot labeling the issues as "stale" that had no recent activity. Apparently, the purpose of it is to tidy up this GitHub repo. It's sufficient to just add a comment, like you did, in order to remove the "stale" label and reset the count down to another 1.5 months or so.

[2020-03-29 21:50] alina-beck commented on #3096
PR #3257 is only the first step... :wink:

[2020-03-30 06:09] rbeer commented on #2920
We can do this automatically when pasting the text.
The problem here though is: what constitutes an *unwanted* line break?

@erhardtstiefel Could you give me some examples with the sources? We will have to look at what exactly is responsible for the editor inserting those breaks.

[2020-03-30 07:01] erhardtstiefel commented on #2920
The example shown under **User Problem** above is a screenshot of a text copied from a MS Word document with blockset formatting and pasted into the post window.
![2020-03-30 Formatting Problem 1](https://user-images.githubusercontent.com/49943365/77884211-ec00e880-7264-11ea-9a28-ce5c1e9fd409.JPG)
![2020-03-30 Formatting Problem 2](https://user-images.githubusercontent.com/49943365/77884226-f15e33

[2020-03-30 07:12] erhardtstiefel commented on #2920
see also this post https://human-connection.social/post/2d423742-6f2e-4f60-a98b-e16840485cbf/bonhoeffer-von-der-dummheit-1

[2020-03-30 15:11] mattwr18 opened #3376 "🔧 [Refactor] Remove ds-flex from SearchPost/refactor"
## :zap: Refactor ticket

We can accomplish this with `CSS`... we want to use this as an excuse to refactor legacy code.

### Motive

 we want to refactor `ds-flex` and `ds-flex-item` out of the code base as part of our migration removing the styleguide.
### Related issues

https://github.com/Human-Connection/Human-Connection/issues/3096
### Implementation

use `CSS` flexbox

[2020-04-01 08:52] Tirokk commented on #3328
This is a good thing in my eyes @Mogge 👍🏼😍

[2020-04-01 08:54] Tirokk commented on #3329
This is social @Mogge 😍

[2020-04-01 09:06] Tirokk commented on #3157
This is really ugly exactly. And therefor has a certain urgents in my eyes.
Can we change this @alina-beck ?
I would really appreciate. 🖖🏼

[2020-04-01 11:27] mattwr18 opened #3389 "🔧 [Refactor] Add errors: undefined to searches.spec.js"
## :zap: Refactor ticket

Sometimes, the tests fail and we don't know why they have failed, it just returns `data: null`
### Motive

We need feedback on why the tests are failing. With `errrors: undefined` we can get that feedback.

[2020-04-01 12:58] #3389 closed

[2020-04-02 06:32] mattwr18 opened #3394 "💥 [DevOps] Take a volume snapshot of the uploads-claim"
## :fire: DevOps ticket

we have all our images hosted on `DO spaces` and will soon be deleting the `uploads-claim`.

### Motive

we have backups on our local encrypted `HD`, but it is much faster/simpler to create an upload claim from a `volumesnapshot`
### Related issues

### Implementation

check that you are in the production context
1) `kubectl config get-contexts`
2) `kubectl get volumesnaps

[2020-04-02 09:53] rbeer opened #3395 "🐛 [Bug] Editor using LegacyEmbed, only"
## :bug: Bugreport
Editor embeds are being saved in the legacy inline format.
When defining both `Embed` and `LegacyEmbed` in [defaultExtensions.js](https://github.com/Human-Connection/Human-Connection/blob/master/webapp/components/Editor/defaultExtensions.js#L40-L53), the latter definition always takes precedence.

The new block level format has therefore been in use for only 6 days ([2019-11-15]

[2020-04-02 12:39] sushidave commented on #1472
@alina-beck Is this still an open question? In Alpha, users were able to add images to their posts by pasting the image URL, a function that Nitro doesn't provide (yet). So imho the primary question would be: "Do we want to enable users to add images to their posts?" What do you think?

[2020-04-03 18:13] sushidave commented on #1934
See you later, stale bot 😋

[2020-04-04 08:00] mattwr18 opened #3412 "💥 [DevOps] Database manipulation to set Report.disable"
## :fire: DevOps ticket

Create a database migration to set  `Report.disable` to the final decision, last review rules.

### Motive

Currently, we have about 300 Reports with `disable` as `null`, and it's labeled as non-nullable in `Report.gql`. Also, we might need toggle the state of a resource disable in different `Report` decisions.
This can make it difficult to find out which `Report` disabled

[2020-04-04 08:21] mattwr18 commented on #3074
closing this as we are no longer exposing `Report` properties to unauthorized users.
The ToDo to write a database migration has been extracted into its own issue. See https://github.com/Human-Connection/Human-Connection/issues/3412

[2020-04-04 08:21] #3074 closed

[2020-04-05 10:14] sushidave commented on #2987
Still requested

[2020-04-05 12:29] genofire commented on #2661
:-1:

[2020-04-05 20:53] mattwr18 commented on #3009
Being worked on

[2020-04-06 05:31] abramwingle commented on #2434
I would like to take this on.

[2020-04-06 08:23] Tirokk commented on #3157
I talked to @mattwr18 and he explains me that this is an issue which is already fixed and should have bee closed already @alina-beck .
Is that true, because here is no PR referenced …

[2020-04-06 08:34] Tirokk opened #3426 "🐛 [Bug] Post Ribbons Are Not On The Right Height"
## :bug: Bugreport

Post ribbons are not on the right height on the post cards in the news feed.

<img width="1769" alt="Bildschirmfoto 2020-04-06 um 10 19 34" src="https://user-images.githubusercontent.com/25344101/78538721-bbcfc180-77f1-11ea-82cc-ac3c426316a6.png">

### Steps to reproduce the behavior
1. log in
2. go to the newsfeed page
3. see the bug

### Expected behavior

Ribbons on post car

[2020-04-06 09:02] alina-beck commented on #3426
duplicate of #3157

[2020-04-06 09:02] #3426 closed

[2020-04-06 09:09] alina-beck commented on #3157
The scrolling on top of the header is fixed, the position of the ribbons is not.

What would you think about removing the `ribbon` altogether? I don't really see that it adds any value – at the moment it just clutters the UI.

[2020-04-06 10:14] sushidave commented on #3157
@alina-beck Hi Alina. I'm not sure about the removal of ribbons. Currently they are used for:
- Announcements
- Posts
...and in the future for other types of contributions like #262 .

[2020-04-06 11:31] mattwr18 opened #3427 "💥 [DevOps] Script to take Backups of DigitalOceans Spaces files"
## :fire: DevOps ticket

 Create a script that can be run weekly(or monthly) to create a local backup of our images in `DO Spaces`
### Motive

We currently are storing all our images in DigitalOcean Spaces. We want to have a backup on encrypted hard drives in case of emergency
### Related issues

### Implementation

I have set it up locally with `aws cp --recursive`, but it seems to only support `

[2020-04-06 19:10] Tirokk commented on #2434
Hello @abramwingle .
I clarify in the `Daily Standup` tomorrow.
I think it’s very early for you to be there yourself. On Discord in the Conference Room at UTC 09:30.
I let you know if all is clear and okay with this one.

[2020-04-07 09:49] #3427 closed

[2020-04-07 09:56] Tirokk commented on #2434
Hello @abramwingle ,
you can go for this issue! 👍🏼

[2020-04-07 11:09] sushidave commented on #577
This feature is still required.

[2020-04-07 11:27] sushidave commented on #577
@Jensebluemchen
A few questions on the requirements for this feature:
- Would it require every user to have a wallet or only those who trade with FairCoins?
- Should there be a place in the account settings where users can store the address of their FairCoin wallet?
- Should the FairCoin button be displayed only on posts by users who have a FairCoin wallet address stored in their HC account?

[2020-04-07 11:34] sushidave commented on #2434
@abramwingle Hello Abram! Welcome to this project and thank you for dedicating your time and knowhow to it!

[2020-04-07 11:44] sushidave commented on #2434
@cryolis Sorry, I just realised that you had asked for taking this up before. I have a similar idea for you: A capslock icon on the left of the show/hide button that is visible if the user's capslock key is active. Please tell me if you're interested to work on it together with Abram or separately. Depending on your choice I will either adapt the requirements of this issue or create a new one for

[2020-04-07 14:50] #3376 closed

[2020-04-08 06:21] Tirokk commented on #3394
Done 💫

[2020-04-08 06:21] #3394 closed

[2020-04-08 08:35] sushidave commented on #3024
Seems to be solved.

[2020-04-08 08:35] #3024 closed

[2020-04-08 10:15] Tirokk opened #3449 "💥 [DevOps] Update Docs For Spaces Backups"
## :fire: DevOps ticket

Add copy goal to the `s3cmd` for backup our images on Spaces.

- Complete PR: Update docs for spaces backups #3428

[2020-04-08 10:23] Tirokk opened #3450 "💥 [DevOps] Update Docs For Volume Snapshot"
## :fire: DevOps ticket

Add command to show the existing snapshots:
`kubectl get volumesnapshots -n human-connection`

[2020-04-09 13:19] Raimundo-dev opened #3460 "🚀 [Feature] Post List View"
## :rocket: Feature

### User Story

[code]

### User Problem

DE:
Ich habe das Problem, dass ältere Posts schwer auffindbar sind, weil sie in dem Feed nach unten hin schnell verschwinden.

EN:
I have the problem that older posts are difficult to find because they quickly disappear down into the feed.

### Implementation

DE:
- Das Feature wird sowohl für die News-Feed-Seite als auch für das Profi

[2020-04-09 14:34] Raimundo-dev opened #3461 "🚀 [Feature] Post Visibility Draft"
## :rocket: Feature

### User Story
[code]

### User Problem

EN:
- I have an unfinished post and would like it not to be published when I save it.
- I want to make an already published post invisible so that I can republish it later.

DE:
- Ich habe einen unfertigen Post und möchte, dass er noch nicht publiziert wird, wenn ich ihn abspeichere.
- Ich möchte einen bereits publizierten Post unsichtb

[2020-04-09 14:38] Raimundo-dev opened #3462 "🚀 [Draft][Feature] Pin Posts On User Profile"
## :rocket: Feature

### User Problem

### Implementation

### Design & Layout

### Validation

### Additional context

[2020-04-10 17:32] Jensebluemchen commented on #577
1. No, not everyone on the network has to have a wallet. It's supposed to be an on-off option.

2. Yes, I would find this option useful, but I do not know the amount of work involved.

3. Yes this could also be set as on off option

Thank you, for asking  👍

[2020-04-10 19:52] sushidave commented on #577
@Jensebluemchen Thank you too! I suggest that you add these specifications to the "Preferred solution..." section of your feature description.

[2020-04-10 23:46] nila99 commented on #2888
Hi! If no one else has done this I can work on it!

[2020-04-11 10:24] sushidave commented on #2888
@nila99 Hello Nila! Welcome to this project and thanks very much for your readiness to work on it!

I just noticed that in the meantime this bug has been partially solved: The label of the filter option "users i follow" is now visible while the follow button on the profile page is still suppressed.

@alina-beck You're the master of styles :) Could you please check on this and coordinate the next s

[2020-04-12 22:46] rbeer opened #3468 "🔧 [Refactor] backend test db setups/teardowns"
## :zap: Refactor ticket
Backend tests are slow, because the test DB is often cleared after each test of a suite.
Seting up the database only once before and clearing it only after each suite reduces the test time by e.g. 60%.

![beforeEach](https://user-images.githubusercontent.com/3411649/79081504-67ab6c80-7d1e-11ea-90b8-c6aacc6e3c0e.png)
![beforeAll](https://user-images.githubusercontent.com/34

[2020-04-13 09:18] mattwr18 opened #3478 "💥 [DevOps] Remove uploads-claim and scale backend"
## :fire: DevOps ticket

We are now using DigitalOcean Spaces for our uploads, we need to clean up by removing the uploads-claim in staging and production.
After this, we can scale the backend.
### Motive

We no longer use these persisent volumes/claims
 ### Related issues

### Implementation

### Validation

when the backend is scaled to 2 replicas and everything running properly
### Additional c

[2020-04-13 10:49] erhardtstiefel commented on #3040
I know this is not the **most** important feature requested but I'm missing it every day ... please implement it if possible. Thousands would thank you for it. I'm sure.

[2020-04-14 12:29] rbeer commented on #3065
Is this still a problem?
I can't reproduce this on the develop instance.
Should have been fixed with #3218

[2020-04-14 13:48] #2338 closed

[2020-04-14 13:48] #2217 closed

[2020-04-14 15:48] #727 closed

[2020-04-15 09:25] Tirokk commented on #3478
I attached the changes as a PR #3484 for little discussion to this issue.

Shall I just copy my private notes for the commands to the issue description above ☝🏼? @mattwr18
Or here in a comment?

[2020-04-15 14:14] erhardtstiefel commented on #3065
trouble is fixed, thank you

[2020-04-15 14:14] #3065 closed

[2020-04-15 14:55] Mogge commented on #3461
I like this idea. May be it could be linked to #288 ?

[2020-04-15 22:36] rbeer commented on #2238
source: `pasteRule` expression in /webapp/components/Editor/nodes/LegacyEmbed.js
merge with #3395

[2020-04-15 22:36] #2238 closed

[2020-04-16 07:28] Tirokk commented on #2628
Is not stale. See related PR.

[2020-04-16 10:48] #2727 closed

[2020-04-18 12:30] rbeer commented on #2356
Hello Erhard! :)

Yes, just reference this one.

You will have to get a local development instance running. THere is a [guide](https://docs.human-connection.org/human-connection/installation) for that.

between en.json and it.json. It looks like there was code added in en.json but forgotten to syncronise it to it.json. What can I do?

Since you have added the other translations, you could do the s

[2020-04-19 18:03] rbeer commented on #2356
Not fixed
https://github.com/Human-Connection/Human-Connection/blob/32e5801d20ddcb3c56407dc7f02f00c8c316337a/webapp/locales/it.json#L36-L40

[2020-04-20 11:01] #1741 closed

[2020-04-20 19:25] sushidave opened #3492 "🐛 [Bug] Lists in posts and comments are not displayed as lists"
## :bug: Bugreport

Since release 0.6.0 numbered and unordered lists in posts and comments are no longer displayed as lists anymore, nor in the editor.

### Steps to reproduce the behavior
1. Create a new post or a comment.
2. Format any text by clicking one of the list buttons of the toolbar.
3. The list is not displayed as a list.
4. Save the post or comment => the list is not displayed as a lis

[2020-04-20 20:00] sushidave commented on #3158
@Tirokk See also #1472 and #1066

[2020-04-21 00:31] rbeer commented on #3492
Styles are removed in:
https://github.com/Human-Connection/Human-Connection/blob/9aacb22a582ff72c90c1c46c2480a506c9f5d6a8/webapp/assets/_new/styles/resets.scss#L23-L28

[2020-04-21 04:09] nila99 commented on #2888
Hi, I think I fixed this issue (the follow button now shows up for me with uBlock). I've submitted pull request #3494

[2020-04-21 04:28] nila99 commented on #3462
Hi I can work on this!

[2020-04-22 10:25] sushidave opened #3498 "🐛 [Bug] Checkboxes missing on delete user account page"
## :bug: Bugreport

The checkboxes on the delete user account page are missing in the code of the frontend. Currently, users cannot delete their posts and comments when deleting their account.

![hc-delete-user-account-checkboxes-missing](https://user-images.githubusercontent.com/17728384/79970912-ed07ed00-8493-11ea-9dbc-ce2483a2e37e.png)

### Steps to reproduce the behavior
1. Log into the networ

[2020-04-22 13:17] Tirokk commented on #3461
Yeah @Mogge this is clearly linked to each other.
Thanks for the hint!

[2020-04-22 13:26] Tirokk commented on #3462
Okay @nila99  !
This is kind of sophisticated.
Hope that’s okay for you? I guess …

Please don’t commit from a fork.
The build tests will fail with Travis …

I invited you to our volunteers team.
Check your e-mails …

[2020-04-22 13:35] Tirokk commented on #727
This is not stale! ;-))

[2020-04-22 18:56] #2658 closed

[2020-04-22 20:13] rbeer commented on #2931
Hi @Ruben80
Are you still with us?

[2020-04-23 05:00] Tirokk commented on #281
Not stale!

[2020-04-23 05:00] Tirokk commented on #281
Not stale!

[2020-04-23 05:06] Tirokk commented on #3158
Thanks for your hint @sushidave ! 👍🏼🙏🏼
I put this in the description.
(I wrote to you on Discord personally. If you like I would like to have a Zoom with you. 🤗🍀)

[2020-04-23 05:09] Tirokk commented on #2873
Is not stale!

[2020-04-23 05:42] Tirokk commented on #1264
This is really essential I think.
Here is the issue we talked about @Raimundo .

[2020-04-23 05:46] Tirokk commented on #209
Is not stale …

[2020-04-23 05:47] Tirokk commented on #2785
Is not stale!

[2020-04-23 05:53] Tirokk commented on #1036
Hey @rbeer ,
if you work on migrations related to the editor may this could be something for you as well?

[2020-04-23 05:54] Tirokk commented on #2604
Is not stale!

[2020-04-23 05:55] Tirokk commented on #2886
Not stale!

[2020-04-23 05:55] Tirokk commented on #252
Not stale!

[2020-04-23 05:57] Tirokk commented on #2784
Not stale!

[2020-04-23 05:59] Tirokk commented on #1183
Is not stale!

[2020-04-23 05:59] Tirokk commented on #2786
Is not stale!

[2020-04-23 06:04] Tirokk commented on #2292
May it is a possibility that individuell users could scale the width of a post with scaling up `+` and down `-` button or even with a scaling symbol to click hold and move it? @alina-beck

[2020-04-23 06:56] Tirokk commented on #308
You know best @Mogge .
I think it is irrelevant if you ask this way.
Can you check the details for things still relevant or good ideas. And if you think „all“ relevant things are done in your actual PR #3271 then close this one.

[2020-04-23 07:30] rbeer commented on #2784
#3093 removed the hover menu, didn't it?

[2020-04-23 08:34] rbeer commented on #1036
If you don't mind me throwing my regex's around? :smirk:
Migration is a must-have, I would say. The account in your repro example has changed their name, since. Link now leads to a 404. Not good, at all.

I'm on it :)

[2020-04-23 09:03] Tirokk commented on #2270
Still a cool idea!

[2020-04-23 09:13] Tirokk commented on #1036
Cool @rbeer ! 🤗

Yes Marinellas slug seems to have changed already. That’s a real petty!
I find this a problem at the time we migrated, but couldn't get it through though.

[2020-04-23 09:22] Tirokk commented on #2784
Yes, you are right @rbeer ! 👍🏼

We go for #3007 and I close this now.

[2020-04-23 09:22] #2784 closed

[2020-04-23 09:29] Tirokk commented on #3014
I’ll done @sushidave !

[2020-04-23 14:15] Tirokk commented on #3013
Sorry @Ruben80 that I haven’t responded so long.
Are you still interested in helping?

[2020-04-23 23:21] Oubi44 commented on #262
We need this Feature!

[2020-04-25 17:35] sushidave opened #3504 "🐛 [Bug] Wrong German umlaut handling for usernames at account creation"
## :bug: Bugreport

At account creation, usernames are not encoded correctly if the profile name contains one or more German umlauts:
Ä/ä -> a
Ö/ö -> o
Ü/ü -> u

Examples:
- Sandra Märtens -> sandra-martens
- Oliver Stöckel -> oliver-stockel
- Günter Hürst -> gunter-hurst

### Steps to reproduce the behavior
1. Create a new account using one or more German umlauts in the profile name.
2. Check the

[2020-04-25 18:22] sushidave opened #3505 "🚀 [Feature] Display favicons for social media links on profile page"
## :rocket: Feature

Display the favicons of social media links on the user profile page.

### User Problem

Currently, a standard icon is displayed for all social media links on the user profile page. This makes it hard for users to recognise the social media network instantly, especially for the larger networks. However, the respective favicon for each link is displayed on the social media page

[2020-04-26 17:33] erhardtstiefel commented on #2918
Why is an issue moved to '**Essential Features in Roadmap**' set to stale? It would save me a lot of time every day if this would be implemented.

[2020-04-26 17:36] erhardtstiefel commented on #2917
This is just a notice to remove the stale label.

[2020-04-26 17:38] erhardtstiefel commented on #2356
Sorry, but as I mentioned I do not know how to fix it although I'm interested to know how to do it.

[2020-04-26 18:08] mattwr18 commented on #2918
@erhardtstiefel we have a stalebot, which automatically marks issues that are older than a certain time period as stale. If you comment on the issue it will be removed from the list, and won't get closed.
There are several benefits, but also some downsides to having this bot. We can discuss them further, if you are interested.

[2020-04-26 18:18] mattwr18 commented on #2356
I think this issue can be closed @rbeer and @erhardtstiefel because the issue is about the Donations slider that is no longer visible for users, nor is it clear if it will ever be used again.
There might be another issue that there are missing translations, but as far as I remember @roschaefer made to where there is a fallback language, which is English, I believe. Obviously, we would like to have

[2020-04-27 08:17] rbeer commented on #2356
@mattwr18 Maybe rename it, because the issue is not minor, yet easy to fix.
The missing (or rather empty) strings often let their component's layout collapse; entire buttons, links, texts just disappearing.

@erhardtstiefel
You basically already did the major bulk of the work.
Take a look at 9ec166e! Simply removing all those keys that have empty strings as values solves the issue, because then th

[2020-04-27 10:49] erhardtstiefel commented on #2356
Scusate, non sono italiano e non sono un programmatore. Volevo solo aiutare a modificare un numero che è stato dichiarato per i principianti.
Sorry, I'm not Italian and I'm not a programmer. I just wanted to help editing an issue that was declared for beginners.
Tut mir leid, ich bin kein Italiener und kein Programmierer. Ich wollte nur helfen ein issue zu bearbeiten, das für Anfänger deklariert w

[2020-04-27 11:22] erhardtstiefel commented on #2918
Hi Matthew, thank you for offering to discuss with me the advantages and disadvantages of a stalebot. But I'm more interested in solving this issue. Is it really so difficult to adjust the width of three different front end windows to equalize them? Sorry, I'm not a programmer but this is hard to understand.

[2020-04-27 11:37] mattwr18 commented on #2918
Hey @erhardtstiefel ... I haven't looked at this issue, sorry. I don't know if it would be easy or difficult technically. Sometimes, how quickly an issue is deployed to production is not directly related to how challenging it is, but how much of a priority it is, if there is anyone who takes responsibility for it, etc...
At the moment, anyone contributing to the project is doing so on a volunteer

[2020-04-27 16:33] erhardtstiefel commented on #2918
Thanks, I know.

[2020-04-29 17:54] adarsh-av13 commented on #2931
Hey, is this still open?

[2020-04-29 17:58] mattwr18 commented on #2931
Looks like it @adarsh-av13... You can see the line of code here https://github.com/Human-Connection/Human-Connection/blob/9aacb22a582ff72c90c1c46c2480a506c9f5d6a8/webapp/pages/code-of-conduct.vue#L28

Did you want to work on it?

[2020-04-30 20:01] adarsh-av13 commented on #2931
Yes

[2020-05-03 14:41] #211 closed

[2020-05-04 08:34] Tirokk commented on #2583
Is this still valid @ogerly @mattwr18 ?

[2020-05-04 08:38] Tirokk commented on #38
Still valid …

[2020-05-04 08:40] Tirokk commented on #1374
Should not be closed.

[2020-05-04 08:43] Tirokk commented on #2635
Is this maybe something for you @rbeer ?

[2020-05-04 08:47] Tirokk commented on #3000
Good idea @sushidave !
Thank you.

I would recommend a double click for not scrolling and show the toast message.
And a hint if one hovers over which explains this functionality? @ogerly

[2020-05-04 08:48] Tirokk commented on #430
Its not stale so far!

[2020-05-04 08:49] Tirokk commented on #726
Still valid!

[2020-05-04 21:19] klaffert commented on #3505
@sushidave Is this still open? If so, I'd like to take it on!

[2020-05-04 22:09] sushidave commented on #3505
@klaffert Hi Kelliann! Greetings to Seattle and thank you for your readiness to contribute to this project. I think this issue is still open. @Tirokk could you please advise Kelliann if she can give it a go?

[2020-05-05 17:06] erhardtstiefel commented on #2583
Alex, I'm confused. Why is it so a big problem just to change an expression. Or is it a variable or procedure name and nobody knows what happens if it will be changed? Why is this system so complicated? I tried to help but I'm disappointed and guess I'll never understand. Sorry.

[2020-05-07 03:27] strypey commented on #2502
If you're looking for other developers who are working with ActivityPub, so you can pick their brains about how to make use of AP, you could try browsing the AP developers forum, and maybe opening some threads to ask specific questions:
https://socialhub.activitypub.rocks/

[2020-05-07 10:48] Mogge opened #3543 "🚀 [Feature] Configuration for different operators"
## :rocket: Feature
From the admin page it should be possible to configure operator specific data like name, logo, etc.

### User Problem
So far all operator specific data is mostly hard coded. To make it easy for other operators using their name, logo, etc., those should be configurable from the admin page.

### Implementation
 - Upload the logo which appears in the upper left corner from the adm

[2020-05-07 10:50] Mogge commented on #3505
@klaffert you are very welcome to work in this issue. Please get in touch with us on discord:
https://discord.com/channels/489522408076738561/497575439657599006

[2020-05-07 10:54] Tirokk commented on #3505
Hello @klaffert , nice you want to take this one over.

Please don’t push from a fork. This leads to the failing Travis builds.
I send you an invitation to via mail so that you are able to pull and push directly to this repo.

Our conversation runs over our discord channels like @Mogge just wrote. 👆🏼
http://hc.world/discord
… is another possibility to get to it. Or:
https://discord.com/invite/DFSj

[2020-05-07 11:00] Tirokk commented on #2332
Still valid, I think

[2020-05-07 11:02] Tirokk commented on #488
Still valid I think

[2020-05-07 11:02] Tirokk commented on #1140
Still valid I think

[2020-05-07 11:03] Tirokk commented on #777
Still valid for the future …

[2020-05-07 11:03] Tirokk commented on #1200
Would be cool still.

[2020-05-07 11:05] Tirokk commented on #305
The two open checkboxes have to be fulfilled! 👆🏼

[2020-05-07 11:10] Tirokk commented on #1489
I tried this out on mobil and the problem seems to be solved!

[2020-05-07 11:10] #1489 closed

[2020-05-07 11:11] Tirokk commented on #782
Still valid I think.

[2020-05-07 11:12] Tirokk commented on #2337
Still valid.

[2020-05-07 11:15] Tirokk commented on #2583
Was this not already changed @ogerly ?
I don’t see the problem like it is now.

What you think is a better label name in german or english? In case.

[2020-05-08 14:49] Mogge commented on #2146
not stale

[2020-05-09 16:58] adarsh-av13 commented on #2931
Hi, I had made a pull request. It hasn't been accepted yet. May i know if I've done something wrong?

[2020-05-10 19:52] sushidave opened #3545 "💬 [Question]"
## :speech_balloon: Question

A user complained that with the current design of the notifications page [#1974](https://github.com/Human-Connection/Human-Connection/issues/1974) it is quite tedious to search for older notifications.

Is there a reason why the back/forward buttons were chosen instead of an infinite scroll like on the post overview and on the profile page?

[2020-05-12 13:32] raobhavya92 commented on #3014
Hi @Tirokk , is this issue still open? can I pick this one?

[2020-05-12 16:40] #3055 closed

[2020-05-13 11:29] Mogge commented on #2255
not stale

[2020-05-13 11:29] Mogge commented on #1922
not stale

[2020-05-13 11:30] Mogge commented on #17
not stale

[2020-05-13 11:30] Mogge commented on #2074
not stale

[2020-05-13 11:31] Mogge commented on #3252
not stale

[2020-05-13 11:31] Mogge commented on #3008
not stale

[2020-05-13 18:00] Mogge commented on #2723
Not stale.
see #3543

[2020-05-13 18:01] Mogge commented on #2244
not stale

[2020-05-15 08:03] DennisHack commented on #66
![image](https://user-images.githubusercontent.com/24620721/82026597-40381e80-9693-11ea-9fad-d234fd64eb45.png)

[2020-05-18 18:30] #495 closed

[2020-05-18 23:49] #276 closed

[2020-05-22 19:15] sushidave commented on #3085
Still needed.

[2020-05-23 01:43] DriesCruyskens opened #3566 "Wrong unit test command in webapp documentation."
## 💬 Issue

Hi all,

I think the third option/command for running a single unit test in the webapp should be
`yarn test path/to/component.spec.js`
instead of
`yarn run path/to/component.spec.js`
I got neither to work on windows but the 'run' command does at least run using WSL. The fact that it doesn't work on windows isn't too bad but documentation should be fixed if this is indeed a typo. I will

[2020-05-23 11:01] #3142 closed

[2020-05-24 18:04] DriesCruyskens commented on #2244
I'll gladly help on this one if available. As I understand it, sorting tags in both index.vue and more-info.vue as well as a test function in index.spec.js should suffice?

[2020-05-25 07:28] Tirokk commented on #2271
Still not stale …

[2020-05-25 20:55] DriesCruyskens commented on #3013
I can help with this one if help is still needed.

[2020-05-27 06:15] Tirokk commented on #2931
Hi @adarsh-av13 ,
we are in a heavily transition on the project and I was on holidays for two weeks.
Right back now. 🤗
In the weeks before my holidays we had to sort out a lot of things here which bind our energy.

I feel sorry that we may have annoyed you and go right on your code and review. 💫

[2020-05-27 06:41] Tirokk commented on #2888
Hi @nila99  ,
we are in a heavily transition on the project and I was on holidays for two weeks.
Right back now. 🤗
In the weeks before my holidays we had to sort out a lot of things here which bind our energy.

I feel sorry that we may have annoyed you and go right on your code and review. 💫
See my comment there …

[2020-05-27 07:02] Tirokk commented on #3013
Hey @DriesCruyskens ,
great to read that you like to jump in and offer your help. 💫
Therefore I have invited you to our repository as volunteer via an e-mail invitation you can except.
After you excepted, please push your feature branch directly to this repo and create a `PR` using `master` as the base branch.

[2020-05-27 13:52] sushidave commented on #1065
Issue reopened as still needed.

[2020-05-27 18:00] MarcoBomfim commented on #3395
@rbeer, is this still ongoing? If so I would like to spend some time on it.

[2020-05-28 02:39] JonCanales commented on #3505
Is this still open?

[2020-05-28 07:43] Tirokk commented on #3566
This is indeed a typo @DriesCruyskens . 🐛

Originally it was
`$ yarn run test <XXX>`
and now its
`$ yarn test <XXX>`

Why it’s not working on Windows and no tests found I can not tell.
May @ogerly knows more about it?

I assigned you to this issue. Glad you care for it! 🙏🏼

[2020-05-28 07:47] Tirokk commented on #3505
This is still open @JonCanales !

Will you go for it?. 💫

In case I have invited you to our repository as volunteer via an e-mail invitation you can except.
After you excepted, please push your feature branch directly to this repo and create a PR using master as the base branch.

I assigned you to this issue …

[2020-05-28 07:55] Tirokk commented on #17
Not stale and @ogerly is working on it!

[2020-05-28 12:33] sushidave commented on #3505
@Tirokk Before @JonCanales starts on this issue I have a basic question about data privacy:
I assume that every time a settings page or profile page is called, some personal data is sent to those external websites that host the favicons. In order to better protect user's privacy and minimize data traffic wouldn't it be smarter to abstain from displaying favicons of external websites but just show

[2020-05-28 13:04] sushidave commented on #3460
@Raimundo-dev Hello Raimundo. @Tirokk asked me to review this issue and here are my findings:

The issue consists of three parts:
1) List view
2) View switch
3) Date filter

The feature request is about a view, so it should be a subset of the Epic issue "Views" #2872 . I'm going to add it there.

This issue is the same as #2968 but with the addition:
1. of a date filter (covered by #1065 ) which s

[2020-05-28 13:24] sushidave commented on #3461
@Tirokk You asked me to review this issue. Here are my findings:

This feature request is a subset of #2198 and a duplicate of #3252 which:
- includes an auto-save function
- suggests to show the drafts to the user on his/her profile page

Should we use this issue or close it and use #3252 instead?

[2020-05-28 13:30] sushidave commented on #3462
@Tirokk You asked me to review this issue. In my view this feature is be part of the future cockpit view #2872 where users can attach widgets and contents at their will.
For me the question is how much effort this feature would take and if that effort would be better invested in developing the cockpit view instead.

[2020-05-28 14:07] sushidave commented on #1264
@Tirokk and I reviewed this feature request.

Note: This feature only covers the feature for users to disable comments for their individual posts. A function for admins to disable commenting network-wide is out of scope of this issue.

There are some questions on the requirements that should be clarified:
1. Should users really be enabled to disable commenting?
2. Should disabling comments be limi

[2020-05-28 14:16] Tirokk commented on #3505
With a favicon the link looks much better. @sushidave 🤔

We can asked if this may have privacy indications. I don’t know for now.

@roschaefer has this any privacy issues so far.
If yes may we can cache the favicons for a while? Or any other ideas?

[2020-05-28 14:28] Tirokk commented on #3460
Hey @sushidave ,

I am not sure that this is or should be part of Epic issue "Views" #2872.
Because this is an alternative to the tiles grid even on the user profile.
Or did you mean a deeper subset?

This issue is kind of the same as #2968 and I think we can go there with it.
I just didn’t liked to destroy @alina-beck work right before we had a plan.
See what @Raimundo-dev is saying …

[2020-05-28 17:48] sushidave commented on #3460
Thank you @Tirokk .

**View switch:**
Let me figure out how the list view would fit into the Epic issue and for what scenarios/contents it should apply otherwise - apart from the newsfeed and the profile page.

**Navigation:**
Okay, I understand that the proposed "calender control" is not primarily a date filter but an indicator of the publishing dates of available posts.

Two alternative designs

[2020-05-29 09:19] Tirokk commented on #288
Not stale I think …

[2020-05-29 09:32] Tirokk commented on #3461
I would say merge the informations of this one in to your issue #3252 . @sushidave

This is a subset of #2198. Maybe #2198 can become an epic with checkboxes?
And auto-save can get a part with a checkbox of #3252 ?

- The auto-save solution of @rbeer was in the local storage of the browser. I don’t if he has time to develop on this for now.
- An auto-save solution in the database would be possible

[2020-05-29 09:38] Tirokk commented on #3462
@sushidave I my eyes this is not a part of the view #2872 .

It is only related to the grid view or maybe any other list kind of view of the a users profile page.
The pinned post just appear at the beginning of any list.

[2020-05-29 12:20] sushidave commented on #3462
@Tirokk Thank you. Perhaps I misunderstood the requirements as I thought the purpose of this feature was kind of a bookmarking.
@Raimundo-dev Could you clarify what the purpose of this feature is and if the pinned post should be visible to the user who owns the profile page only (= personal bookmark) or to any user who visits the profile page (= "promoted posts")?
Also how important is this featur

[2020-05-29 13:47] Tirokk commented on #2244
Yes @DriesCruyskens , 🤗
I think that should be suffice!
I assigned you to this one. 💫

[2020-05-29 15:09] sushidave commented on #2244
@DriesCruyskens Thank you for your help 🙏

[2020-05-29 15:33] sushidave commented on #3461
@Tirokk Done. Closing this isssue.

[2020-05-29 15:33] #3461 closed

[2020-05-29 20:10] roschaefer commented on #3505
In general it might be possible that a mere request of the favicon already exposes data, that's correct. However, there is no ID on the request.

But anyways, if you want to be 100% sure there is no request being made, how about using the backend as a proxy server to the favicon? Or download the favicon in the backend when you save a social media link?

[2020-05-30 16:11] DriesCruyskens commented on #1744
I'd like to do this if available.

I already looked into it and have couple of questions:

1. Component's `this` have a `$copyToClipboard` function which would be perfect but I wondered if this is built in Vue or something because I can't seem to find it used anywhere in the project except for `yarn.lock`

2. Are you using a certain icon pack where I should get the copy icon. I saw a reference to

[2020-06-03 14:02] #3566 closed

[2020-06-03 15:06] Tirokk commented on #3329
Is not stale

[2020-06-03 15:06] Tirokk commented on #3328
In progress

[2020-06-03 15:07] Tirokk commented on #3200
Not stale

[2020-06-03 15:10] Tirokk commented on #1934
Not stale

[2020-06-05 20:34] #2244 closed

[2020-06-06 09:52] #3013 closed

[2020-06-08 12:53] DriesCruyskens commented on #397
I would be very excited to do this one, if still available! 🙏

[2020-06-08 12:55] Lulalaby commented on #397
Sure go ahead

[2020-06-11 07:39] Tirokk commented on #397
Hey cool @DriesCruyskens .
I’m very excited that you choose this one.
The community will be very happy about it. 🚀🚀💫

[2020-06-11 19:08] sushidave commented on #3460
The priority of this issue will be reviewed.

[2020-06-11 19:13] sushidave commented on #2968
@Raimundo-dev and I reviewed this issue and are going to provide a simplified layout proposal.

[2020-06-11 19:22] sushidave commented on #1264
FYI - The questions are under review and the priority of this issue is going to be reevaluated by Menschheitsfamilie.

[2020-06-11 19:41] sushidave commented on #2171
Still required

[2020-06-11 20:35] sushidave opened #3625 "🌟 [EIPC] Post editor improvements"
## :rocket: Feature

The post editor #328 and #379 has room for improvement. This issue is to collect issues that improve the post editor.

**Bugs**
- [ ] 🐛 Lists in posts and comments are not displayed as lists #3492
- [ ] 🐛 Editor toolbar on very long articles works not properly #2171
- [ ] 🐛 Editor using LegacyEmbed, only #3395
- [ ] 🐛 No warning when leaving the editor accidentally #1858
- [ ]

[2020-06-11 20:49] sushidave opened #3626 "🚀 [Feature] Toolbar always visible when editing posts and comments"
## :rocket: Feature

As a user I would like to have the toolbar of the post editor visible as long as the input field is visible. This applies to comments too.

### User Problem

If a post or comment is long users need to scroll up to get to the toolbar. This is annoying especially if
- the content is long
- the much formatting needs to be done
- many links need to be added (as there is no keyboar

[2020-06-11 20:57] sushidave opened #3627 "🚀 [Feature] Editor toolbar: Add keyboard shortcut and markdown to link button"
## :rocket: Feature

The link button of the editor's toolbar doesn't have a keyboard shortcut nor a markdown.

### User Problem

All buttons of the toolbar have a keyboard shortcut and markdown except the link. For users, inserting links could be simplified, also in combination with issue #3626 .

### Implementation

- [ ] Add keybord shortcut
- [ ] Add markdown

### Design & Layout

### Validatio

[2020-06-11 21:35] sushidave opened #3628 "🚀 [Feature] Increase margin of headings and rulers"
## :rocket: Feature

Increase the margin of headings and rulers of content of posts and comments to increase readability.

### User Problem

The margins on headings and rulers are too little. Currently, the content of posts doesn't look nice if they contain headings or rulers and the readability suffers. The reason for this is that the stylesheet neutralizes margins for headings, lists and paragra

[2020-06-11 21:42] sushidave opened #3629 "🚀 [Feature] Improved editor layout for small screens"
## :rocket: Feature

Improve the editor layout for small screens to provide a better UX.

### User Problem

When editing a post on a small screens, other page elements take up too much space. Post editing can be improved by providing more space for editing.

### Implementation

Open for suggestions.

### Design & Layout

Open for suggestions.

### Validation

Better user satisfaction.

### Additio

[2020-06-11 22:01] sushidave opened #3630 "🚀 [Feature] Opt-in to preserve filters and views"
## :rocket: Feature

As a user I would like to be able to preserve the current filters and views for my next visit. For privacy reasons, this should be an opt-in feature.

### User Problem

At my next login the previously set filters should still be there. This saves users time and increases their satisfaction.

### Implementation

Implement for:
- [ ] filters
- [ ] views, after #2968 / #2872 are

[2020-06-11 22:51] sushidave commented on #2291
@Tirokk Could you please follow up on this one with @yeltawil ?

[2020-06-11 22:58] sushidave commented on #3630
Same as #1908?

[2020-06-12 16:46] DriesCruyskens commented on #397
@Tirokk Pushing my branch directly to human-connection as a member of the HC organisation (just like previous PR's) asks for username and password (for the first time) and fails authentication using my own Github credentials. Did something change I am not aware of?

[2020-06-12 22:06] sushidave opened #3633 "🌟 [EPIC] Accessibility"
## :rocket: Feature

Make the network accessible according to the [Web Content Accessibility Guidelines (WCAG)](https://www.w3.org/TR/WCAG21/).

### User Problem

Handicapped people e.g. with physical or cognitive disabilities cannot use the network to its full extent. This issue solves the problem.

### Implementation

**Help wanted:**

- People who add the guidelines to the documentation (for im

[2020-06-14 18:01] varunpusarla commented on #3628
Can I work on this issue ? @sushidave

[2020-06-14 18:24] sushidave commented on #3628
@varunpusarla Hello Varun and thank you very much for your readiness to contribute to this project! Yes, you're welcome to work on it. @Tirokk Please provide Varun with the necessary information. Thank you.

[2020-06-17 08:41] Tirokk commented on #2885
Not Stale

[2020-06-17 08:50] Tirokk commented on #2628
Is not stale

[2020-06-17 08:57] Tirokk opened #3648 "🐛 [Bug] The Network Gives A 504 Gate-Away Time-Out From Time To Time"
## :bug: Bugreport

Sometimes the network gives a 504 gate-way time-out.
(Heavenly happened on XXX and the day before and in the week before as well.)

Matt and I have found that the heap size of the backend by default should be 1.5Gi.

It seems that we have to define:

[code]

XXX And that should be done for the Neo4j database as well where only `requests. memory` was already defined.

See:
- htt

[2020-06-17 10:25] Tirokk commented on #2628
This was successful at the end.
We did the changes on the deployments …
So I close this one … without merging it.

But there is still a problem see #3648 .

[2020-06-17 10:25] #2628 closed

[2020-06-17 13:02] Tirokk commented on #3478
Stil to discuss on the PR …

[2020-06-17 13:05] Tirokk commented on #1709
PR still needs reviews …

[2020-06-17 13:32] Tirokk commented on #3628
Hello @varunpusarla ,

I have invited you to our repository as volunteer via an e-mail invitation you can except.
After you excepted, please push your feature branch directly to this repo and create a PR using master as the base branch.

I assigned you to this issue …

Our conversation runs over our discord channels:
http://hc.world/discord
Another possibility to get to it:
https://discord.com/inv

[2020-06-17 13:37] Tirokk commented on #1950
Okidoki @sushidave !

[2020-06-17 13:42] Tirokk commented on #2291
Sorry @yeltawil …

… that we didn’t cared enough for your questioning need.
It is long ago now and our project went through a difficult state.

Please let me know, if you are still interested in this issue …

[2020-06-17 15:24] sushidave opened #3649 "💬 [Question] What data is shared with third party providers?"
## :speech_balloon: Question

Currently, users have the option to not have embedded content of third party provider displayed in posts and comments. This option is available in the "third party provider" section of the user account setting:

![third-party-providers-option](https://user-images.githubusercontent.com/17728384/84916651-9e0abc80-b0be-11ea-94ec-ab13d4057d23.png)

Depending on the settin

[2020-06-17 15:50] sushidave commented on #3186
@hermann-san How about turning the three dots into a burger bar (= three horizontal lines) as this is a common symbol for a navigation menu?

[2020-06-17 16:09] sushidave commented on #3186
This button is used for other menus too, like for comments and on the user profile page. So it needs to be changed for all those places.

[2020-06-18 06:22] DennisHack commented on #66
![image](https://user-images.githubusercontent.com/24620721/84985295-cc2ee180-b13c-11ea-9a33-84fbb11c268f.png)

[2020-06-18 15:20] ATOMktn commented on #3504
Hi! I'm new to open source and would like to take a crack at this!

[2020-06-18 17:00] sushidave commented on #3504
Hello @ATOMktn and welcome on board! Thank you for your interest in this project. @Tirokk Please provide ATOMktn with further info. Thanks!

[2020-06-18 21:16] sushidave opened #3657 "🚀 [Feature] Redesign data privacy warning box"
## :rocket: Feature

Redesign the data privacy warning box for embedded content.

This is step 1 of 2 to enhance the data privacy warning box. 2nd step see #3658 .

### User Problems

1. The text in the box contains the term "video" for non-video content like from SoundCloud.
2. The button text says "Watch now" even for audio content.
3. The buttons are both in green and don't correspond to the la

[2020-06-18 21:45] sushidave opened #3658 "🚀 [Feature] Privacy by default for embedded content"
## :rocket: Feature

**This is step 2 of 2 to enhance data privacy for embedded content of third party providers. The 1st step is #3657**

Privacy by default:
Third party content providers should not get any user data due to embedded content unless users opt-in - by agreeing to load third party content or unless they click on a link.

### User Problems

Currently, user data is shared with third pa

[2020-06-18 21:57] sushidave commented on #3649
This question has been reviewed together with @Tirokk and @Raimundo-dev. The answer is that user data is disclosed to third party providers even if users haven't agreed to display embedded content.

Closing this issue in favour of these feature requests: #3657 and #3658

[2020-06-18 21:57] #3649 closed

[2020-06-18 22:52] sushidave opened #3659 "💬 [Question] Add labels for functional areas"
## :speech_balloon: Question

As discussed with @Tirokk and @Raimundo-dev the network operator "Verein Menschheitsfamilie" proposes to add labels for features (functional areas).

Benefits:
1. Issues can be filtered by functional area, e.g. all issues about posts.
2. Manually updating EPICs which were created in order to group some issues can be avoided.

Here is the list of suggested labels:
- fe

[2020-06-19 12:32] Tirokk commented on #3659
@Human-Connection/hc-dev-team

What you think of this idea. We hope that we can administrate the issues better that way.
Menschheitsfamilie has created now it’s own project-roadmap …

[2020-06-19 17:56] sushidave commented on #1068
This feature affected the Alpha version. The hashtag input field does not exist in Nitro version yet. However, it's a feature request, see #2196 . I leave this issue closed and added the hash sign as a requirement in #2196 .

[2020-06-20 10:43] sushidave opened #3663 "💬 [Question] How to use synergies with the Map of tomorrow (Karte von morgen)?"
## :speech_balloon: Question

_The Map of tomorrow_ is an open source interactive online open source platform for initiatives of change and sustainable businesses. It features the three categories initiatives, events and businesses. The contents are crowed sourced, crowd moderated and open source too.
- Website: [https://blog.vonmorgen.org/en/home/](https://blog.vonmorgen.org/en/home/)
- GitHub Re

[2020-06-20 23:30] hermann-san commented on #3186
I'm not a developer, but these are just my observations.
On Android,  3 bars are typically used on the top, left corner. I assume this is a Android app design guideline. Also I've seen the 3 dots on the top right corner.  even here on Git (desktop browser) I can see the 3 dots on the right hand side of each comment.
Making the 3 dot's simply thicker would do, from my point of view.
Alternative cou

[2020-06-21 12:01] #2272 closed

[2020-06-21 12:01] #2289 closed

[2020-06-22 06:54] DennisHack commented on #66
https://youtu.be/ogmzS8hpUXY?t=670
(Concept from 2015)

[2020-06-22 08:00] Tirokk commented on #3657
Hey @sushidave ,
thanks for creating this issue! 🤗

[2020-06-22 08:00] Tirokk commented on #3658
Hey @sushidave ,
thanks for creating this issue as well! 🤗

[2020-06-22 08:06] Tirokk commented on #3504
Hello @ATOMktn ,

I have invited you to our repository as volunteer via an e-mail invitation you can except.
After you excepted, please push your feature branch directly to this repo and create a PR using master as the base branch.

I assigned you to this issue …

Our conversation runs over our discord channels:
http://hc.world/discord
Another possibility to get to there:
https://discord.com/invit

[2020-06-22 08:09] Tirokk commented on #209
Is not stale …

[2020-06-22 08:09] Tirokk commented on #3158
Is not stale …

[2020-06-22 08:10] Tirokk commented on #281
Is not stale …

[2020-06-22 08:11] Tirokk commented on #2292
Is not stale …

[2020-06-22 08:11] Tirokk commented on #2786
Is not stale …

[2020-06-22 08:12] Tirokk commented on #1183
Is not stale …

[2020-06-22 08:12] Tirokk commented on #252
Is not stale …

[2020-06-22 08:13] Tirokk commented on #2886
Is not stale …

[2020-06-22 08:13] Tirokk commented on #2604
Is not stale …

[2020-06-22 08:20] Tirokk commented on #308
Is this solved by PR #3271 as well @ogerly @Mogge ?

[2020-06-22 09:27] sushidave commented on #1950
@Tirokk Regarding the question which one would be better, a tooltip for each button OR the list, and if the markdown code should be displayed:

What do you think of this solution...
1. Add a tooltip for the button showing the description and the keyboard shortcut, like on GitHub. Example: "Add italic text <Ctrl+i>" resp. "Add italic text <cmd+i>"), depending on the OS. Some buttons don't have a ke

[2020-06-22 13:52] #2145 closed

[2020-06-22 18:05] sushidave commented on #2041
Currently, when pasting the address of any HC post into a post or comment the embed shows the HC logo, a standard title and a standard description:

![hc-embed-standard-values](https://user-images.githubusercontent.com/17728384/85320289-288a5c00-b4c3-11ea-8eaa-dc6462c05a04.png)

In order to provide page specific values in these embeds Open Graph tags need to be populated with these values.

[2020-06-24 12:05] Tirokk commented on #2270
Still valid

[2020-06-24 12:07] Tirokk commented on #1950
Yes, @sushidave .
This sound suitable. 👍🏼

[2020-06-24 13:44] sushidave opened #3673 "🚀 [Feature] Legend of post editor toolbar buttons"
## :rocket: Feature

In the user interface, show a legend of the functions and markdown of the buttons of the post editor toolbar.

The tooltip shall be displayed if the mouse pointer hovers over the question mark icon next to the toolbar. On touchscreens the tooltip shall be triggered by "touch".

The text is similar to the list in this [FAQ](https://support.human-connection.org/kb/faq.php?id=52&

[2020-06-24 13:53] sushidave commented on #1950
@Tirokk Thank you. Issue #3673 created to cover the explanation (legend).

So, the markdown part won't be covered by this issue here. Please advise @drowvoloper and @smapets how to proceed. Thanks.

[2020-06-24 15:14] roschaefer opened #3674 "🎉 Community Repository 🎉"
Hey people, it's creativity time!

In order to continue the development of Human Connection and to keep the ball rolling, we decided to create a new dedicated community repository. We don't know a good name for the software project and its repository, yet.

The community-repository will live at:
{NAME}-community/{NAME}

That's where we need your help!

The {NAME} should at least be:
* easy to spel

[2020-06-24 15:33] Kachulio1 commented on #3674
this is awesome, you said "We don't know a good name for the software project and its repository", are you/we looking for a great frontend library, like `React`

[2020-06-24 15:34] Kachulio1 commented on #3674
@roschaefer ☝️

[2020-06-24 15:53] roschaefer commented on #3674
@Kachulio1 :trollface: no, we're not considering to replace React for Vue, at least not yet :wink:

We're asking you to come up with a nice name for the community repository. It's not going to be called "Human Connection".

[2020-06-24 15:55] sushidave commented on #3674
Yes, keep the ball rolling!

How about:

"Communiverse"
= portmanteau of community and fediverse

"Renkontejo"
= means "meeting point" in Esperanto

[2020-06-24 16:06] sushidave commented on #3674
"Confedi"
= portmanteau of connect + fediverse ...and it sounds like confetti in American English

[2020-06-24 17:32] proofy commented on #3674
https://namelix.com/app/?keywords=openness+animal+endangered+free+citizenship

[2020-06-24 17:49] erhardtstiefel commented on #3674
What about "slugover-community"
I've learned that a community of **slug**s will be connected with **o**pen source software in a fedi**ver**se network. Slugover is related to Hangover, both little cute animals and endangered species.

[2020-06-25 00:07] proofy commented on #3674
matengage = mate + engage = Connect with commitment!
Not hits at github
Mate = https://en.wikipedia.org/wiki/Mate_(horse) Name of  a racehorese

[2020-06-25 03:20] Lulalaby commented on #3674
And for what exactly?

[2020-06-25 14:46] #3358 closed

[2020-06-25 21:11] sushidave commented on #2112
@yeltawil Hello yeltawil, thank you for your readiness to work on this and I'm very sorry for the waiting. I just found this issue as being closed by error, so I reopened it and hope you're still interested. @Tirokk Kindly advise yeltawil how to proceed. Thank you!

[2020-06-25 23:11] sushidave commented on #2917
@erhardtstiefel Hello Erhardt, I just found this issue due to a notification by the stale bot.

Please see the question by @itsjainrishi above.

In my view:
- For German, the help menu item should link to the FAQs in German.
- For English, to the FAQs in English.
- For others, to the FAQs in English.
What do you think?

Layout:
I recommend to put the link into the user menu, just after the setting

[2020-06-26 07:01] erhardtstiefel commented on #2917
I agree with:
For German, the help menu item should link to the FAQs in German.
For English, to the FAQs in English.
For others, to the FAQs in English.

My opinion to the Layout:
Leave the FAQ link where it is in footer.
Add a Help/Hilfe link next to the avatar in the top line (like suggested in 'Design & Layout')
Reason: If you need Help urgently you shouldn't have to search for help in a hidden

[2020-06-26 12:24] sushidave commented on #2917
@erhardtstiefel Thank you. Please let's talk about the layout part, see my message on Zoom.

[2020-06-26 14:50] erhardtstiefel commented on #2356
Hi, anybody still ongoing with Human Connection?

[2020-06-27 07:00] erhardtstiefel commented on #2917
@sushidave

Today I looked at one of my posts in Human Connection with my Smartphone and now I understand your recommendation. Its about the scalabilty to put the help link into the unser menu. Correct? I agree.

[2020-06-27 18:24] ritesh-pandey commented on #3628
@varunpusarla are you still working in it?

[2020-06-29 18:57] sushidave commented on #2917
@erhardtstiefel Thanks for your feedback. Yes, putting the link into the user menu has several benefits: For users on smartphones, it clutters less their small screens. In general, elements that are most frequently used such as posts or the search field are visible permanently while others like account settings or the own profile page are placed second. Help pages fall into the latter category. Pr

[2020-06-30 09:15] roschaefer commented on #3674
Development in this repository has stalled. So the former core maintainers want to copy the repository to continue development. The new repository needs a new name. @Lulalaby @medizinmensch @baba43 does that make more sense now?

[2020-07-01 07:37] erhardtstiefel commented on #2917
@itsjainrishi If you are interested in coding it, I'd like to pair with you. I'm a novice here and I'd like to learn frontend programming.

[2020-07-04 00:44] hermann-san commented on #394
There is the Open Source software based website [KartevonMorgen](https://kartevonmorgen.org) ([Git](https://github.com/kartevonmorgen)) which already has a huge database of organizations, initiatives. I would be great to
1. be able to fetch the data from their database in some way, either upon request or periodically replicated the complete (relevant) database.
2. even use their back end [openfair

[2020-07-08 06:06] Tirokk commented on #1950
At the moment I haven’t the role or rights here to give anyone permissions.
Hope this will change soon … @sushidave

[2020-07-08 06:08] Tirokk commented on #2112
At the moment I haven’t the role or rights here to give anyone permissions.
Hope this will change soon … @sushidave

[2020-07-08 06:26] Tirokk commented on #2583
I think it's solved

[2020-07-08 06:26] #2583 closed

[2020-07-08 06:31] Tirokk commented on #3449
Stil valid

[2020-07-08 06:32] Tirokk commented on #3450
Stil valid

[2020-07-08 06:32] Tirokk commented on #3450
Stil valid

[2020-07-16 12:47] DennisHack commented on #3674
Aus steuerrechtlichen Gründen kann das geplante Konstrukt nicht übernommen/angewandt werden, deswegen wird dieses Isue geschlossen. Bei Fragen stehen wir sehr gerne zur Verfügung.

[2020-07-16 12:47] #3674 closed

[2020-07-21 10:17] Mogge commented on #281
We agreed on the following:
 * Every user can create a organization in the user settings menu
 * A newly created organization sends a notification to moderation
 * The organization stays invisible until it is confirmed by moderation

[2020-07-24 09:00] Tirokk commented on #281
Would be nice for the creator of the organisation if they get notified about the result of the moderation process later. @Mogge

[2020-07-24 09:02] Tirokk commented on #3628
Are you still interested in overtaking this @ritesh-pandey ?

[2020-07-25 00:27] hermann-san opened #3738 "🚀 [Feature]"
## :rocket: Feature
In a post or discussion, when commenting and mention a user with @ .... and while typing a name, there are suggestions that are coming up.  Then the system should preferably show users which have already participated in a discussion and give them a higher priority to be shown over users who  have not participated.

### User Problem
when wanting to mention several users who alre

[2020-07-31 17:06] Thiruppathi commented on #3657
Hi @sushidave
Can I pick this up?

[2020-07-31 19:06] sushidave commented on #3657
Good evening @Thiruppathi
Thanks for your willingness to contribute! You're very welcome to pick it up.
@Tirokk Please provide Thiru with the necessary details. Also, should the buttons be swapped (1st: Cancel, 2nd: Continue) so that the order is consistend with the ones on other pages like the post editing page?

[2020-08-03 10:16] Elweyn commented on #2112
Hello don't know if @yeltawil or someone else is working on this issue!?
If not I would be interessted

[2020-08-03 10:24] Tirokk commented on #2112
Hey @Elweyn !
Wonderful! Great that you like to pick this up. 💫

I organise that you get invited you to our volunteer team via an e-mail invitation you can except.
After you excepted, please push your feature branch directly to this repo and create a PR using master as the base branch.

I assigned you to this issue …

On Discord we have kind of every day a Daily Standup at UTC 09:30 am (CEST 11:30

[2020-08-03 10:30] Tirokk commented on #3628
Hello @ritesh-pandey  ,

I’ll organise that you get invited to our volunteers-team via an e-mail invitation you can except.
After you excepted, please push your feature branch directly to this repo and create a PR using master as the base branch.

I assigned you to this issue …

Our conversation runs over our discord channels:
http://hc.world/discord
Another possibility to get to there:
https://di

[2020-08-03 10:53] Tirokk commented on #2112
Hello @yeltawil ,
in case you are still interested in working on Human-Connection, please let me or us know.
We’ll find something else …

Our conversation runs over our discord channels:
http://hc.world/discord
Another possibility to get to it:
https://discord.com/invite/DFSjPaX

On Discord we have kind of every day a Daily Standup at UTC 09:30 am (CEST 11:30 am) in the Conference Room.

[2020-08-03 10:58] Tirokk commented on #3657
Hello @Thiruppathi ,

I have invited you to our volunteer team via an e-mail invitation you can except.
After you excepted, please push your feature branch directly to this repo and create a PR using master as the base branch.

I assigned you to this issue …

Our conversation runs over our discord channels:
http://hc.world/discord
Another possibility to get to it:
https://discord.com/invite/DFSjPa

[2020-08-03 18:58] sushidave commented on #3659
@Tirokk Thanks for your green light. Tags have been added. Closing this issue.

[2020-08-03 18:58] #3659 closed

[2020-08-03 19:16] sushidave commented on #3738
@hermann-san Thank you for this issue. As a requirement for the design I would like to add:
Visually separate the previous commenters from other users on the list e.g. by a slightly different background colour or by deviding them by a border / horizontal rule.

[2020-08-05 09:25] rossmaclean commented on #2434
@sushidave Is this issue still available?

[2020-08-05 09:28] #3628 closed

[2020-08-05 09:57] sushidave commented on #3628
@ritesh-pandey @Tirokk @ogerly How nice that you could fix it! Thanks a lot for your efforts 🙏

[2020-08-05 10:23] sushidave commented on #2434
@rossmaclean Hello Ross, welcome to the project and thanks for asking. I haven't heard from @abramwingle to whom this issue has been assigned. So if there is no reaction by Abram within the next days I suggest that @Tirokk assigns the issue to you. Also, I am going to create the issue for the above mentioned capslock icon feature which would be an alternative for you to work on. Let's see what Abr

[2020-08-05 11:10] sushidave opened #3779 "🚀 [Feature] Show capslock icon on login form"
## :rocket: Feature

A capslock icon should appear in the password field of the login form left to the show/hide button if the capslock key is active.

### User Problem

Currently, the UI doesn't support users getting aware of their capslock key being active and that the login might fail. This feature:
- Provides a better user experience and satisfaction
- Increases the rate of successful logins
-

[2020-08-05 11:15] sushidave commented on #2434
@rossmaclean Isse #3779 added ...in case you like to go for that one.

[2020-08-05 13:06] #3498 closed

[2020-08-05 14:54] Tirokk commented on #2434
Hello @rossmaclean ,

I care for your invitation to our repository as volunteer via an e-mail invitation you can accept.
After you accept, please clone this repo (don’t fork) **push your feature branch directly to this repo and create a PR using master** as the base branch.

I assigned you to this issue …

Our conversation runs over our discord channels:
http://hc.world/discord
Another possibility

[2020-08-06 08:26] Elweyn commented on #2112
Hello @Tirokk,
yesterday I started a second pairing session and we steped on a much bigger problem...

Their was a behavior that appears randomly on my local maschin:
- Sometimes when I delete a comment this one is not directly deleted on the Post; when I reload the site afterwards the comment is deleted...

When this behavior appears then the commentsCount property is not actualized either.

Don'

[2020-08-06 09:11] sushidave commented on #2112
Hello @Elweyn
Thanks for your comment. That seems to be issue #3357 and a user reported a similar problem in the network, see [here](https://human-connection.social/post/ec809b7a-9599-4ef8-8fd7-63a1c5d682f2/wird-hc-zensiert-1). Also, there is an issue with updating notifications, see #2821 .
@Tirokk

[2020-08-06 09:24] Elweyn commented on #3357
hi @sushidave,
thanks for the comment on #2112 I will write here what we found:

in webapp/components/CommentList/CommentList.vue we can find at line 39 a computed postComments
When deleting or updating a comment we use in the same file the methode line 50 updateCommentList()
This methode tries to change the computed postComments
<img width="603" alt="Bildschirmfoto 2020-08-06 um 11 22 19" src="ht

[2020-08-06 09:28] Elweyn commented on #2821
Maybe merge this issue with #3357 cause I think they have both to change the same code part. (In my opinion)

[2020-08-06 09:28] #3657 closed

[2020-08-06 13:11] Tirokk commented on #2434
You are Invited @rossmaclean,
have a look at your e-mails …

[2020-08-06 14:26] Elweyn commented on #2821
Oh I have read the ticket again and now I am not so sure if it is related to the bug described in #2112

[2020-08-06 20:17] sushidave commented on #3357
@Elweyn Thank you for sharing your findings. @Tirokk Could you please have a look at it?

[2020-08-07 06:26] Tirokk commented on #2112
We’ll find this out @Elweyn . 👍🏼
Hope we can have a pairing session later …

[2020-08-07 09:36] Elweyn commented on #3357
Like @Mogge said: Here should be added a Test!

[2020-08-09 23:31] rossmaclean commented on #2434
@Tirokk Thanks, I'll get onto it.

[2020-08-10 06:53] Tirokk commented on #2434
Great @rossmaclean. 👍🏼

If you need quick help think of our Discord #coding channel … 🍀

PS: I'm on holidays for to weeks. Please reach out there to somebody else. 🤗

[2020-08-10 07:48] Tirokk opened #3788 "🐛 Sign Up Page is Broken"
## :bug: Bugreport

@appinteractive reported me that the sign up page is broken.

### Steps to reproduce the behaviour

1. go on our social network
2. don’t log in
3. click on sign up
4. here you see

<img width="843" alt="Bildschirmfoto 2020-08-10 um 09 40 38" src="https://user-images.githubusercontent.com/25344101/89761195-2d948080-daee-11ea-9a1e-5f788b002942.png">

### Expected behavior

I expe

[2020-08-10 14:47] Mogge commented on #3788
I cannot reproduce this behavior on firefox.
![image](https://user-images.githubusercontent.com/15882241/89795806-2048b780-db29-11ea-91aa-b6a6f3a9b209.png)

[2020-08-11 19:31] #2112 closed

[2020-08-11 19:31] #3357 closed

[2020-08-12 14:24] Tirokk commented on #3788
@mogge I had the problem on macOS Safari.
Where you hat the problem @appinteractive ?

[2020-08-13 09:51] appinteractive commented on #3788
I definitely had it on iOS Safari (iPad) and I think also on MacOS Firefox. It's definitely broken HTML/CSS as the Login looks good, the signup not.

As a note: I opened the signup directly from a link (human-connection.org). This may behave a bit differently from when you click from the login. Might be a SSR issue or what ever. I still suggest to use tailwind.css but 🤷‍♂️

Happy fixing.

[2020-08-20 12:06] ogerly opened #3813 "🚀 [Feature] Make my-social-media to a Component"
## :rocket: Feature
Make my-social-media to a Component

### User Problem
Currently the my-social-media is used as a page in the profile area of a user.
Since we also want to use it in other places in the system, it should be converted to a component,
which can be used everywhere in other forms without problems.
the next example is the categorieSelect component.

### Implementation
webapp/pages/se

[2020-08-24 05:50] enigmatic241 commented on #3779
@sushidave I want to work on this.

[2020-08-24 13:23] sushidave commented on #3779
Hello @enigmatic241 and greetings to India! Many thanks for your message and your readiness to work on this issue. I'm asking @Tirokk to provide you with the necessary details. He'll be back to work this week and supporting you if you need any help.

[2020-08-26 04:38] enigmatic241 commented on #3779
Thank you @sushidave , when will @Tirokk provides me the necessary details ?

[2020-08-26 08:59] Tirokk commented on #3779
Hey @enigmatic241 , I will provide you with the necessary details.

[2020-08-26 09:05] Tirokk commented on #3779
May you could care for issue #2434 as well? @enigmatic241

[2020-08-26 13:47] enigmatic241 commented on #3779
Thanks @Tirokk.  I have gone through the issue #2434 and discussion which was available their, please brief me how do I contribute and in case of any help, I will get back to you.

[2020-08-27 09:41] Mogge opened #3833 "💬 [Question] Alternatives for MapBox?"
## :speech_balloon: Question

We are using MapBox for the Geolocation of Users. There are issues with the change of data received from MapBox. The IDs changed, which leads to dublicates of Locations in our database and the tests to fail. The names of Locations change, which leads out tests to fail.

Further, as far as I know, it is not possible to add addresses, which could be interesting for the

[2020-08-27 10:53] #17 closed

[2020-08-27 13:52] sushidave commented on #3055
Bug seems to be fixed.

[2020-08-27 14:10] sushidave commented on #2965
Hi @mattwr18, hope you're fine. We are about to review issues that were closed by the stale bot.
Could you tell us if this issue is still valid and what it means?

[2020-08-27 14:13] sushidave commented on #2900
@roschaefer Hi Robert, we are about to review closed issues by the stale bot. Could you please tell us if this is issue solved? @Tirokk guesses that it's solved. Thanks.

[2020-08-27 14:33] sushidave commented on #2661
👍

[2020-08-27 14:37] sushidave commented on #2658
@erhardtstiefel We could not reproduce this error. Please reopen the issue if it's still valid. Thank you.

[2020-08-27 14:46] sushidave commented on #2601
Hello @proofy, Verein Menschheitsfamilie & busFaktor() reviewed this issue. At the moment, it does not seem possible for the network of HC that is purely non-profit. However, it could be relevant in the future for other networks using this code.

[2020-08-27 14:52] sushidave commented on #2586
@ogerly Has the issue been solved for the backend, too?

[2020-08-27 15:21] erhardtstiefel commented on #2658
I saw this never again.

[2020-08-27 17:01] Tirokk commented on #3779
Hello @enigmatic241 ,

I cared for your invitation to our repository as volunteer via an e-mail invitation you can accept.
After you accept, please clone this repo (don’t fork) **push your feature branch directly to this repo and create a PR using master** as the base branch.

I assigned you to this issue …

Our conversation runs over our discord channels:
http://hc.world/discord
Another possibili

[2020-08-27 17:06] Tirokk commented on #3788
Hello @arifszn ,

I cared for your invitation to our repository as volunteer via an e-mail invitation you can accept.
After you accept, please clone this repo (don’t fork) **push your feature branch directly to this repo and create a PR using master** as the base branch.

I assigned you to this issue …

Our conversation runs over our discord channels:
http://hc.world/discord
Another possibility to

[2020-09-02 08:17] damn-dvlpr commented on #3738
Hello there!
I would want to work on this issue, I've already installed and build it using docker, however was having some issues with Neo4j.
Would need a bit of help there.
Thank you.

[2020-09-03 12:41] sushidave commented on #2561
Still required. A feature for logging moderation actions is needed -> separate issue to be created.

[2020-09-03 13:13] sushidave commented on #2501
Still needed

[2020-09-03 13:18] sushidave commented on #2495
Duplicate of #3498

[2020-09-04 09:48] sushidave commented on #3738
Hello @damn-dvlpr and thank you for volunteering! @Tirokk will provide you with more details shortly. Enjoy the weekend and greetings to India!

[2020-09-05 08:48] EllieLockhart commented on #3492
I see someone self-assigned this and that it was listed as done but then that seems to have been reversed. Is this still a place where assistance could be helpful?

[2020-09-05 10:40] sushidave commented on #3492
@EllieLockhart Hi Ellie, welcome to this project! Your assistance is much appreciated! Please see the linked pull request. It seems as if it wouldn't take much to complete it. @Tirokk Could you please provide Ellie with the details? Thank you!

[2020-09-05 19:50] EllieLockhart commented on #3492
Hi @sushidave, thanks! By the linked pull request, do you mean #3493? If so I have a question about how to go about trying to implement the requested changes in that pull request; specifically, @Tirokk suggests that there should be different bullet images at each indent level. I could certainly implement this, but is there a set of images that we might use (since we're not using standard HTML5 lis

[2020-09-05 21:22] sushidave commented on #3492
@EllieLockhart

Thanks for your question, Ellie. Yes, that's the pull request.

I guess @Tirokk meant different bullet points (i.e. dots and rings) and not images because that's what they were before the bug emerged. Here's a screenshot of how they looked like earlier:

![screenshot-bullets](https://user-images.githubusercontent.com/17728384/92313447-1ac97a80-efcc-11ea-90e3-6e32a311a61d.png)

Also

[2020-09-05 21:35] EllieLockhart commented on #3492
So essentially we are just looking to restore the standard functionality at this time, then? If so, it seems as if a new pull request would make sense for me to address this, as the linked one implements other functionality as well, some of which seems to conflict with this.

[2020-09-05 22:20] sushidave commented on #3492
@EllieLockhart Restoring standard functionality: It's a Yes for me as the creator of this bug report. I wasn't aware of the other functionality of that PR and the conflicts since I haven't been developing anything yet but reporting a lot :-). Let's ask @Tirokk what he thinks.

[2020-09-06 03:34] EllieLockhart commented on #3492
Acknowledged, I'll hold off on making a pull request until we hear from @Tirokk. Would love to help address this, though!

[2020-09-07 10:25] Tirokk commented on #3492
Hey and hello @EllieLockhart !

I appreciate very much that you like to pick this issue. I care that you become a member of our Volunteers team. 🤗
Please push direct on the master of this Repo and not from your possible fork. The last will fail the build with a Travis error, because of missing  permissions.

The standard functionality should be implemented again and @rbeer PR #3493 can be probably

[2020-09-07 12:22] Tirokk commented on #3492
Hello @EllieLockhart ,

I cared for your invitation to our repository as volunteer via an e-mail invitation you can accept.
After you accept, please **clone this repo (don’t fork) push your feature branch directly to this repo and create a PR using master as the base branch**.

I assigned you to this issue …

Our conversation runs over our discord channels:
http://hc.world/discord
Another possibil

[2020-09-07 12:23] Tirokk commented on #3738
Hello @damn-dvlpr ,

I cared for your invitation to our repository as volunteer via an e-mail invitation you can accept.
After you accept, please **clone this repo (don’t fork) push your feature branch directly to this repo and create a PR using master as the base branch**.

I assigned you to this issue …

Our conversation runs over our discord channels:
http://hc.world/discord
Another possibility

[2020-09-07 13:44] ogerly opened #3863 "🚀 Upload Contributions + [¿Userdata?]"
## :rocket: Feature
 Upload of text entries and images for a user.

### User problem
The user should have the possibility to export his data.
The user should have the possibility to import exported data again.

### Data to be exported would be

- written articles
- User Profile Data (This is a matter of debate! Maybe not absolutely necessary)

best way would be: this data should be importable agai

[2020-09-07 14:04] ogerly opened #3864 ":skull: Prepare Network for Archive Status"
## :skull: Endgame
 Prepare Network for Archive Status

### Problem
The network should be set to an archive status.
That means all users can only read.  Nobody can write or comment anymore.
- User data can be exported but not imported.
- User can delete his profile.

### the following functions should be disabled.
- register new users ( for discussion YES or NO?)
- writing new posts
- update new p

[2020-09-07 16:35] EllieLockhart commented on #3492
Understood, will clone and fork and begin work. Thank you very much! I'll join the Discord as well as soon as possible.

[2020-09-07 18:02] EllieLockhart commented on #3492
Hi @Tirokk, thanks for the help so far! I've reimplemented most of the changes in the existing branch, and I believe have done so without the image logo, such that it should be just a standard HTML style list. However, I don't see the issue as assigned and so am unsure how to push my branch back to master. I apologize for being new to working with large projects like this one - but I'd appreciate

[2020-09-08 08:20] ogerly commented on #308
yes is fixed

[2020-09-08 10:20] ogerly commented on #3864
mit "> " markierte mutations sind im archiv modus abgestellt in der backend/src/middleware/permissionsMiddleware.js.
alle anderen mutations behalten ihre funktion wie gehabt

      login: allow,
      SignupByInvitation: allow,

      SignupVerification: allow,
      UpdateUser: onlyYourself,

      DeletePost: isAuthor,
      fileReport: isAuthenticated,

      DeleteSocialMedia: isMySocialMedia,

[2020-09-08 21:42] mohammad0omar opened #3866 "Does Any One Can access the demo users mentioned in the readme ? 💬 [Question]"
I am trying to see the demos in this [link](https://develop.human-connection.org/login)

email | password | role
user@example.org | 1234 | user
moderator@example.org | 1234 | moderator
admin@example.org | 1234 | admin

Is there a solution so I can try?

[2020-09-10 09:22] Tirokk commented on #3866
Probably all demo users are delete by somebody.

We have to re-deploy the develop network @mohammad0omar .
Sorry for that!
We have a problem with automatic deployment at the moment. I hope to fix this tomorrow.

Thanks for you hint! 🤗👍🏼🍀

[2020-09-17 06:56] Tirokk commented on #3492
Hey @EllieLockhart ,

I got no notification on this question. Sorry for that. Just seen it a s I went through the issues.

Thanks for your work!

If you work on the clone set this repo as the remote repo and push to your branch to this remote repo.
Go to GitHub. There you will find a message for creating a pull request. Just do that and choose the master branch to be the target.

Hope that helps s

[2020-09-17 10:54] Tirokk opened #3883 "💬 [Question] Semantic PRs Shouldn’t Fail If There’s Only One Commit"
## :speech_balloon: Question

The semantic pull request doesn’t work if there is only one commit in the PR. That sometimes happen and then the semantic-PR mechanism fail.
I can and will not do a senseless second commit in a PR …

[2020-09-18 09:23] #3883 closed

[2020-09-21 13:48] Tirokk commented on #3866
So @mohammad0omar the deployment problem ist solved and I renewed the database.

[2020-09-23 10:17] #3788 closed

[2020-09-24 11:26] Tirokk opened #3898 "🚀 Refinement Of The Search Results"
## :rocket: Feature

### User Problem

The way we do it now only the first found search class character of `['!', '@', '#']` in the search string rules the result.
The others play no rule!

### Implementation

This could be done different, but the hierarchy we using now (`['!', '@', '#']`) is okay.
I would suggest:

- `'!’` is included:
  - Search the text after the `'!’` (before you hit the next

[2020-09-24 15:18] mohammad0omar commented on #3866
Why the demo is not inside a sandbox?

[2020-09-28 11:58] Tirokk commented on #3866
We had no time to care for this, til now.
And not all functions should be disabled in the demo.
I guess it would be nice as well if the database would be refreshed every day. @mohammad0omar

[2020-10-08 14:06] taylor-abbas commented on #3014
I am interested in contributing to this as my first issue. Could you guide me please.

[2020-10-08 14:40] sushidave commented on #3014
Hello @taylor-abbas and welcome to this project! Thanks for taking up this issue. @Tirokk will provide you with details.

[2020-10-14 06:37] Tirokk opened #3934 "💥 [DevOps] The Master Builds Cypress Tests Are Flaky And Got To Switch Of For The Last Deployment"
## :fire: DevOps ticket

The master builds cypress tests are flaky and got to switch of for the last deployment.

### Motive

There is no time to find out the reason of the flakiness …

### Related issues

None

### Implementation

Comment out the full stack tests.

### Validation

See if the master builds running now.

### Additional context

None

[2020-10-14 10:41] Tirokk commented on #3934
Deployment to develop is not working …

[2020-10-14 11:49] #3934 closed

[2020-10-15 05:33] Tirokk opened #3945 "💥 [DevOps] Switch Of Codecov For Last Deployment"
## :fire: DevOps ticket

One of the master builds is running in Travis-Com and the other on Travis-Org, but the last has not the environment variables set now.

To reduce the ENVs by disabling Codecov. It is not used really at all at the moment.

### Motive

Make the work more easy.

### Related issues

related issue #3934

### Implementation

Comment out Codecov.

### Validation

None

### Additi

[2020-10-15 10:26] #3945 closed

[2020-10-22 12:30] dasari810 commented on #1949
@sushidave  I'am interested to work on this issue .

[2020-10-22 17:30] sushidave commented on #1949
@dasari810 Greetings to India and thanks very much for your readiness to work on this. @Tirokk will contact you soon with further information.

[2020-10-25 08:20] Tirokk commented on #1949
Hey @dasari810 ,

great that you are interested in working on this one. 👍🏼🤗
This repository will be frozen in some weeks. We have moved to a new repository:
https://github.com/Ocelot-Social-Community/Ocelot-Social/issues/1949

I write to you from there …

[2020-10-28 08:30] Tirokk commented on #3866
Solved

[2020-10-28 08:30] #3866 closed

[2020-11-03 19:10] mohammad0omar commented on #3866
Thank You, Sir

[2020-11-05 16:08] Tirokk opened #3990 "💥 [DevOps] Fixate Node Version In Docker"
## :fire: DevOps ticket

Fixate the node version to `12.19.0-alpine3.10`.

### Motive

At the moment the latest version with tag `node:lts-alpine` is used.
This is now the incompatible version `15.X`, which does not work.

### Related issues

None

### Implementation

None

### Validation

None

### Additional context

None

[2020-11-05 16:21] Tirokk opened #3992 "🚀 [Feature] Improve Export Of User Data With All Posts Written On By Collecting Directly"
## :rocket: Feature

Improve export of user data with all posts the user has written on by collecting data in database directly.

### User Problem

The user want to have all data with the one the user has written on.

### Implementation

None

### Design & Layout

None

### Validation

None

### Additional context

None

[2020-11-05 17:24] #3990 closed

[2020-11-05 18:49] #3992 closed

[2020-11-25 02:06] stomobe commented on #295
Hello there. I am a computer science undergraduate student and was interested in working on this feature if my assistance can be of help!

[2020-11-25 08:34] sushidave commented on #295
Hello @stomobe and greetings to Michigan! :)
Thank you for your readiness to take care of this issue. Your assistance is much appreciated!
This repository has been discontinued, however we continue the development on the community repository (fork) called Ocelot.Social. Here is the corresponding issue https://github.com/Ocelot-Social-Community/Ocelot-Social/issues/295. I am going to contact the co

[2020-11-27 01:29] heysivani commented on #1950
Hi @Tirokk @sushidave! 🐨 I'm new to contributing to open source projects and really interested in your project. I'd love to take a crack at this issue if that's OK?

I'm going through the contribution guidelines, and noticed the discord invite links seem to be expired - is there an updated link somewhere?

[2020-11-27 09:18] sushidave commented on #1950
おはようございます @heysivani -san (-:
Welcome to this project and thanks very much for your readiness to contribute!
This repository has been discontinued and development goes on on its fork called Ocelot.Social. This issue has been copied [there](https://github.com/Ocelot-Social-Community/Ocelot-Social/issues/1950) and it looks as if another contributor is working on it already. @Tirokk will provide you

[2020-12-04 00:33] heysivani commented on #1950
@sushidave おはよう again! Thank you for letting me know, I'll head over to the new fork and have a look at what I can do :)

[2020-12-07 16:14] sushidave commented on #1950
@heysivani どどうたしましまて and see you there (-:

[2021-05-21 21:44] manthony9 commented on #3779
Hi @Tirokk, is this issue still available?

[2021-05-21 22:13] sushidave commented on #3779
Hi @manthony9, greetings to Canada and thanks a lot for your interest! :)
This repository is inactive. Many of the open issues were transfered to the new community repo, see this fork https://github.com/Ocelot-Social-Community/Ocelot-Social/, where further development takes place.
This [issue](https://github.com/Ocelot-Social-Community/Ocelot-Social/issues/3779) for the capslock icon has been clos

[2021-05-25 16:59] Tirokk commented on #3779
Hey @manthony9 ,

please just write us on an issue in the new repository like @sushidave said or contact us on Discord:
https://discord.com/invite/DFSjPaX

On Discord we have kind of every day a Daily Standup at UTC 09:30 am (CEST 11:30 am) in the Conference Room.
Looking forward to get in contact.

[2021-05-30 16:44] Blargian commented on #3673
Hi, are you still needing help with this? I'd be interested in working on this as a first issue. If it's still something you need help with could you please assign it to me.

[2021-05-30 16:56] sushidave commented on #3673
Hi @Blargian and greetings to Johannesburg :)
Thank you very much for your interest in this issue. This whole repo is inactive and further development takes place at its fork called "Ocelot.Social" where you'll find [this same issue](https://github.com/Ocelot-Social-Community/Ocelot-Social/issues/3673) still being open. Since I don't know how far the assignee is with his work please connect with t

[2021-06-14 11:16] Tirokk commented on #425
Is not stale

[2021-07-18 19:24] devsisingh commented on #3833
You can use Google maps API but I guess it's paid one.
Other options can be, open street map, arc GIS..

[2021-07-19 08:37] Tirokk commented on #3833
Thanks a lot for your hints @emily876 ! 👍🏼

The Human Connection project was last year migrated to:
https://github.com/Ocelot-Social-Community/Ocelot-Social
The issue there is:
https://github.com/Ocelot-Social-Community/Ocelot-Social/issues/3833

Would be nice if we can have this conversation there … ? 😍
https://github.com/Ocelot-Social-Community/Ocelot-Social/issues/3833#issuecomment-882362208

[2021-07-19 09:15] devsisingh commented on #3833
yaa sure , thanks

[2022-02-06 21:16] prtdh commented on #3779
hey @sushidave
is it still open? i want to work on this

[2022-02-07 13:06] sushidave commented on #3779
Hello @prtdh
Thanks for your message. This repository is no longer maintained. Please head over to the active fork at https://github.com/Ocelot-Social-Community/Ocelot-Social/. This specific [issue](https://github.com/Ocelot-Social-Community/Ocelot-Social/issues/3779) has been closed but you are welcome to pick another [good first issue](https://github.com/Ocelot-Social-Community/Ocelot-Social/lab

[2022-10-03 01:34] KarthickSakthi commented on #3186
Hi, is this issue is still open?

[2022-10-03 10:46] sushidave commented on #3186
Hi @KarthickSakthi , thanks for your interest.
This repository is no longer maintained. The development of the code and of this issue takes place at its fork at https://github.com/Ocelot-Social-Community/Ocelot-Social/issues/3186. Please head over to there. I'll ask a developer to provide you with further details.

[2022-10-04 12:32] Tirokk commented on #3186
Hey @KarthickSakthi ,

this repo is developed forth where @sushidave has sayed:
https://github.com/Ocelot-Social-Community/Ocelot-Social/issues/3186

We are very happy if you would like to pickup an issue there.

This issue will be solved by my PR https://github.com/Ocelot-Social-Community/Ocelot-Social/pull/5132/files#diff-8584acfaa0db1146f82b41c1a63c7879653f89f41ab2af76a2565fdf50be1e4b by removi