[2019-11-03 21:37] ogerly opened #2112 "🐛 [Bug] Comment Counters are Different"
## :bug: Bugreport
the counter on the card post page counts out deleted comments, the counter on the contribution counter counts out deleted comments with

![FireShot Capture 151 - Spenden- statt werbefinanziert! - Human Connection - human-connection social](https://user-images.githubusercontent.com/1324583/68092221-413cf780-fe89-11e9-960c-afb9aba60a30.png)

![FireShot Capture 149 - Human Connecti

[2019-11-03 21:47] ogerly opened #2113 "🚀 [Feature] Contributions from Followed"
## :rocket: Feature
Add a point "Contributions from followed".
Show all posts by users who are followed by a user.

![FireShot Capture 152 - Human Connection - Human Connection - human-connection social](https://user-images.githubusercontent.com/1324583/68092467-c0cbc600-fe8b-11e9-80e2-0004d8097035.png)

[2019-11-04 06:01] ogerly commented on #2103
Okay. No problem.
it is made with :) beautiful week to you

[2019-11-04 07:29] alina-beck commented on #1472
@sushidave thanks for the clarification! Yes, I think the question is if/how/where/up to which size Human Connection wants to host files (including images) uploaded by users.

[2019-11-04 09:20] #2045 closed

[2019-11-04 10:11] ogerly commented on #2113
is already implemented

[2019-11-04 10:11] #2113 closed

[2019-11-04 11:51] Mogge opened #2115 "🐛 [Bug] Strange hyphenation in titles of German posts"
## :bug: Bugreport

![grafik](https://user-images.githubusercontent.com/15882241/68118890-75ec9580-ff01-11e9-9b6c-320e08fa1bde.png)

There are a lot of examples more to find

### Steps to reproduce the behavior
1. Change to another langauge (I tried it with Spanish). Check some titles of German posts where hyphenation applies. Or check the title of the pinned post and see how the hypenation switch

[2019-11-04 13:31] ogerly commented on #2107
ok

[2019-11-04 13:31] #2107 closed

[2019-11-04 13:31] ogerly commented on #2106
ok

[2019-11-04 13:31] #2106 closed

[2019-11-04 13:32] ogerly commented on #1931
ok

[2019-11-04 13:32] ogerly commented on #1931
ok

[2019-11-04 13:32] #1931 closed

[2019-11-04 15:40] MarcoBomfim commented on #1937
Good to have confirmation, actually! I'll start working on it, then.

[2019-11-04 21:02] mattwr18 opened #2117 "🚀 [Feature] Refactor deprecated slot syntax"
## :zap: Refactor

Following https://vuejs.org/v2/guide/components-slots.html#Named-Slots

We are using deprecated syntax in various places in our code base

In short, `<template slot="index" slot-scope="scope">` can be refactored to `<template #index="scope">`

Motivation for this change, and more examples can be found here https://github.com/vuejs/rfcs/blob/master/active-rfcs/0001-new-slot-synta

[2019-11-04 21:53] DennisHack commented on #1463
Who will program it? Please make an apppointment with me about that to talk in detail and clarify all questions. THANKS

[2019-11-04 22:05] DennisHack commented on #1747
is this really so important right now? If yes, I would also like to ask for a short meeting to clarify in detail how it will be made or if there are still questions open. Thanks!

[2019-11-04 22:21] mattwr18 commented on #1747
We have a `PR` with part of the implementation that would allow users to be able to decide for themselves whether they would like to show their `shouted` Posts to other users here: https://github.com/Human-Connection/Human-Connection/pull/2101

There were questions about the frontend implementation that @alina-beck added to the `PR` :point_up_2:

Whether it is important right now is a question sur

[2019-11-05 06:55] alina-beck commented on #1463
@DennisHack if you have a solution in mind please share it here! Feel free to update the feature description above (or have a chat with @datenbrei and have him do it? :wink:).

It is not enough if _one_ developer knows what's going on, because:
- they might get sick and someone else has to take over the issue
- we might work on this issue in a pairing session, so we all need to be on the same page

[2019-11-05 07:31] alina-beck commented on #1724
@datenbrei this feature needs more clarification!

We are talking about two different features here, right? `Blacklist` and `block user`? If I understand you correctly, then what we currently have in the database as `blocked` should actually be `blacklisted` and we need to add a new relation type? If so, then can we please clarify both features in separate issues?

Here is what I understand (and d

[2019-11-05 07:58] datenbrei commented on #1937
Hi guys. There seem to be a lot of other HTML issues. I checked our output with some validators and there had been lots of issues.

Here I add a sampling of tools, which culd be used for analysis:

## Generic online validation tools

- [W3C Markup Validation Service](https://validator.w3.org/) - shows you if your HTML is correct
- [NU HTML Checker](https://validator.w3.org/nu/) - the same, but mor

[2019-11-05 08:10] alina-beck opened #2119 "🚀 [Feature] Create Post – consistent form input validation"
## :rocket: Feature
Validate all fields of the `create post` form in a consistent way. (Ideally, the same system can then be applied to all forms on the network.)

<img width="463" alt="Screenshot 2019-11-05 at 10 44 14" src="https://user-images.githubusercontent.com/11694483/68188570-80b73100-ffba-11e9-873d-2688164ddeec.png">

### User Problem
It is unclear which parts of the `create post` form a

[2019-11-05 08:11] alina-beck commented on #1876
In yesterday's meeting we agreed that users should not be able to add a post with just a video but that we need better form validation – here is an issue for that: #2119

[2019-11-05 08:11] #1876 closed

[2019-11-05 08:27] alina-beck commented on #2040
Hey @mindcodemediator, sorry for the late response. Are you still interested in working on this issue? That would be great! :rocket:

I just think it needs some clarification first, @Tirokk and @datenbrei:
- where on the page should this be located (header, footer, user profile... ?)
- should it be a call to action `button` or a `link` to the donations page?
- what's the target URL or what is supp

[2019-11-05 09:31] ogerly commented on #2056
vue + w3c valid == https://www.npmjs.com/package/vue-w3c-valid

[2019-11-05 09:32] datenbrei commented on #2040
I asked Dennis about these questions. Will give feedback as soon, as I got it.

[2019-11-05 09:38] datenbrei commented on #1724
Hi @alina-beck There still is a seperate EPIC for the blacklist, #307 . This one is really epic, so you are right: The current implementation was an all-in-one-like. After done, Dennis decided, that he would like to have a change on it. So from my point of view currently we just would need to reverse some restrictions we'd done and nothing else for now:

 The blocked user can always see my article

[2019-11-05 09:52] datenbrei commented on #1994
We once was talking and deciding about this with @roschaefer in a discussion. My memory is, that we decided upon this, that there would be a ways without reloading the whole page. We also decided to choose the easy way. But I can't tlak about implementation details. Robert, can you add these?

[2019-11-05 10:01] datenbrei commented on #1463
I suggested a clarification with Dennis Wed. 6th of Nov. 10 AM. will give you feedback, if agreed by him

[2019-11-05 10:17] datenbrei commented on #2040
Martin is inviting you to a scheduled Zoom meeting.

Topic: Feature Clarification
Time: Nov 6, 2019 10:00 Amsterdam, Berlin, Rome, Stockholm, Vienna

Join Zoom Meeting
https://zoom.us/j/877887275

Meeting ID: 877 887 275

[2019-11-05 10:17] datenbrei commented on #1463
Done

Martin is inviting you to a scheduled Zoom meeting.

Topic: Feature Clarification
Time: Nov 6, 2019 10:00 Amsterdam, Berlin, Rome, Stockholm, Vienna

Join Zoom Meeting
https://zoom.us/j/877887275

Meeting ID: 877 887 275

[2019-11-05 10:19] mattwr18 commented on #1994
We talked about it @datenbrei, but it is not easy to implement because where the logo lives is not where the query for the `Post` are, so we would have to refactor to move everything to the `Vuex` store, probably...

[2019-11-05 10:32] datenbrei commented on #2119
My answers to that:

- Images can't be validated. it needs just to be in a supported image data format.
- 3rd-party editor: possibbly the data can be validated at submit time?
- Why not just allow empty content? If a content is three characters in my point of view it is not better than an empty one. In trying to enforce a good user behaviour we introduce problems we would not have otherwise? We al

[2019-11-05 11:27] alina-beck commented on #1724
@datenbrei thanks, that helps!

Still some open questions. So far a user can not see a post and therefore not comment on it. If they now see the post:

And:

[2019-11-05 11:43] alina-beck commented on #1994
And the websocket/subscription feature you wanted to build is a lot of work as well, right? Is there an issue for it somewhere that we could prioritize instead of this one?

Because I feel like putting a lot of time into refactoring this to use `Vuex` and then removing it again a few weeks later in favor of subscriptions might be a waste of time...

[2019-11-05 11:56] alina-beck commented on #2119
the idea is to have _consistent_ validation – I think it just adds to the confusion when we check some fields right away, others `onSubmit` and others not at all :confused:

I think we will need to do some research and try out if we can achieve this with the editor. I'm not saying it's not possible! I just don't know if it is.

Hehe, great question! I think @ogerly was suggesting to introduce a hi

[2019-11-05 11:57] mattwr18 commented on #1994
It might not be that much work to refactor to use `Vuex` because we can still use a smart query and add one mutation and one getter, then use them in both the page, and the layout...
Now, I've gotten distracted by the duplicate posts on the root path, which I can't seem to find an issue for at the moment

[2019-11-05 13:45] mattwr18 opened #2125 "🐛 [Bug] Duplicate posts on root path"
When beeing in your own profile, sometimes posts are shown two times, see the one on the left middle and on the right middle.:

<img width="887" alt="doppelt" src="https://user-images.githubusercontent.com/13457963/68373556-707e8d80-0143-11ea-8b29-01ddca21ba2b.png">
## :bug: Bugreport

### Steps to reproduce the behavior
1. it can't be reproduced, sometimes it happens
2.
3.
4. ...
5. Profit

### E

[2019-11-05 14:32] mattwr18 commented on #1746
Can I get clarification on this issue before starting to work on it?
1) this is intended not just to blur "explicit" images, ie nudity, but maybe "shocking" content, as in what others might consider not family-friendly, ie disturbing in some way? Like violent, scary, not appropriate for children(?)
2) who decides this, as @datenbrei asked? at first the user would have a check mark to mark their im

[2019-11-05 21:19] mattwr18 opened #2128 "🐛 [Bug] Neo4j error on production cluster"
## :bug: Bugreport

we are getting this error at least 3 times a day on our production cluster for the last week.
[code]

I have found this open issue, which could be related https://github.com/neo4j/neo4j/issues/12014
It suggests that we should double check our code base for open `session.run`, with no closing `session.close`, and also says "If you're using transaction functions (i.e. Session.Rea

[2019-11-06 07:50] ogerly opened #2138 "🐛 [Bug] user slug"
## :bug: Bugreport
the user slug should either be restricted or best locked for modification.

![FireShot Capture 168 - Test Benutzernamenlänge - Human Connection - human-connection social](https://user-images.githubusercontent.com/1324583/68278504-c08d1f80-0071-11ea-87ef-5632841520e6.png)

### Expected behavior
give the slug length a maximum length OR

if we use the slug as a link it should be un

[2019-11-06 08:18] datenbrei opened #2139 "🚀 [Feature] Use Browser Language Setting for Registration Dialogue"
## :rocket: Feature
1. If somebody want's to register, the browser default language is not taken into respect. Currently it falls back to english as default for a mostly german language network. There 2. should be a configurable default (e.g. German).

### User Problem
1. A German User may not feel comfortable with an English message box
2. If I share a link to the registration dialogue, die meta-

[2019-11-06 11:29] alina-beck commented on #1724
Update after today's meeting with @ogerly and @DennisHack:

**Blacklist** is always related to content!
Content (currently `Posts`) can be blacklisted (i.e. permanently filtered) _in the future_
- by `categories`
- by `author`
- by a word or phrase entered by the user

**Blocking** is always related to a user!

Questions:
- What do I see when I visit the user profile of a user I have `blocked`? (P

[2019-11-06 11:42] Tirokk opened #2141 "🚀 [Feature] Have A Short Link For Organisations That Points To Their Profile"
## :rocket: Feature

Have a short link for organisations that (for now) points to their profile.

- Make the slug part of the link case insensitive.
- It shall work for all user profile slugs which are not blocked by existing folders or other uses.

### User Problem

- We have no special link for organisations at the moment.
- The slug of such a link is case sensitive.

### Implementation

We need

[2019-11-06 13:27] alina-beck commented on #1463
I updated the issue description with what we discussed in today's meeting – so I think this is good to go! :)

[2019-11-06 13:37] ogerly commented on #2139
at the start of the page the system checks which browser setting a user has. default is english. there is no possibility to check if another language speaks unless he chooses it.
alternatively the language of HC default can be german.
or we check a part of the ip that indicates the local space.
and leave the check away from the browser.

[2019-11-06 14:18] alina-beck opened #2142 "🚀 [Feature] Limit search results to 15 per type"
## :rocket: Feature
In order to not overwhelm our users with search results we want to display only the top 15 search results of each type (`post`, `user`, later also `hashtag`) in the search dropdown.

### Implementation
Open question: should the search results be limited in the backend or frontend?

### Design & Layout
The size of the dropdown might have to be expanded, to make sure a user not o

[2019-11-06 14:31] alina-beck opened #2143 "🚀 [Feature] Search by hashtags"
## :rocket: Feature
Users should be able to search by hashtags by entering a keyword in the search field.

### User Problem
At the moment users can only find posts by hashtag by navigating to a post and clicking the hashtag in its content. This takes a long time and can be very frustrating, especially since they first need to _find_ a post that contains the hashtag they are interested in.

### Imp

[2019-11-06 14:44] alina-beck opened #2144 "🚀 [Feature] Add Search Results Page"
## :rocket: Feature
Users should see search results on a separate search results page.

### User Problem
At the moment users only get very limited results in a search results dropdown. Viewing the results on a separate page would give a better overview and allow for a larger number of results.

### Implementation
- There should be a separate route for search results.
- All search results for each

[2019-11-06 14:49] mattwr18 commented on #2142
@alina-beck I think it would be quite simple to limit it with the graphql query, like we do with `Post` where we send `first` which later gets turned into `LIMIT $first` for the database query

[2019-11-06 14:52] alina-beck opened #2145 "🚀 [Feature] Filter search results by type"
## :rocket: Feature
blocked by #2144!

Users should be able to filter search results by type (`post`, `user` or `hashtag`).

### User Problem
Having all search results displayed on a single page can be overwhelming and unnecessary when
a user already knows they are interested in posts only.

### Implementation
Similar to the search results page filter on facebook: with clickable tabs on top of the

[2019-11-06 14:53] alina-beck opened #2146 "🌟 [EPIC] Search"
## 🌟 EPIC: Search

### Problem
Users should be able to quickly find the content, persons and organisations they are looking for.

Status quo: Users can search for `posts` and see a dropdown list with results:
<img width="522" alt="Screenshot 2019-11-06 at 16 08 06" src="https://user-images.githubusercontent.com/11694483/68300793-8b9fbd80-00af-11ea-9ab4-d207654fb096.png">

Medium-term goal: Users c

[2019-11-06 14:55] mattwr18 commented on #2142
At the moment, we are limiting the `Post` search results to 10
[code]

[2019-11-06 15:12] alina-beck commented on #2040
I updated the description according to what we discussed in today's meeting, so as soon as I get the design mockup this is good to go! @mindcodemediator, please let me know if you're still interested in working on this and if you have any more questions. 🙂

[2019-11-06 15:20] mattwr18 commented on #1851
closed by https://github.com/Human-Connection/Human-Connection/pull/2091

[2019-11-06 15:20] #1851 closed

[2019-11-06 15:23] mattwr18 commented on #1188
could you give more info on this @Tirokk ??
do you mean that a user when editing their post should see a delete icon to delete their existing image?
Or that after a user adds an image their should be a way to remove it before creating/saving a Post?
both?

[2019-11-06 15:26] mattwr18 commented on #1598
I think this might not be such an easy issue @Tirokk since the load more on scroll works fine, but only if you follow a deep link to a profile, or refresh the page, it does not work if you visit the profile by clicking on a user's name to visit a profile.

[2019-11-06 15:31] mattwr18 commented on #1952
hey sorry I am just responding now...
can we test this out again on `nitro-staging`? we have refactored this code, and it might not be an issue anymore (??)

[2019-11-06 15:34] mattwr18 commented on #1229
Anyone else have opinions about this? I have no problem with your idea @Tirokk and @alina-beck is in favor of it, so maybe we can just do it?? I can help if someone wants to work on it...

[2019-11-06 15:55] aonomike opened #2147 "🚀 [Feature] Investigate failing reports spec"
## :rocket: Feature

Tests in src/schema/resolvers/reports.spec.js are failing
It would be nice to investigate and fix the failing tests
### User Problem

Fix failing tests in report.spec
### Implementation

Run the tests and see why they fail then fix
### Design & Layout

### Validation

### Additional context

[2019-11-06 16:24] MarcoBomfim commented on #1937
So, I've managed to get a version working locally, which allows mentions and tags on the line below the Embed. **Although**, due to the change I've made, it broke a test, which I'm checking right now if I can fix this in any other way, or if we'll have to change the test itself.

I'll keep this thread going, just to keep you folks posted, but I'll estimate that I'll be opening a PR by Friday.

[2019-11-06 16:45] aonomike commented on #2147
I had not pulled from master, false alarm

[2019-11-06 16:45] #2147 closed

[2019-11-06 16:52] martinneumann opened #2149 "🚀 [Feature] Refactor Http signature spec"
## :rocket: Feature

Refactor Http signature spec to use apollo server testing.

### User Problem

Allows test to run with mock server.

### Implementation

Implement using the apollo server testing library.

### Design & Layout

### Validation

All tests in file `src/activitypub/security/httpSignature.spec.js` pass.

### Additional context

[2019-11-06 18:47] aonomike opened #2150 "🚀 [Feature] Remove grapgql requests"
## :rocket: Feature

The backends tests have all be refactored to use graphql-apollo-testing instead of graphql requests. We should remove all the instances of the graphql requests in the backend as they are not being used
### User Problem

Removes unused library graphql-requests

### Implementation

Search for all instances of graphql-request library in the files, see their usage, and remove if n

[2019-11-07 05:33] aonomike commented on #2149
Turns out this was an issue with my node version, running the tests in node 11 solved the issue and the tests passed.

[2019-11-07 05:33] #2149 closed

[2019-11-07 08:52] #2057 closed

[2019-11-07 08:53] #1994 closed

[2019-11-07 08:53] #2125 closed

[2019-11-07 09:06] #2128 closed

[2019-11-07 09:16] #2150 closed

[2019-11-07 09:18] mattwr18 opened #2161 "🐛 [Bug] console.error in Hashtag.spec.js"
## :bug: Bugreport

We are getting this error in components/Hashtag/Hashtag.spec.js:
[code]

### Steps to reproduce the behavior
1. Pull down the latest changes from `master`
2. from `/webapp` run `yarn test components/Hashtag/Hashtag.spec.js`
3. see error in console

### Expected behavior

We should not have runtime errors... please register `nuxt-link` properly in the test :point_up:

Here is an

[2019-11-07 14:43] sushidave opened #2162 "💬 [Question] How can images of illustrated posts of Alpha be displayed in Nitro?"
## :speech_balloon: Question

In Alpha release, users were able to publish illustrated posts containing images that are hosted externally. Since Nitro, those posts are disrupted as those images are no longer displayed as images but as links.

Example:
![illustrated-post](https://user-images.githubusercontent.com/17728384/68398430-0252be80-0175-11ea-93b2-6d5ce2ac36f2.png)

What can be done to show

[2019-11-07 16:13] sushidave commented on #1067
Closing this issue now since FAQs were implemented.

[2019-11-07 16:13] #1067 closed

[2019-11-08 13:13] ogerly opened #2168 "🐛 [Bug] the user image should be included as a small thumbnail"
## 🐛 :bug: Bugreport
  the user image should be included as a small thumbnail

![Bildschirmfoto von 2019-11-08 14-04-43](https://user-images.githubusercontent.com/1324583/68478733-ea407500-0230-11ea-906e-d5d475d2d13d.png)

user image can have any size. this delays the loading time and unnecessarily increases the data volume e.g. on mobile rooming devices.

a small thumbnail should be created when

[2019-11-08 13:16] ogerly commented on #2162
the alpha will no longer be revised. please save this address: https://human-connection.social/
 and forget about the alpha

[2019-11-08 14:30] sushidave commented on #2162
@ogerly Thanks for your reply and sorry that it was not clear enough. The question is about posts existing in Nitro that were created in the Alpha phase and transferred to Nitro.

[2019-11-08 16:18] datenbrei opened #2170 "🚀 [Feature] Change of Terms of Service"
## :rocket: Feature
The ToS is to be extended after point "6. Fehler und Feedback:" Addition:

Keine kommerzielle Nutzung

Die Nutzung des Human Connection Netzwerkes ist nicht gestattet für kommerzielle Nutzung. Darunter fällt unter anderem das Bewerben von Produkten mit kommerzieller Absicht, das Einstellen von Affiliate-Links, direkter Aufruf zu Spenden oder finanzieller Unterstützung für Zweck

[2019-11-08 16:18] datenbrei commented on #2170
This issue first needs approval by Dennis

[2019-11-09 20:02] infinite-dao commented on #1467
Seeing the same on https://human-connection.social, I just want to add:

1. I had posted a news article with English language setting, it is saved as such
2. On reediting this article it displays in gray as @ulfgebhardt reported _and_ the very first option is selected regardless that an English language setting was saved before

So it needs also a selected check, wich language option has to be sel

[2019-11-10 10:40] sushidave commented on #2119
@alina-beck Hello Alina. Those are very helpful features for users, thanks very much for this issue!

I would suggest to show supported image formats in the placeholder, see #1949 .

[2019-11-10 11:13] sushidave commented on #1934
@mattwr18 Hi Matt. I agree with your suggestion. Cropping is the exceptional use case while not cropping is the standard one. Currently, we force all users to perform these steps after uploading an image:

1. Increase image to 100%: Drag and drop at least two handles of the frame.
2. Clicking the Confirm button.

Issues:

- Some users forget to click the Confirm button and wonder why their uploade

[2019-11-10 14:12] Mogge commented on #1264
I could help you with the frontend, @KapilJ22. I guess you need a button on the post-page to disable comments and later we must check if users can comment the post.

[2019-11-10 14:58] mattwr18 commented on #1264
Or a checkbox the user can check if they want to create or edit a post to turn off commenting? What do you think @alina-beck ??

[2019-11-10 18:16] infinite-dao opened #2171 "🚀 [Feature] Editor toolbar on very long articles works not properly"
## :rocket: Feature
Inline scrolling when article is very long
### User Problem
When the article is very long, the toolbar disappears and, eg. the »insert a link« button does not work unless you have marked text _and the Button_ within the screen area. If it gets out of reach, the link inserting does not work. (in Opera Browser Version:63.0.3368.94, Linux)

### Implementation
Perhaps a simple `ove

[2019-11-10 20:27] Mogge commented on #1264
Yes, a checkbox is the better idea

[2019-11-11 01:56] Mozar10 commented on #2161
I added the fix for this, how should I contribute? just fork and PR?

[2019-11-11 06:20] alina-beck commented on #1467
@infinite-dao thank you for reporting this! I think this is an even bigger issue than the look of the select field – the initial language setting should definitely be kept when editing a post. I will add a separate bug report for it that we can prioritize! 😅

[2019-11-11 06:33] alina-beck opened #2187 "🐛 [Bug] Selected language is changed when editing a post"
## :bug: Bugreport
reported by @infinite-dao at the related issue #1467:

### Steps to reproduce the behavior
1. Write a new post
2. Select a language _other than your selected locale_
3. Save the post
4. Edit the post
5. See the language setting changed to your _selected locale_

### Expected behavior
When I select a language for a post I expect it **not** to change automatically when editing the

[2019-11-11 10:12] mattwr18 opened #2190 "🚀 [Feature] Add/set up automated deploys to develop server"
## :rocket: Feature

We want to have three servers for separation of concerns...
1) `develop` will be where we automatically deploy master from our Travis build server and will have seeded data. This is great for quickly testing features and bug fixes in a production environment, and also great for inviting our friends from the open source community to help us manually test.
2) `staging` will be a

[2019-11-11 12:31] datenbrei commented on #1746
Hope I can answer your questions:
1. Don't think about reasons at all. Let us just find a good word for it: desturbing, shocking. In German: "Ggf. verstörend". We could take the wording from other networks, like Mastodon.
2. Yes, exactly, the original author would mark this at first.
3. Yes, users could later report desturbing content and the moderation would decide. So I could imagine, that we wo

[2019-11-11 12:45] datenbrei commented on #2119
I asked @DennisHack for how he would like this to behave.

[2019-11-11 13:29] #1974 closed

[2019-11-11 14:56] alina-beck commented on #2119
@datenbrei have you seen the PR @ogerly has put in? :point_up: He proposed a design that I like a lot and think has great usability! It might need some fine-tuning but the idea is really good. :grin:

[2019-11-11 16:23] KapilJ22 commented on #1264
Great - thanks @Mogge

On Sun, Nov 10, 2019 at 9:12 AM Mogge <notifications@github.com> wrote:

[2019-11-11 18:24] #2190 closed

[2019-11-11 18:58] mattwr18 commented on #2161
please put in a `PR` to the repo directly! a fork will never pass our `Travis` build since we use encrypted env variables. see https://docs.travis-ci.com/user/environment-variables/#defining-encrypted-variables-in-travisyml for an explanation

[2019-11-11 18:59] mattwr18 opened #2195 "🐛 [Bug] console.errors in /webapp"
## :bug: Bugreport

Currently, our test suite is throwing these console.errors
in /pages/index.spec.js
[code]
see https://github.com/Human-Connection/Human-Connection/blob/master/webapp/components/FilterPosts/FilterPosts.spec.js#L59 for an example of how to configures `mutations` and `getters` for a test suite

### Steps to reproduce the behavior
1. run `yarn test pages/index.spec.js --watch --not

[2019-11-11 19:54] sushidave opened #2196 "🚀 [Feature] Input fields for tags"
## :rocket: Feature

As a network provider I would like users to tag their contributions because tags enhance the knowledge network for users in general.

### User Problem

Today, many users don't tag their contributions for various reasons such as:
- They are not aware of hashtags.
- They don't know how to tag.
- They are not prompted to tag.

### Implementation

On the post editing page right af

[2019-11-11 21:29] sushidave opened #2198 "🚀 [Feature] Privacy options for posts"
## :rocket: Feature

As a user I would like to restrict the visibility of my posts.

1. Private: Post is visible to the editing user only, can be used as draft.
2. Not listed: Post is visible to anyone, does not appear on the post feed appear and in search results. Can be used for private communication with other users and as a workaround for private messaging.

### User Problem

- Users cannot sa

[2019-11-11 22:02] Mogge commented on #2187
The language property was not fetched by the postFragment

[2019-11-11 23:56] #2161 closed

[2019-11-12 00:54] roschaefer opened #2202 "🐛 [Bug] Remove potentially sensitive information from JWT encoded token"
## :bug: Bugreport
While I'm writing [the slides for my lecture](https://docs.google.com/presentation/d/1UiBKO0v0dUlCIH1bb6O6UbbH30IURjqi0D30OBieS5I/edit?usp=sharing) I see that JWT documentation warns about putting sensitive data into the token. We put the `email` of our user there. We never use the `email` when we decode the token. Let's get rid of it.

### Steps to reproduce the behavior
1. Get

[2019-11-12 08:24] DennisHack commented on #1746
to Question 4: what about YT-Video preview picture? Can we blur it as well?

[2019-11-12 08:42] DennisHack commented on #1746
Rest should be ok without warranty!

[2019-11-12 08:48] DennisHack commented on #2198
Super!

[2019-11-12 08:52] datenbrei commented on #2196
Looks excellent to me

[2019-11-12 08:52] DennisHack commented on #2196
Excellent! THANK YOU for the detailed description and great thoughts about it! I look forward to this feature as I think we will be able to raise quality of content.

[2019-11-12 09:04] datenbrei commented on #2119
@alina-beck I've seen this, but I saw: Robert's work is better. ?!?!?

Anyways, I talked to @DennisHack . We agreed, that, sinece a post with three characters is as nonsense as an empty one we should allow empty posts for now, so that people just posting an URL do not run on errors and can post their videos.

[2019-11-12 10:42] datenbrei opened #2217 "🚀 [Feature] Check for Affiliate Links and disable them (LISTE ERSTELLEN!)"
## :rocket: Feature
Each time a link is added it is checked, if the link is an affiliate link. if so, it is changed in a way, that the affiliate information is removed or the link is to be deleted.

### User Problem
Users of the network may add affiliate links, but the non-commercial nature of the network does not allow this. So we need to check for these automatically.

### Implementation
The che

[2019-11-12 10:52] mattwr18 commented on #1746
sorry, a question I hadn't thought of, users should have some way of removing the blur effect from the images, right?

[2019-11-12 14:54] #2195 closed

[2019-11-12 20:46] #2040 closed

[2019-11-13 07:20] vbelolapotkov opened #2229 "🐛 [Bug] Code-of-conduct consequences section has unrelated message"
## 💬 Issue
Translations for code of conduct seems to have a wrong message in the section `code-of-conduct.consequences.list`:
[code]

The message seems to be related to `unacceptable-behaviour` section and it's already there indeed.

![Screenshot 2019-11-13 at 10 21 26](https://user-images.githubusercontent.com/3139099/68741760-8981b580-05ff-11ea-91d3-a24f71aeca3a.png)

[2019-11-13 08:38] infinite-dao opened #2230 "🐛 [Bug] Misspelled “their” of profile::invites::description"
## :bug: Bugreport
In there is a misspelled “thier” in https://github.com/Human-Connection/Human-Connection/blob/a0fe9cb94cb7d814b42dc46c48bdcd432e676e51/webapp/locales/en.json#L174 and also the “their” seems to refer to the very “somebody” in the title
https://github.com/Human-Connection/Human-Connection/blob/a0fe9cb94cb7d814b42dc46c48bdcd432e676e51/webapp/locales/en.json#L173
I wonder about the

[2019-11-13 09:09] mattwr18 commented on #2230
Hey @infinite-dao, definitely a typo that can be fixed. Their, in English is a good gender neutral pronoun, so we'd like to keep it.
Thanks for spotting this!

[2019-11-13 09:21] infinite-dao commented on #2230
OK, right. And the answer to my final question? ;-)

[2019-11-13 11:32] datenbrei commented on #571
@Tirokk I think this is some kind of minor improvement. Anyways, I'll take it into the Roadmap.

[2019-11-13 12:25] Mogge commented on #2230
Please check also the German translation. It uses the term 'seine' meaning 'his' which may exclude female users.

[2019-11-13 12:31] Mogge commented on #2230
I also think we should have a consistent usage of the term URL. Sometimes it is in lowercase, sometime in uppercase.

[2019-11-13 13:19] infinite-dao commented on #2230
OK, exclude female users yes and no. Interesting maybe is the [German Youtube talk of „Dr. Tomas Kubelik: Wie Gendern unsere Sprache verhunzt“ (45min)](https://www.youtube.com/watch?v=Ri-kVYDTEAk) and I concur with Tomas Kubelik, that our German language uses “male” grammar, if you do not know the sex of a person, eg. „Die Polizei, Dein Freund und Helfer“ instead of „Die Polizei, Deine Freundin un

[2019-11-13 15:33] aonomike opened #2232 "🚀 [Feature] Add cypress tests for pinned posts"
## :rocket: Feature

Admins are able to pin posts, and it would be nice if we have the pinned posts feature tested with cypress

### User Problem

Add tests for pinned posts

### Implementation

Create feature files and add cypress tests on them

### Validation

run yarn 'cypress:run'

[2019-11-13 18:16] Mogge commented on #2230
@infinite-dao I agree with what you are saying. Aber ich finde "gebe SEINE E-Mail Adresse ein" wirklich sehr maskulin. When I checked today I saw it already changed. Now in lokalize it is "Zur Einladung die E-Mail-Adresse hier eintragen.", which is fine. And thanx for the link, I will take a look at it.

[2019-11-14 07:14] Tirokk opened #2237 "🚀 [Feature] Comments 4-Times As Long Before Show More"
## :rocket: Feature

The comments shall be 4-times as long in character amount before the `Show more` button appears.

### User Problem

@DennisHack (our product owner) says that the user to often has to click on `Show more` to see the full comment of someone.

### Implementation

Make the character count four times as high before the `show more` button appears.

### Design & Layout

- none

### V

[2019-11-14 07:21] Tirokk commented on #2141
@roschaefer can you give the programmer a hint, how to do this.

@datenbrei @mattwr18 @alina-beck @ogerly It should be done in general in a timely manner as far I do understand. Just to make us aware …

[2019-11-14 07:32] datenbrei opened #2238 "🐛 [Bug] Wrong German Umlaut Handling in Editor"
## :bug: Bugreport
The Editor component does not encode German umlauts in URLs correctly:
![umlauts](https://user-images.githubusercontent.com/13457963/68835468-72eb6500-06b8-11ea-94e9-5ae0943c8bcb.png)

Browsers decode encoded umlauts in the URL bar. This one:
[code]
gets
[code]

Umlauts are not allowed in URLs, but users don't know about this. So if they make use of these, the editor should corr

[2019-11-14 07:44] Tirokk opened #2239 "🚀 [Feature] Show Language On Post Page"
## :rocket: Feature

If you go directly on the posts page the language of the post should be seen there.

### User Problem

If no users can see the language the author has set for their post nobody is able to make the author aware to maybe correct this.

This makes informations in our network less reliable and is an additional reason for bad user experience.
If a user selects English language in t

[2019-11-14 14:40] mattwr18 opened #2240 "🐛 [Bug] Infinite Scroll is loading more posts kinda infinitely after scrolling down"
## :bug: Bugreport
The lazy loading does not load older articles, but seams to be stuck in some kind.

### Steps to reproduce the behavior
1. go to the root path
2. scroll down to trigger infinite scroll
3. see that it consistently scrolls without more scrolling

### Expected behavior
The lazy loading should load more articles in a manner respecting the currently set sorting order.

### Version &

[2019-11-14 23:58] sushidave opened #2244 "🚀 [Feature] Order tags in tag cloud alphabetically"
## :rocket: Feature

Order tags in the tag cloud in posts alphabetically.

### User Problem

The more tags there are in a cloud the harder it gets to find a tag.
![hc-tag-cloud-unsorted](https://user-images.githubusercontent.com/17728384/68905897-fbaee300-0742-11ea-8485-b9ed159e55b3.png)

### Implementation

Order them alphabetically.

[2019-11-15 14:50] #1937 closed

[2019-11-15 14:50] #1936 closed

[2019-11-15 14:54] roschaefer commented on #1937
@MarcoBomfim I've randomly estimated the working hours to 5, so we see some progress in our burndown chart:
https://app.zenhub.com/workspaces/nitro-5c0154ecc699f60fc92cf11f/reports/burndown?milestoneId=4816186

[2019-11-15 16:03] #2240 closed

[2019-11-15 19:13] HelixX23 commented on #2119
Hi, does the input validation at the server side validate the same rules like the client side?
(Just to make sure there is a protection for unexpected browser behavior)

for image input validation it would be nice to transform the input image at the server side to scale it to a maximum size. The image maybe should be transformed and rewritten/recalculated anyway because of the direct browser prese

[2019-11-15 19:22] sushidave opened #2252 "🚀 [Feature] Convert single accounts into organisation accounts"
## :rocket: Feature

A method for admins to turn a single account into an account of an organisation

### User Problem

Currently, there are not accounts for organisations. Organisations can register a single account and use it to represent their organisation. Once the organisation feature https://github.com/Human-Connection/Human-Connection/issues/281 has been implemented admins need a function t

[2019-11-15 23:31] roschaefer commented on #2202
@steffi201028 I think it is enough to remove the `.email` from this line here: https://github.com/Human-Connection/Human-Connection/blob/master/backend/src/jwt/decode.js#L18

If you push a feature branch and create a PR from there, we can see if removing the `.email` breaks anything - I believe it's completely not required and can be removed. But we will see.

[2019-11-16 07:50] DennisHack opened #2253 "🐛 [Bug] Scrolling fails after a while"
I know that on Windows AND Ubuntu with CHROMNE Browser, the problem appears.
I recorded it, so you can have a own look:
https://www.youtube.com/watch?v=zopX8OyzaIA&feature=youtu.be

Screenshot:
<img width="732" alt="scroll-bug" src="https://user-images.githubusercontent.com/13457963/69944850-897f2200-14e8-11ea-88ae-4520186b1946.png">

I have 64GB RAM, 32GB Graphics Card NVIDIA Quadro 4000

As the

[2019-11-16 07:51] Tirokk opened #2254 "💬 [Question] News Feed Image Sizes Preset Possible?"
## :speech_balloon: Question

 Is it possible to preset the image sizes in the news feed by a pixel size stored in the database?

- We would avoid all the jumpings and taking more and higher space by loading the images.

[2019-11-16 10:32] roschaefer opened #2255 "🌟 [EPIC] Responsive images"
## :star2: EPIC

### Steps to implement:
#### Backend (uploading images)
- [ ] normalize images #2859
- [ ] compress images to a maximum file size #1922
- [ ] store images in different resolutions (addressed by PR #2602 and/or PR #2605?)
- [ ] update API to respond with the image in the requested size (addressed by PR #2602 and/or PR #2605?)

#### Webapp (displaying images)
- [x] migrate `Avatar`

[2019-11-16 13:51] roschaefer opened #2256 "🐛 [Bug] Uploading a SVG file turns it into pixelated JPG"
## :bug: Bugreport

When I write a post with an SVG file like this:

![svg](https://wac-cdn.atlassian.com/dam/jcr:5b153a22-38be-40d0-aec8-5f2fffc771e5/03.svg?cdnVersion=676)

What I see when uploading the image is:

![Screenshot - 2019-11-16T144831 171](https://user-images.githubusercontent.com/2110676/68994160-26528600-0880-11ea-8da9-b90fbb9a6224.png)

### Steps to reproduce the behavior

1. Visi

[2019-11-16 17:55] roschaefer opened #2259 "🐛 [Bug] Embeds are not displayed"
## :bug: Bugreport

Probably after #2242 the previous embeds are not displayed anymore. See:

![Screenshot - 2019-11-16T185240 630](https://user-images.githubusercontent.com/2110676/68997060-69bdec00-08a2-11ea-864a-0345196221ef.png)

### Steps to reproduce the behavior

It's difficult to reproduce since you need old production data. But the above post is here: https://human-connection.social/post/

[2019-11-16 17:55] roschaefer commented on #2259
@MarcoBomfim :point_up:

[2019-11-16 18:40] steffi201028 commented on #2202
@roschaefer Turns out removing the .email from https://github.com/Human-Connection/Human-Connection/blob/master/backend/src/jwt/decode.js#L18 does not have the desired effect.
I found that using an explicit delete statement here

https://github.com/Human-Connection/Human-Connection/blob/master/backend/src/jwt/encode.js

does the trick. Not sure if this is correct, locally at least it does not brea

[2019-11-18 06:48] alina-beck commented on #1922
@HelixX23 had an interesting comment about image validation and hidden content in images – we could consider this when working on the above issue: https://github.com/Human-Connection/Human-Connection/issues/2119#issuecomment-554490773

[2019-11-18 11:07] Tirokk commented on #1934
@DennisHack  agrees with the idea of first put the post image in the post and then have a button for cropping. (Nov. 18, 2019)

As well see bug #1952 .

[2019-11-18 11:24] alina-beck commented on #2254
Just talked about this with @mattwr18 – he will check if it's possible to get the `imageHeight` and set it as a property on `Post`. If we get this working then, yes, we can use it to improve the layout calculation in the frontend and get rid of all the jumping!

It might even fix the scrolling issue Dennis reported on zoom:
<img width="732" alt="scrolling bug" src="https://user-images.githubuserco

[2019-11-18 14:09] MarcoBomfim commented on #2259
@roschaefer does this happened to all other embeds that were already published? smells like this might be happening because the old data is still pointing to an 'inline' component, but the current embed component is a block.

I'll take a look on this throughout the day and will update this thread with any findings. Thanks for the heads-up!

[2019-11-18 14:59] #2042 closed

[2019-11-18 15:03] alina-beck opened #2270 "🚀 [Feature] Invite friends during registration"
## :rocket: Feature
New users should be able to bulk-invite friends as part of the sign up process.

### User Problem
Being the first (of a group of friends / speaker of a language) on a social network is not much fun – so it should be easy to invite people you know.

Hopefully, this will also help us to expand internationally.

### Implementation
Add a step to the registration process where new u

[2019-11-18 15:35] Tirokk opened #2271 "💬 [Question] Convert Wrongly As English Labeled Posts Into German"
## :speech_balloon: Question

Convert wrongly as english labeled posts into as german labeled ones?

Problem: If you filter for english language you find a lot of posts in german language.

Possibilities:

- If a contributor can make a list of all the wrong labeled post ids …
  - … we could make a database manipulation script to change them all in one stroke.
  - Contributors may can copy the ids

[2019-11-18 15:40] alina-beck opened #2272 "🚀 [Feature] Donate during registration"
## :rocket: Feature
We want users to be aware that we depend on their financial support to build and maintain the network – in return they get a social + knowledge + action network that does not sell their data or annoy them with ads.

### User Problem
It should be very easy for users to make donations and to see how important their contribution is for the success of the network.

### Implementati

[2019-11-18 15:43] Tirokk commented on #2271
I put this here as an Issue now …
@DennisHack @datenbrei @roschaefer @alina-beck @mattwr18 @ogerly

[2019-11-18 16:00] #1747 closed

[2019-11-18 16:03] alina-beck commented on #2271
I fear this is something we will indeed have to fix manually – so the idea of creating a list and then running a script is probably the best we can do! Before we get anyone started on this let's define the exact format so we can do this with the least possible effort (for both the contributor collecting the data and the developer writing the script).

I guess the first step would be to filter by l

[2019-11-18 16:03] #2115 closed

[2019-11-18 16:03] #2187 closed

[2019-11-18 16:23] Tirokk commented on #2271
Yes, I agree with you in most points @alina-beck !

But after rethinking I changed my mind and we should do it the other way around. Because the most posts are wrong labeled …
See possibility 1 in the description. ☝🏼

[2019-11-18 16:24] mattwr18 commented on #2253
I think this could maybe be due to the images being loaded slower than a user is scrolling, and the layout getting messed up somehow. The layout is recalculated based on the height of the image.

For now, try scrolling slower :stuck_out_tongue_closed_eyes: ... Just kidding.

I would try to have a look at this, https://github.com/Human-Connection/Human-Connection/issues/2254, which is an issue @Tir

[2019-11-18 20:13] KapilJ22 commented on #1264
@roschaefer @mattwr18 - Looks like there needs to have more discussion if this feature needs to be implemented and what exactly we need it. I'll get it un-assigned.

@Mogge - FYI.

[2019-11-18 20:25] Mogge opened #2275 "💬 [Question] Best practice with lokalise"
I would like to set this option in the upload configuration of lokalise:
![grafik](https://user-images.githubusercontent.com/15882241/69089657-e25ead00-0a48-11ea-91ed-190e3b4a37f3.png)

The reason is, that obsolete keys stay in lokalise with an English translation "Empty" which is very confusing for the translators. So far I removed them manually but this is obviously no solution.

[2019-11-18 20:27] Mogge commented on #2275
![grafik](https://user-images.githubusercontent.com/15882241/69091190-11295300-0a4a-11ea-95df-6c8df9969e4a.png)

I changed the path here. So in future the files should change in the folder `locales`

[2019-11-18 20:31] Mogge commented on #2275
What is a reasonable interval for updating the locales? Once a week?

[2019-11-18 23:07] Mogge commented on #2275
It seems that lokalise is pulling in some way automatically. Every time this happens, the same obsolete keys appear although I chose clean up mode. I guess they are coming in from another language than English, so lokalise cannot identify them as obsolete. I suggest only to import the English json file, to verify my assumption.

[2019-11-18 23:27] #2119 closed

[2019-11-19 09:14] Mogge commented on #2275
Looks like that this was the trick. Now after import no keys are obsolete.

[2019-11-19 11:48] roschaefer commented on #1724
@DennisHack @datenbrei  ping :point_up:

[2019-11-19 12:00] Mozar10 commented on #2239
@Tirokk Can I take a look at this?

As a native English speaker I had the exact experience you are referring to here. I double checked to make sure I had set the correct language settings on the main page.

[2019-11-19 12:23] roschaefer commented on #2141
@Hardy-Peaceglobal we discussed in a developer meeting that it would be easier to implement if all URLs could be [kebab-cased](https://kulturbanause.de/faq/was-ist-kebab-case/).

@Hardy-Peaceglobal would it be OK if all URLs get transformed into kebab-case before we search in the database for an organization?

http://human-connection.social/RubikonMagazin

would redirect to

http://human-connectio

[2019-11-19 12:52] datenbrei opened #2287 "🐛 [Bug] Browser support"
## :bug: Bugreport
There are some browsers, like edge or older Safari browsers, which are not supported.

### Steps to reproduce the behavior
1. Try to login
2. See, that it does not work

### Expected behavior
Any browser should ether work or one should get a warning, that it is not supported - and what you could possibly do (take another browser)

### Version & Environment
- [x] support latest E

[2019-11-19 13:15] roschaefer commented on #2259
Here is the difference:
**Broken embedded link**
![2019-11-19-140659_1920x1080_scrot](https://user-images.githubusercontent.com/2110676/69149432-ba1d8f80-0ad6-11ea-9171-72c424abb153.png)

**Recently created embedded link, not broken**
![2019-11-19-140953_1920x1080_scrot](https://user-images.githubusercontent.com/2110676/69149467-d0c3e680-0ad6-11ea-9ce9-edd722a12fc4.png)

Seems the only difference

[2019-11-19 14:09] ogerly commented on #2259
and I see it this way ...
![Bildschirmfoto vom 2019-11-19 15-06-58](https://user-images.githubusercontent.com/1324583/69153419-7dee2d00-0ade-11ea-86a1-b1a69be47875.png)

[2019-11-19 14:15] ogerly commented on #2259
this is the test link : https://peertube.social/videos/watch/9c9de5e8-0a1e-484a-b099-e80766180a6d
I can't make the mistake.
![Bildschirmfoto vom 2019-11-19 15-13-37](https://user-images.githubusercontent.com/1324583/69153961-682d3780-0adf-11ea-8348-67403d9d1229.png)

[2019-11-19 14:48] Hardy-Peaceglobal commented on #2141
That‘s ok for me. 👌

[2019-11-19 15:13] alina-beck opened #2289 "🚀 [Feature] Make shout button a floating action button"
## :rocket: Feature
suggested by Björn

The shout button should be a floating action button on the post page.

### User Problem
Recommending a post should be simple and not something users need to actively look for. With the current design it is not even very clear that the `shouts` button is a button.

### Implementation
The floating action button should be visible anywhere on the post page. It s

[2019-11-19 15:14] alina-beck opened #2290 "🐛 [Bug] Emotions are taking up too much space on the post"
## :bug: Bugreport
reported by Björn

Emotions are taking up too much space on the post, especially on mobile:
![emotions-post](https://user-images.githubusercontent.com/11694483/69157844-95391480-0af6-11ea-831b-c2c8fe23f72e.png)

### Steps to reproduce the behavior
1. Go to post page on mobile
2. Scroll down

### Expected behavior
The emotion buttons should take up less space on mobile. This can

[2019-11-19 15:18] alina-beck opened #2291 "🐛 [Bug] Footer takes up too much space on mobile"
## :bug: Bugreport
reported by Björn

The footer takes up a lot of space on mobile:
![footer-mobile](https://user-images.githubusercontent.com/11694483/69159214-99fec800-0af8-11ea-84da-882274c8510c.png)

### Steps to reproduce the behavior
1. Visit the index page on mobile

### Expected behavior
The footer should take up less space on mobile (equal to one line of text, maybe). This could be achiev

[2019-11-19 15:24] alina-beck opened #2292 "💬 [Question] Reduce width of Posts"
## :speech_balloon: Question
Björn reported this as an issue but I know we had different opinions about this earlier within the development team so I think it's best if we discuss it first:

https://www.stichpunkt.de/css/zeilenbreite.html

https://baymard.com/blog/line-length-readability

[2019-11-19 15:29] alina-beck commented on #2292
I personally would like narrower posts but I'm on a rather small screen so people with wider screens who are seeing more white space already might disagree.

I also think that readability is a fair point, so even if we can't agree to reduce the post width we could maybe set a maximum for the width of the text content?

[2019-11-19 16:42] yeltawil commented on #2291
hi! I am contributing to my first open source project and I'm interested in working on this one

[2019-11-19 17:20] Mogge commented on #2271
Could we ask the community to do this? If we provide a list of URLs to the posts with English language, the users of HC could easily try each link and remove it from the list if it is in English, then send the corrected list back to us.

[2019-11-19 19:44] roschaefer opened #2294 "🐛 [Bug] Filter user by email leads to 500 error if email can't be found"
## :bug: Bugreport

I was in the middle of practicing my lecture. When I wanted to explain the effect of `graphql-shield` I ran into a strange error "e.get is not a function".

### Steps to reproduce the behavior
1. Login as admin user at https://develop.human-connection.org/login
2. Visit https://develop.human-connection.org/admin/users
3. Search for an email address that does not exist, e.g. "lk

[2019-11-19 19:54] roschaefer commented on #2259
@ogerly it's not about new data. New embed links are saved just fine. It's about the existing links in the database which are not displayed as embed links.

[2019-11-19 20:47] ogerly commented on #2259
because the class="embed" is missing ... and were not entered via the editor. so they are cleaned when loading html code. and old links that don't have the class are gone ...

[2019-11-19 23:15] roschaefer commented on #2259
Are you absolutely sure @ogerly :thinking: ? We did not change anything about the css class recently: https://github.com/Human-Connection/Human-Connection/blob/master/webapp/components/Editor/nodes/Embed.js#L45

[2019-11-19 23:19] #2230 closed

[2019-11-19 23:49] MarcoBomfim commented on #2259
@ogerly, @roschaefer, I'm finishing up a sprint here on the company I work on, so I haven't had much time to check out this bug. Can any of you clarify whether we are able to fix the data by any manual way? Or do we need to rollback, find a way to sort out old production data, and then rollout the embed in block?

I'm planning on partaking the meeting on Friday, but just hit me on Discord if anyth

[2019-11-20 01:25] yeltawil commented on #2238
Hi! I am interested in handling this!

[2019-11-20 01:33] yeltawil commented on #2112
hi! I'm interested in working on this!

[2019-11-20 01:38] yeltawil commented on #1880
hi! I'm interested in tackling this

[2019-11-20 07:20] alina-beck commented on #1035
This issue is no longer reproducible on production.

[2019-11-20 07:20] #1035 closed

[2019-11-20 07:22] alina-beck commented on #1470
I agree with @ogerly. Any other opinions @datenbrei @DennisHack @Human-Connection/hc-dev-team? Otherwise feel free to close this issue!

[2019-11-20 07:31] alina-beck commented on #2291
That's great @yeltawil! :smile: Did you already join us [in our discord chat](https://discordapp.com/invite/DFSjPaX)? We can help you get started with the project there. I will also add you to our team of volunteers here on GitHub so you can open a pull request directly in the repository and don't need to fork it.

Do you have an idea how to solve the issue? I proposed a few possible solutions abo

[2019-11-20 14:45] mattwr18 commented on #255
I think this could still be relevant, what do you think @roschaefer
not sure if it makes a difference we are using `docker` images in our build process

[2019-11-20 14:46] mattwr18 commented on #292
@alina-beck you wanted to improve this after the migration maybe?
should we leave this open?

[2019-11-20 14:51] mattwr18 commented on #210
I think this can be closed @Tirokk, or I'm mistaken... as far as I've understood the `mentions` use the user's uuid and therefore if they change their name and/or slug... the link still points to their profile, oder?

[2019-11-20 14:54] mattwr18 commented on #265
we still want this feature... there are potentially duplicate issues for this?
maybe we leave this open if it's the oldest and close newer ones?

[2019-11-20 14:56] mattwr18 commented on #726
I think this is a feature that @Tirokk still wants and would be more in line with the direction @alina-beck has proposed to us, as I understand it...
Also, though it might not be super simple, it could be a good issue for the open-source community as there would be no hard deadline to getting it merged in, and the functionality is more or less working how we want, so it's more of a refactor... Tho

[2019-11-20 14:59] mattwr18 commented on #423
Is this still a feature the `admins` want @datenbrei ??
Maybe a good issue for the open-source community?
We have been getting along ok without, so maybe no deadline?

[2019-11-20 15:00] mattwr18 commented on #588
I think it would still be cool to incorporate one/both of these, but what do others think? anyone have any experience with either that can fill us in?

[2019-11-20 15:03] mattwr18 commented on #634
I guess this is still something we want, no @roschaefer... it seems you suggested this in https://github.com/Human-Connection/Human-Connection/issues/208

good candidate for open-source contribution?

[2019-11-20 15:04] mattwr18 commented on #161
closing this as it hasn't been an issue recently, and I don't know anyone on the team who uses rancher anymore... feel free to reopen if I'm wrong about that @roschaefer

[2019-11-20 15:04] #161 closed

[2019-11-20 15:07] mattwr18 commented on #591
certainly still relevant as contributors need to run `yarn lint --fix` before pushing up every time...
even those who contribute daily forget some times and that uses build time, aka resources unnecessarily.
maybe someone from the open-source community is willing to research this and add a `how-to` to our docs?

[2019-11-20 15:14] mattwr18 commented on #490
can we close this @Tirokk ??
I tend to agree with @roschaefer for the most part that it would be nice to have GitHub issues related to
`FAST`(Frequently discussed, Ambitious, Specific, Transparent) goals https://www.workpath.com/en/magazine/fast-goals-why-fast-is-better-than-smart-for-your-goals/

While I appreciate and like the idea to have a space for brainstorming, it looks like we haven't revi

[2019-11-20 15:14] sushidave opened #2306 "🐛 [Bug] Editing posts of Alpha deletes their hashtags"
## :bug: Bugreport

If a user edits any post that was created during Alpha and that contains hashtags (in the old fashion, e.g. in the tag cloud, not in the post content field) and saves the post those hashtags are gone.

### Steps to reproduce the behavior
1. Login to Nitro.
2. Edit any pre-Nitro post containing tags.
3. Save the post.
4. Check the hashtag cloud => no more hashtags

### Expected

[2019-11-20 15:20] mattwr18 commented on #287
I would like to close this @datenbrei @Tirokk @alina-beck @roschaefer @ogerly as the problem the user brought up, and it's possible solution have been implemented with `Block User 1.0(?)`...
We've since "decided" to revisit the solution, and have ` Blacklist` for content, and `Block` for users... see https://github.com/Human-Connection/Human-Connection/issues/1724 for a continuation of the up-to-d

[2019-11-20 15:22] mattwr18 commented on #321
@datenbrei is this somehow different from https://github.com/Human-Connection/Human-Connection/issues/38
I know this was created first, but there is more conversation about the issue and its implementation there, so can we close this?

[2019-11-20 15:23] mattwr18 commented on #349
what he said :point_up_2: `stale_bot`

[2019-11-20 15:26] mattwr18 commented on #488
I guess all the user stories of this issue have not been met by https://github.com/Human-Connection/Human-Connection/pull/1975, though it takes a step in that direction...
Users can now go to a dedicated page where they can filter notifications by their read status.
We could add to that functionality by allowing them to filter by `notification.reason`, and sort...
good candidate for open-source co

[2019-11-20 15:31] mattwr18 commented on #32
still relevant? I didn't know we have `Fathom`... are we collecting analytics already? there is no opt-out from the user perspective, as far as I know, if we are already collecting anonymous data...
can you clarify this @datenbrei? It still seems like something that would be good to implement, no?

[2019-11-20 17:46] mattwr18 commented on #2259
hey that's great @MarcoBomfim ... people seem quite stressed about this on the network..

@ogerly and @roschaefer, the class is not there for the `contentExcerpt`, but is present for `content` and this is what is important for displaying the embeds, I guess.

@MarcoBomfim I have "fixed" it for one `Post`, on `nitro-staging`, @roschaefer `Post` from the screen shot :point_up_2:
![Screenshot from 20

[2019-11-20 18:09] mattwr18 commented on #207
this is now possible, as I understand it with `Neo4j enterprise`, but I'm not 100% certain if all of our developer's can use the enterprise version, or not... here is the licensing info https://neo4j.com/licensing/

[2019-11-20 18:11] mattwr18 commented on #218
still relevant, I guess... maybe not a priority, for now
what do others think?

[2019-11-20 18:12] steffi201028 opened #2308 "🐛 [Bug] Fix link to staging environment"
## :bug: Bugreport
The link to the test environment deposited in the README is incorrect. Consequently, the user cannot login using any of the test user.

### Steps to reproduce the behavior
1. Open the README file :
    https://github.com/Human-Connection/Human-Connection/blob/master/README.md
2.  Scroll down to headline Live Demo
3. Click on the provided link
4. Enter  the provided test user dat

[2019-11-20 18:12] mattwr18 commented on #251
I believe this should be closed by the work that @Tirokk is doing here https://github.com/Human-Connection/Human-Connection/pull/1954

[2019-11-20 18:16] mattwr18 commented on #782
Is this a duplicate of https://github.com/Human-Connection/Human-Connection/issues/266#issuecomment-555753669
I know the other issue is for the ability to filter by location, whereas this one is about being able to add a country(or location?) to a contribution, so maybe not a duplicate, but related?

[2019-11-20 18:17] mattwr18 commented on #266
related to https://github.com/Human-Connection/Human-Connection/issues/782
I think there is a sense that this would be important for some users/the network, so I'd say lets leave this open and discuss it more

[2019-11-20 18:19] mattwr18 commented on #270
closing this @roschaefer as we already have the ability for our moderators to `disable` content, which hides it from everyone that is not a `moderator` or `admin`
if I've misunderstood, please re-open

[2019-11-20 18:19] #270 closed

[2019-11-20 18:21] mattwr18 commented on #271
Closing this since the `moderators` have the ability to `disable` a `User`... I can't think of any reason why we would want to disable all content by a user, but allow them to continue to create content...
do we want to have read-only users?
Can be reopened if I've misunderstood

[2019-11-20 18:21] #271 closed

[2019-11-20 18:22] MarcoBomfim commented on #2259
@mattwr18, thanks! About:

This is what I meant by a manual approach indeed, and about the note for the users, back when I worked on the support, customers were always more concerned with not having a way to get content back, then to being told to do some steps, there are few cases where the users get actually mad due to having to simply re-paste an URL, so I think it could be a great start while

[2019-11-20 18:23] mattwr18 commented on #274
I think this needs clarification as well... I'll close as we already have a way of `locking` users... by a moderator disabling them... how is this issue different from that
If it needs to be re-opened please give more information on how this differs from the current work flow

[2019-11-20 18:23] #274 closed

[2019-11-20 18:26] mattwr18 commented on #2259
thanks for the quick reply @MarcoBomfim ... I agree with your assessment about the users wanting assurance that the link still exists and how they can get it to display properly. I thought about rolling it back, we even agreed it might be a good fast step, but
[code]

[2019-11-20 18:42] mattwr18 commented on #276
still needs to be implemented... potentially blocked by https://github.com/Human-Connection/Human-Connection/pull/1954

[2019-11-20 19:03] mattwr18 commented on #214
Closing as these tests were added in https://github.com/Human-Connection/Human-Connection/blob/master/backend/src/schema/resolvers/rewards.spec.js

[2019-11-20 19:03] #214 closed

[2019-11-20 19:09] mattwr18 commented on #278
still waiting for clarification... duplicate of https://github.com/Human-Connection/Human-Connection/issues/418 ??
blocked by https://github.com/Human-Connection/Human-Connection/issues/281

[2019-11-20 19:10] mattwr18 commented on #281
we still want to implement organisations having accounts with HC

[2019-11-20 19:12] mattwr18 commented on #282
This needs clarification... this is the third issue I've seen today that could be considered `chat` feature
But `private messaging` could also mean that I wan to be able to send a `DM` direct message to someone, no?
The main difference being that chat would involve `websockets`, whereas `DM`ing might not(?)

[2019-11-20 19:17] mattwr18 commented on #397
this is still something we want, I believe, just maybe not a high priority?
candidate for open-source contributor?

[2019-11-20 19:18] mattwr18 commented on #283
really nice to read this discussion a year after this ticket was opened... should definitely be kept in mind when implementing profile header images...
blocked by https://github.com/Human-Connection/Human-Connection/issues/397

[2019-11-20 19:19] mattwr18 commented on #284
should this be closed in favor of https://github.com/Human-Connection/Human-Connection/issues/1183
or is it better to keep it open since it's smaller and maybe easier to implement on its own? @datenbrei anything change about the motivation for this?

[2019-11-20 19:21] mattwr18 commented on #1183
is this still relevant? maybe it needs to be updated @Tirokk ?

[2019-11-20 19:23] mattwr18 commented on #15
I guess this is still relevant? has the moderation team brought up any real cases where they would have liked to have been able to impose a temporary writing ban @datenbrei ??

[2019-11-20 19:24] mattwr18 commented on #322
I guess the `chat` is one part of this, but this would involve a few more features, correct?

[2019-11-20 19:28] mattwr18 commented on #35
I guess that this is still relevant, but maybe needs to be updated @roschaefer ?
we certainly don't have a way for others to find others based on geography...

[2019-11-20 19:29] mattwr18 commented on #114
still relevant... maybe after the next milestone of being ActivityPub compliant?

[2019-11-20 19:32] mattwr18 commented on #212
I think this might still be something people would like to see
we have a `lastActiveAt`, which is set when the `JWT` is decoded, but it is not displayed to anyone, and we'd need to add other activities like commenting, posting, reading notifications, etc...

[2019-11-20 19:34] mattwr18 commented on #280
I think this is still relevant as we'd like some sort of captcha, no?

[2019-11-20 19:35] mattwr18 commented on #288
sure, this is not implemented and could still be relevant...

[2019-11-20 19:36] mattwr18 commented on #316
is this a duplicate of this https://github.com/Human-Connection/Human-Connection/issues/114 ??

[2019-11-20 19:39] mattwr18 commented on #286
I agree this is important, but maybe it could be broken into smaller issues? we could create an issue for each of the bits of info we want to make private? Like at the moment, we have given users the ability to make their shouts public or not... allow embed iframes, as well @datenbrei

[2019-11-21 07:07] alina-beck commented on #726
I would like to go even further and streamline all our alerts, actually. At the moment we have `modals` we have `toasts` and we have this `transition` with `sweetalert-icon` combination. It would be great to go through the app and see if one or maybe two different kinds of alerts would maybe be enough.

The `Modal` component could then take a prop to determine the color (and maybe icon) it uses an

[2019-11-21 07:13] datenbrei commented on #286
Yes. I'd say, this should be an EPIC, so that smaller decisions or settings can be done. I will extend this one.

[2019-11-21 07:14] alina-beck commented on #292
I want to give the `header` a makeover, yes! 😍

I first thought `sub navigation` referred to the `side bar`, which is too big on mobile and should probably be collapsed as well. But after reading it again I think it's probably about the dropdown menus? Then we could even open another issue for the `side bar` to figure out how to improve that one. :wink:

[2019-11-21 07:38] datenbrei commented on #316
Asked @DennisHack  about a layout and more specific infos

[2019-11-21 08:45] datenbrei opened #2315 "🐛 [Bug] Password in sent URL if Javascript is off"
## :bug: Bugreport
If a user switches off Javascript, the login dialogue does send the password in clear text as part of the PUT/POST-URL to the backend.

### Steps to reproduce the behavior
1. Use uMatrix to switch of Javascript
2. See the request in the Browsers Console

### Expected behavior
If Javascript is switched off, the login dialogue should do nothing at all, because our aaplication an n

[2019-11-21 09:21] datenbrei commented on #280
@roschaefer @Mastercuber @mattwr18  For ActivityPub content that may be federated to our instance we possibly need to disable the view of the "fererated timeline", because we can not moderate this. A per-person-view of subscribed authors/articles from other instances may be ok, though.

We will have to discuss this in more depth. Bot prevention may be a topic not 100% dependent on ActivityPub. I w

[2019-11-21 09:23] ogerly commented on #2255
https://github.com/Human-Connection/Human-Connection/issues/2168

[2019-11-21 09:23] ogerly commented on #2168
https://github.com/Human-Connection/Human-Connection/issues/2255

[2019-11-21 14:40] yeltawil commented on #2291
I have joined the discord! I am not quite sure how to solve it yet, but
happy to work on it with you!

On Wed, Nov 20, 2019 at 2:31 AM Alina Beck <notifications@github.com> wrote:

--
Yara El-Tawil
University of Michigan, Ann Arbor, Class of 2020
Bachelor of Science, Computer Science
Bachelor of Science, Biopsychology, Cognition, and Neuroscience
Stamps Leadership Merit Scholar

[2019-11-21 16:11] mattwr18 commented on #2259
@roschaefer @MarcoBomfim ... I made some little progress on this today, maybe (?)
having a look at some production data, I noticed that it seems that every embed that was added since the new alpha has been up has a `class=\"embed\"` in it's content. Old embeds have `data-url-embed`.

I started to write a script that would isolate the `Post`s that have embed content since the new alpha has been up,

[2019-11-22 11:54] roschaefer opened #2325 "🐛 [Bug] Fake mailserver is missing on develop.human-connection.org"
## :bug: Bugreport

![Screenshot - 2019-11-22T125013 618](https://user-images.githubusercontent.com/2110676/69423647-ef202100-0d26-11ea-98d4-f109f021356f.png)

### Steps to reproduce the behavior
1. Visit https://nitro-staging.human-connection.org/registration/signup
2. Enter E-Mail address
3. See error message

### Expected behavior

Mail should be caught by a fake mailserver and should be visibl

[2019-11-22 12:14] roschaefer commented on #2325
@mattwr18 ping :point_up:

[2019-11-22 13:22] roschaefer opened #2329 "🐛 [Bug] Login Form does not normalize E-Mails"
## :bug: Bugreport

The Login form component is missing `validator` and does not normalize emails when it sends it to the backend this leads e.g. to people with gmail addresses who can request a new password but can only login with a normalized version of their email address.

### Steps to reproduce the behavior
1. Go to https://nitro-staging.human-connection.org/
2. Sign up with a gmail address c

[2019-11-22 14:42] jkmssoft opened #2331 "🚀 [Feature] diaspora compatibility"
## :rocket: Feature
Hello,
I don't know if human-connection has any chance against facebook?
So it would be great if it would be compatible to other social networks, like diaspora.

[2019-11-22 15:00] jkmssoft opened #2332 "🚀 [Feature] comment answers for better discussions"
## :rocket: Feature
ability to answer comments so that there can be a conversation.

### User Problem
Currently, a meaningful discussion with commentators is not possible or very confusing.

[2019-11-22 15:30] #2329 closed

[2019-11-22 18:23] #2259 closed

[2019-11-22 23:44] roschaefer commented on #2275
@Mogge nice, well done! :+1: So are we supposed to remove all files and re-import from time to time?

[2019-11-23 17:12] hermann-san commented on #1441
Problem might be that in popular articles there may be dozens of comments and then I would not need a notification for each individual comment.  One notification would be sufficient for any number of new comments.

Instead of a "subscribe" string  it could also a bell symbol (like Youtube has).   Yellow bell is "subscription on"  grey bell is "subscription off"

[2019-11-24 10:13] Tirokk opened #2336 "🚀 [Feature] Enlarge The ‚following' And 'followed by‘ Lists On User Profile"
## :rocket: Feature

Several users demanded:
Enlarge the ‚following' and 'followed by‘ lists on user profile on click.

![Bildschirmfoto 2019-11-24 um 10 31 08](https://user-images.githubusercontent.com/25344101/69493098-b8731380-0eaa-11ea-8d09-d9651427a366.png)

### User Problem

I and other user like to see all who I do follow and all who do follow me.

### Implementation, Design & Layout

- Mak

[2019-11-24 11:06] Tirokk opened #2337 "💬 [Question] Show A New Line In The Displayed About You?"
## :speech_balloon: Question

Show a new line in the displayed about you?
- I would like to structure my self description with new lines.
- And I can enter them already in the input field. And so I would await to see them displayed as well.

![Bildschirmfoto 2019-11-24 um 11 58 45](https://user-images.githubusercontent.com/25344101/69493740-b9a83e80-0eb2-11ea-9095-aa21ebd404cd.png)
![Bildschirmfot

[2019-11-24 15:53] sushidave commented on #1441
@hermann-san Thanks for sharing your consideration. So, if there are new comments in someone else's post the subscriber gets one single notification while for own posts the subscriber keeps on getting a notification for every new comment, right?

[2019-11-24 16:10] hermann-san commented on #1441
@sushidave good question and I'm not sure about the answer.
My idea:
if someone mentions mentions my name with @....   then  probably every one of those comments. For other comments it might be sufficient to have a single notification only.
I will pay attention to the point while using HC and get back to this thread.

[2019-11-24 16:22] sushidave commented on #1441
@hermann-san Thank you. Let's see what your experience will be.

To summarise to triggers for notifications:

1. Mention (as before)
2. New comment in own post (as before)
3. New comment(s) in a subscribed post (new)

[2019-11-24 23:51] hermann-san opened #2338 "🚀 [Feature] More embedded third party provider (LISTE ERSTELLEN!)"
## :rocket: Feature
currently there is a number of embedded third-party provider like youtube that are supported, but some are not yet supported.  Particularly the screenshot tools like Greenshot, Shutter or ShareX support the below  image-provider and it would be useful to have those supported to make screenshot's visible in comments.
Additionally it would be nice to have Pro/Contra discussions f

[2019-11-25 08:05] Mogge commented on #2275
@roschaefer I do not think that we have to remove the files. The last PR by lokalise worked fine, and we can see the changes.
There is a possibilty to trigger the pull by a web hook:
https://docs.lokalise.com/en/articles/1684090-github
But this must be done from here, so I cannot try it.
Resume:
* the base file is `en.json`. It is the only file pulled by lokalise
* Set the option Clean Up to delet

[2019-11-25 10:09] mattwr18 opened #2349 "🐛 [Bug] Updating a Post to add/change an image submits the form"
## :bug: Bugreport

If a user goes to one of their posts to change the image/add an image, the form is submitted before they have a chance to change other info. This also causes failures in updating the Post.
![2019-11-25 -bug-updating-image](https://user-images.githubusercontent.com/26943915/69531247-d789a800-0f73-11ea-8866-4a868ffe45f2.gif)

### Steps to reproduce the behavior
1. go to one of yo

[2019-11-25 11:30] hermann-san commented on #1441
The trigger look good and I would suggest the below  limitations on the number of notification per article

comments on **subscribed aticles**:
- only a single notification  with a counter  (if a counter is easy to do)
- with name mentioning, all notification should be seen.
**Note:**  Bell symbol could be considered to subscribe to specific articles from others

comments on  **own articles:**
- u

[2019-11-25 11:34] mattwr18 opened #2352 "🐛 [Bug] showShoutsPublicly functionality broken"
## :bug: Bugreport

One can go to `privacy` and check a box saying they would like to show their shouts publicly, but a user trying to see their posts cannot

### Steps to reproduce the behavior
1. go to the `AvatarMenu` dropdown at the top right
2. click the settings link
3. click the privacy link
4. check the box to enable publicly sharing shouts, and save
5. log out, and log in as another user

[2019-11-25 14:36] #2352 closed

[2019-11-25 14:37] #2349 closed

[2019-11-25 15:12] roschaefer opened #2355 "🐛 [Bug] Misleading description on "Delete your account""
## :bug: Bugreport

**German original**

**English translation via https://www.deepl.com/translator**

### Steps to reproduce the behavior
1. Login at https://develop.human-connection.org/
2. Visit https://develop.human-connection.org/settings/delete-account
3. Read text
4. Be confused because it does not say that your account will be deleted

### Expected behavior
It should be clearly stated that

[2019-11-25 18:26] mattwr18 opened #2356 "🐛 [Bug] Donations slider broken when missing translations"
## :bug: Bugreport

If you are using a language that has untranslated phrases/words for the donations section, it doesn't show the amount or any fallback language like English

### Steps to reproduce the behavior
1. log into your account
2. switch to Italian
3. see that the Donations slider is broken
4. ...
5. Profit

### Expected behavior

It is quite important that this information is always dis

[2019-11-25 21:20] bocajnannerb commented on #2237
Hi! I would like to work on this issue as my first time contributing to this project

[2019-11-26 09:30] alina-beck opened #2363 "🚀 [Feature] Redesign Post"
## :rocket: Feature
suggested by @DennisHack

The post design needs to get cleaned up and the focus should be on `content` instead of the `author` – in line with our mission to be a `Knowledge Network`.

### User Problem
It is not very easy to "navigate" the post page, some important functions might be missed (e.g. `shouts`) while others take up too much space (e.g. `emotions`).

### Implementatio

[2019-11-26 15:32] roschaefer opened #2364 "🐛 [Bug] Accounts with `@googlemail.com` address cannot sign in anymore"
## :bug: Bugreport
So we used `validator.js` to normalize emails. Preferably to lowercase emails. But the normalization did more than we expected. It also turns `googlemail.com` addresses into `gmail.com` addresses.

This is not a problem for new accounts. But it is a problem with the old ones.

### Steps to reproduce the behavior
1. Travel in time (~1 month in the past) signup with a `@googlemail

[2019-11-26 16:08] roschaefer commented on #2364
Here's the statement that should fix most of the email addresses:

[code]

Please **do not execute this statement without a backup**.

[2019-11-26 16:22] mattwr18 commented on #2364
taking a `backup` now...
I'll restore it locally, then run the script, and let you know the results before doing it in `production`

[2019-11-27 07:38] alina-beck commented on #2291
@yeltawil what's your name on discord? Have you managed to set up the project locally? There is a guide [in our docs](https://docs.human-connection.org/human-connection/) but let me know if you need any help. It's not very straightforward. 🙂

[2019-11-27 07:50] alina-beck commented on #2239
@DennisHack requested we change the whole structure of the post – see issue #2363. This does not need to be solved in the same `PR`, I just think it's good to be aware of the direction we want to take with the post page.

I think the language does not need to be indicated exactly like on the `edit`/`create` post page, as it takes up a lot of space. A tag with the language code (`EN`, `DE` etc.) co

[2019-11-27 08:28] DennisHack opened #2370 "🚀 [Feature] Extend post options in "create post form" with PLAN POST (Date, time)"
## :rocket: Feature
Planning posts is a nice feature to reach your community in the time you want, also on your vacation. ;-)

### User Problem
![image](https://user-images.githubusercontent.com/24620721/69705946-e2b91100-10f6-11ea-9494-35d846f23fd1.png)

### Implementation
add post options on the "create post form"
![image](https://user-images.githubusercontent.com/24620721/69706255-9cb07d00-10f7

[2019-11-27 09:00] mattwr18 commented on #2370
is this a duplicate of https://github.com/Human-Connection/Human-Connection/issues/288 @DennisHack ??

[2019-11-27 10:56] alina-beck commented on #288
I like the design proposed here more than the one suggested in #2370! 😍

[2019-11-27 13:46] #2294 closed

[2019-11-27 17:03] #1967 closed

[2019-11-27 19:01] strypey commented on #114
@mattwr18 wrote:

The discussion about standardizing the federation of event info between
ActivityPub apps has started up again at the new SocialHub forum:
https://socialhub.activitypub.rocks/t/federated-events/305

It would be great to have some of your crew participate there (if you
haven't already ;)

[2019-11-27 21:15] Mozar10 commented on #2239
@alina-beck Thanks for providing direction, that was actually going to be my next question. Is this something like what you had in mind for the time being?
![fix](https://user-images.githubusercontent.com/20374324/69759862-0dc05680-1131-11ea-82db-ff9d049d11ae.png)

[2019-11-27 21:47] proofy commented on #2331
I understood it to mean that in general it is about an interface that allows exchange with other platforms. Diaspora has its own protocol and belongs here rather to the largest island solution. If @jkmssoft  specifically wants to support this protocol, I would make another feature request.
A great overview can be found at https://the-federation.info/#protocols .
So here https://activitypub.rocks/

[2019-11-28 08:18] alina-beck commented on #2239
@Mozar10 yes, this is great! You could maybe use uppercase letters, like we have it for the language filters.

[2019-11-28 11:18] DennisHack opened #2376 "🚀 [Feature] animate the CREATE BUTTON or the SHOUT BUTTON"
## :rocket: Feature
Wouldn't it be nice to have an elegenat animated CREATE and SHOUT Button?
https://youtu.be/rSnwD2tn-sA

### User Problem
Can't see the important buttons from rightaway

### Implementation
Change design to animated
### Design & Layout
be creative!

### Validation
We will see more feedback like more shouts in generall

### Additional context
"Push the button!"

[2019-11-28 14:05] erhardtstiefel commented on #2356
Im an absolutly newcomer and this is my first contribution - if possible. I can reproduce this behaviour frontend but where can I see the code?

[2019-11-29 11:38] #1706 closed

[2019-11-29 11:57] erhardtstiefel commented on #2376
Although I'm not a fan of animated action buttons and feel very comfortable with the quiet user interface of HC, a discreetly animated suggestion to become active to make a contribution is certainly appropriate. Animated in the rhythm of the heartbeat, with easy to understand symbols (heart & mind?) and in warm shades.

[2019-11-29 13:02] Mogge commented on #1463
@alina-beck Hello. Can we talk about this?

[2019-11-29 13:05] Mogge commented on #2355
@erhardtstiefel How are you going to work on the text files? The current workflow of the i18n is to do the changes in the English locale (`en.json`) and have all the other languages translated via lokalise.

[2019-11-29 13:51] roschaefer opened #2381 "🐛 [Bug] Merge duplicate user accounts and email addresses"
## :bug: Bugreport

So we just changed 940 *unnormalized* email addresses (those gmail email addresses which had dots) into their normalized version. We had to skip 40 email addresses where the users already registered again with their email addresses. That created another user account with the normalized email.

So in the long term should merge those unnormalized and normalized email addresses in

[2019-11-29 22:10] proofy opened #2383 "🚀 [Feature] Badge for monthly donors in profile picture"
## :rocket: Feature
On the German side for the donation collection https://human-connection.org/spenden/monatliche-spende/ from "SCHNAPP DIR DIE ABZEICHEN! -> grab the badges. I would like to have these badges on my profile picture as well. In the first step it would be enough that you belong to the donors and you can see a small tree on the profile picture.

[2019-11-30 00:10] yeltawil commented on #2291
hi! My name on discord is Yara, and yes I have managed to set up most of it
locally! Still working on one part though.

Thanks!

On Wed, Nov 27, 2019 at 2:38 AM Alina Beck <notifications@github.com> wrote:

--
Yara El-Tawil
University of Michigan, Ann Arbor, Class of 2020
Bachelor of Science, Computer Science
Bachelor of Science, Biopsychology, Cognition, and Neuroscience
Stamps Leadership Merit S

[2019-11-30 09:58] roschaefer opened #2384 "🚀 [Feature] Swap user unique slug and name"
## :rocket: Feature

How about giving the unique user name (aka handle, aka slug) a more noticeable appearance? We could do that by putting the handle on the first line above the user name.

### User Problem

We had a couple of posts where people went crazy because of "hijacked" profiles. Those hijacked profiles was really just a profile with the same data as some other profile, including avatar a

[2019-11-30 10:16] roschaefer opened #2386 "🚀 [Feature] Remove either underscore or dash from allowed characters in user handle"
## :rocket: Feature

A follow up of #2384 we should allow either dash or underscore in user handles, not both.

### User Problem

I am not 100% sure because the user has already deleted itself and with him all his comments and posts. However I think the user who wanted to look alike another user has used a dash instead of an underscore. So it would help to allow only one of those characters to mak

[2019-11-30 11:59] erhardtstiefel commented on #2355
I mean 'Settings' is the wrong place for a feature as important as 'Delete account'. Maybe it should be one level up below 'Logout'. Also, the explicit deletion of data should not be suggested if this is not possible at all. I.e. here a redesign is necessary and not only some text changes.

[2019-11-30 18:57] sushidave commented on #2332
@jkmssoft Please clarify. Is this the same as issue #1680 ?

[2019-12-01 12:33] infinite-dao opened #2387 "🐛 [Bug] Nitro Privacy Settings Page not Found"
## :bug: Bugreport
Going to the privacy settings shows a page error: not found (tested 1st of December 2019)

### Steps to reproduce the behavior
1. Go to https://nitro-staging.human-connection.org/settings/settings/privacy
2. then comes: «This page could not be found. Back to the home page»

### Expected behavior
See the page of settings for privacy stuff

### Version & Environment
 Type: Desktop

[2019-12-02 07:53] alina-beck commented on #1463
Sure! Ping me on discord? I'm easy to find –  `@Alina`. :smile:

[2019-12-02 08:46] alina-beck commented on #2376
Animated buttons scream for attention – which is great on a landing page (for example), when you want to push your users towards exactly _one action_.

On our platform there are many different actions we want our users to complete and already many things competing for our users' attention – the `create post` button, the `notifications menu`, the `posts` in the feed, especially the `pinned post`...

[2019-12-02 12:10] #2170 closed

[2019-12-02 16:00] datenbrei opened #2401 "🚀 [Feature] Allow admins to toggle and edit Donations Bar"
## :rocket: Feature
We do not any longer ask users about donations like in a marathon. So the donations bar should be replaced by a freeform html field to be flexible about asking for donations. Changes:

- [x] Make the bar disappear

Later:
- [ ] Make the bar in the top of the network be swichable off
- ~[ ] Make the text above the donations bar freely configurable~
- ~[ ] Add a second alternativ

[2019-12-02 16:05] DennisHack commented on #2401
ACHTUNG: ATTENTION:
Following is important on that issue NOW:
Amount of people who donate monthly and the amount of money they donate monthly together.

Therefore we need a nice solution. :-)

[2019-12-02 17:32] roschaefer commented on #2253
![2019-12-02-182534_1920x1080_scrot](https://user-images.githubusercontent.com/2110676/69981141-02569c00-1532-11ea-947d-bdea059277b3.png)

I'm afraid we have to test this in production to see if the error is fixed.

[2019-12-02 19:55] roschaefer opened #2403 "🚀 [Feature] Dedicated uploads service"
## :rocket: Feature

In order to scale our backend pods we should have the uploads separate from the backend.

### User Problem
Digital Ocean does not support `ReadOnlyMany` nor `ReadWriteMany` access modes on a persistent volume claim. That means, any service which has a persistent volume claim cannot be scaled horizontally.

https://www.digitalocean.com/docs/kubernetes/how-to/add-volumes/

Our b

[2019-12-03 07:44] datenbrei commented on #286
After discussion with Dennis I took out the registration date to be unvisible.

[2019-12-03 08:30] alina-beck commented on #2401
Maybe I missed it because I wasn't in the Friday meeting but could you explain _why_ we don't want the donation progress bar any longer? I'm wondering because it seemed to be so very important just a few weeks ago. What changed?

✅ The on-off toggle is easy to implement.

🚫 This does not work with translations. We could maybe add a set of different titles to the translation files and let admins ch

[2019-12-03 08:36] datenbrei opened #2409 "🐛 [Bug] User-not-found-page not translated"
## :bug: Bugreport
The page "User not found" is not yet translated.

![user](https://user-images.githubusercontent.com/13457963/70033753-60c25f80-15b0-11ea-9a47-70999235d222.png)

### Steps to reproduce the behavior
1. Call a user profile which had been deleted

### Expected behavior
The Page should
1. Be translated
2. Explain, why this page comes up. For example: "The user deleted his own account

[2019-12-03 08:47] datenbrei commented on #2383
Hi @proofy , this once was switched on, but is disabled for now, because for displaying badges we also need the possibility to adminstrate them. The code exists, but till we can change wrong data, we decided to let it be switched off.
These issues are related: #1183 and #284

[2019-12-03 08:54] datenbrei opened #2410 "🚀 [Feature] Network Statistics for Users"
## :rocket: Feature
Some Statistics should also be shown to the users:
![stats](https://user-images.githubusercontent.com/13457963/70034830-1e9a1d80-15b2-11ea-801b-7c3c48a88921.png)

### User Problem
Admins, but not users, know, how many users, posts and comments are currently in the network.

### Implementation
It should be implemented in a way, that querying the data does not make a heavy load o

[2019-12-03 11:52] roschaefer commented on #1612
I think that got is solved @aonomike

[2019-12-03 11:52] #1612 closed

[2019-12-03 11:59] roschaefer opened #2411 "🚀 [Feature] Collect performance analysis data"
## :rocket: Feature

It's always difficult to say "improve performance on X" because we never know when this issue is finished. There is always something to improve on performance.

That's why I would like to set the goal of this issue to: "Collect performance analysis data" on our kubernetes cluster, because we just don't know how long a request takes time in our webapp, backend and database pods

[2019-12-03 13:45] mattwr18 opened #2412 "🐛 [Refactor] Favor Transaction Function over Auto-commit transactions"
## :zap: Refactor

Related to https://github.com/Human-Connection/Human-Connection/pull/2402

We have been receiving this error message in production `no available threads to serve it at the moment.` on our `neo4j` pod

There is an open issue on `neo4j` GitHub page https://github.com/neo4j/neo4j/issues/12014
where they talk about different causes, one of which is leaky `transactions/statements`.

[2019-12-03 13:55] mattwr18 opened #2413 "🚀 [Feature] Set up Metrics for Neo4j"
## :rocket: Feature

Since we have the enterprise edition of `Neo4j`, we should take advantage of the ability to set up `Metrics` and monitor performance https://neo4j.com/docs/operations-manual/current/monitoring/metrics/
Related to https://github.com/Human-Connection/Human-Connection/issues/2411
### User Problem

We have performance issues, but we don't know why or what we can do to improve them

[2019-12-03 15:32] tidus9 opened #2414 "🚀 [Feature] Moderation: Disable all Posts/Comments"
If a user will blocked by a moderator, we need an option to disable all posts and all comments of the user too.

[2019-12-03 15:51] DennisHack opened #2415 "🚀 [Feature] Registration process: CHECKBOX to confirm "I am non commercial""
## :rocket: Feature
When registering, user must confirm that that he has no commercial interests and is not representing a company or another commercial organisation on the network.

### User Problem
too many commercial posts on accident, because they often don't know that no commercial interest are allowed AT ALL. Moderation has lots of work

![image](https://user-images.githubusercontent.com/246

[2019-12-03 17:46] #2384 closed

[2019-12-03 18:51] erhardtstiefel commented on #2355
I can't 1. Login at at https://develop.human-connection.org/ and I can't 2. Visit https://develop.human-connection.org/settings/delete-account but I reproduced the bug with my local environment and found a solution. Now I need advice how to put the solution in a Pull Request.

[2019-12-03 20:03] mattwr18 commented on #2387
![Screenshot from 2019-12-03 21-02-56](https://user-images.githubusercontent.com/26943915/70085346-546def00-1610-11ea-9d8f-89e2845d5ba3.png)

[2019-12-03 20:08] mattwr18 commented on #2387
I put in a `PR` here https://github.com/Human-Connection/Human-Connection/pull/2417
have a look if you can/want

[2019-12-04 11:05] mattwr18 opened #2420 "🚀 [Feature] Remove data-test attributes in production"
## :rocket: Feature

We would like to use `data-test` attributes for testing when there is no existing CSS class used for styling.
### User Problem

Sometimes it's challenging to target an element without finding all the elements and then grabbing one of the elements based on its position. This is not a good practice because it makes them less resilient to changes. Any update to the DOM and your l

[2019-12-04 22:22] #1710 closed

[2019-12-05 10:35] mattwr18 opened #2429 "🐛 [Bug] Develop server is down"
## :bug: Bugreport

At the moment, our develop server is down and won't pull down the latest images.
We are getting this error,
`Failed to pull image "humanconnection/nitro-web:latest": rpc error: code = Unknown desc = failed to register layer: Error processing tar file(exit status 1): open /usr/local/share/.cache/yarn/v6/npm-@babel-runtime-corejs2-7.5.5-c3214c08ef20341af4187f1c9fbdc357fbec96b2-in

[2019-12-05 11:03] mattwr18 commented on #1463
we discussed this in our standup today, and have some implementation specifics I wanted to pass along @Mogge ...

We discussed the Search in the daily standup today, and @Roschaefer suggested to just have two queries from the frontend, one for findPosts and a separate one for findUsers.
This would have the benefit of making it easier to group the results in their appropriate section in the dropdow

[2019-12-05 11:35] mattwr18 commented on #2429
I was able to `ssh` into the backend on `nitro-staging` and this is what the size of the directories :point_up_2: look like
[code]

[2019-12-05 19:36] #2387 closed

[2019-12-05 21:46] sushidave opened #2434 "🚀 [Feature] Show/hide password button on login form"
## :rocket: Feature

Add a button to the password input field on the login form of the network that enables the user to show/hide the password.
![show-password-on-login-form](https://user-images.githubusercontent.com/17728384/70276227-1a3b5380-17b0-11ea-93d6-311fd27cbc0a.png)

### User Problem

Currently, the password is confuscated and prone to typos. This show/hide button is pretty standard on m

[2019-12-06 01:39] cryolis commented on #2434
I can take this up

[2019-12-06 08:35] proofy commented on #2383
![icon_papierflieger_blue](https://user-images.githubusercontent.com/580891/70308519-bba3c300-180b-11ea-9ff8-7e36d21b9fff.png)

[2019-12-06 09:22] mattwr18 opened #2442 "🐛 [Bug] reports query is too expensive and times out often"
## :bug: Bugreport

The reports query fetches all reports, which have nested `FiledReports`, nested `reviews`,  nested `resources`, which have nested attributes as well.
This makes it an extremely expensive request. Leading to time outs.

### Steps to reproduce the behavior
1. log in as admin
2. go to `/moderation`
3. see if the reports load
4. ...
5. Profit

### Expected behavior

We'd expect tha

[2019-12-06 14:33] roschaefer commented on #2410
We should also take into account that we expose the data in a way that's consumable for https://the-federation.info/info.

[2019-12-08 08:15] DennisHack commented on #2376
More on top, I would recommend this type:
![image](https://user-images.githubusercontent.com/24620721/70386621-2a635680-199b-11ea-954e-dd60e791988c.png)

Please contact me/appointment and let's talk about it to go through the options. THANKS!

[2019-12-08 08:24] DennisHack commented on #2376
https://preview.uxpin.com/24a2ab8adcd84f9a763d87ed27251351225e0ecd#/pages/99768901/simulate/no-panels?mode=i

[2019-12-08 09:32] erhardtstiefel commented on #2376
Guten Morgen Dennis,
ich kam gerade aus dem Bad und wollte kurz nachsehen, ob meine ersten fünf
Pull Requests durchgegangen sind.
Dann sah ich deine mail und als ich auf den Preview Link unten klickte, war
ich sehr überrascht.
Soll unsere Seite einmal so aussehen?
Die würde mir natürlich auch viel besser gefallen, als es der jetzige Stand
ist.
Aber das ist sicher noch ein weiter Weg ...
Ich mach e

[2019-12-08 11:53] DennisHack commented on #2168
Auch vielleicht mit Andrey absprechen? Das hängt zusammen, oder?

[2019-12-08 13:53] AndreiBu commented on #2168
yes i think this task should be included in my challenge - upload/image microservice

[2019-12-08 19:17] yeltawil commented on #2291
Hi!

I am having a bit of trouble with this! Was wondering if you are available
for some questions?

On Wed, Nov 27, 2019 at 2:38 AM Alina Beck <notifications@github.com> wrote:

--
Yara El-Tawil
University of Michigan, Ann Arbor, Class of 2020
Bachelor of Science, Computer Science
Bachelor of Science, Biopsychology, Cognition, and Neuroscience
Stamps Leadership Merit Scholar

[2019-12-09 08:19] Tirokk commented on #2412
Very good you find this out @mattwr18 🤗🙏🏼

[2019-12-09 08:23] Tirokk commented on #1830
This is or can be still necessary.
Please prove.

[2019-12-09 08:49] Tirokk commented on #1183
This is still relevant in my eyes.
We should ask @DennisHack and Victor. @DennisHack demanded this and in-between I heard talks about the necessarily.
@datenbrei can you clarify this?

[2019-12-09 08:55] Tirokk commented on #397
I agree with you @mattwr18 .
And I think it is a good first issue for an advanced or a sophisticated open source contributor, yes.

[2019-12-09 09:16] Tirokk commented on #266
My impression is that this can be a little bit different than #782 , but don’t have to be in general:

- Local can mean a perimeter, because it can be related to a distance.
  - For meeting people not more than 10 or 20 kilometres away, as an example.
  - Find people or projects in the neighbourhood.
  - Or is related to a little village or a city.

- Local can mean it is not world wide and has no

[2019-12-09 09:16] Tirokk commented on #782
See my comment https://github.com/Human-Connection/Human-Connection/issues/266#issuecomment-563138020

[2019-12-09 09:16] alina-beck commented on #1815
@datenbrei I think we are no longer inviting users because the registration is now open to the public, so I'm closing the issue. (The templates currently read "Thank you for joining our cause..." / "Danke, dass du dich angemeldet hast..."). Feel free to re-open it if I'm wrong!

[2019-12-09 09:16] #1815 closed

[2019-12-09 09:18] Tirokk commented on #251
I agree with you @mattwr18 !

[2019-12-09 12:20] Tirokk commented on #1489
This should be still fixed. (Developer Meeting on the 2019-12-09)

[2019-12-09 20:23] #2442 closed

[2019-12-10 08:22] DennisHack opened #2479 "🐛 [Bug] Followers/Following should not be displayed on profile"
## :bug: Bugreport
Following someone is a anonymous thing. Example: Facebook: You like a page or you follow it. Liking it will be shown to the Siteowner, but following is always only follows and can not be seen by the siteowner and the other users. It should be the same on our network.

### Steps to reproduce the behavior
1.
2.
3.
4. ...
5. Profit

### Expected behavior

### Version & Environment

[2019-12-10 10:04] datenbrei commented on #1189
The data privacy statement is now served externally.

[2019-12-10 10:04] #1189 closed

[2019-12-10 10:07] #2237 closed

[2019-12-10 13:44] #2420 closed

[2019-12-10 14:21] #2415 closed

[2019-12-10 18:56] #1006 closed

[2019-12-10 19:25] DennisHack commented on #2336
Hi @Tirokk, issue will be closed as we will remove the feature (Following is not meant to be public).

[2019-12-10 19:26] #2336 closed

[2019-12-10 19:40] mattwr18 opened #2484 "🚀 [Feature] Add documentation for manual testing"
## :rocket: Feature

We want to make it easier for people in the community to help us out with non-developer tasks such as manual testing the network before we deploy the latest changes to production
### User Problem

We don't have a list of features that testers can go through and check off the list
### Implementation

I think it might be nice to have some gifs, or maybe just a list that can be u

[2019-12-11 00:43] cluzier commented on #2409
Can you please assign this bug to me?

[2019-12-11 08:27] mattwr18 commented on #1662
We still want to have persistent filters

[2019-12-11 08:27] Tirokk commented on #2239
Hello @Mozar10 ,
I am back from holidays now.
Are you still interested in or already working on this issue?

[2019-12-11 08:27] mattwr18 commented on #1741
We still very much want this feature, maybe there are duplicate issues though?

[2019-12-11 08:29] mattwr18 commented on #1742
This happens on mobile as well, and is super annoying... It makes the site very difficult to use

[2019-12-11 08:30] mattwr18 commented on #1629
There is a `[WIP]` PR for this already

[2019-12-11 08:34] mattwr18 commented on #2336
This was a duplicate issue, so maybe should stay closed and any new info here copy pasted into the existing issue.
Just because some users want this not to be public doesn't mean all user's agree. Shouldn't this be configurable by each user?

[2019-12-11 08:48] Tirokk commented on #1598
This issue is fixed in my eyes !
Works now in production …

[2019-12-11 08:48] #1598 closed

[2019-12-11 09:05] Tirokk commented on #2332
I thing @jkmssoft means a kind of tree structure as in Facebook, for example. Where you can write a direct answer to a comment underneath. @sushidave

So this here seems different to me as issue  #1680 .
There was a button on each comment in the old Alpha. When you clicked on it the author of the comment was mentioned in the editor field for writing a new comment.

[2019-12-11 09:07] Tirokk commented on #1680
Here is meant: There was a button on each comment in the old Alpha. When you clicked on it the author of the comment was mentioned in the editor field for writing a new comment.

So this here seems different to me as issue  #2332 .
There I thing @jkmssoft means a kind of tree structure as in Facebook, for example. Where you can write a direct answer to a comment underneath. @sushidave

[2019-12-11 09:36] Tirokk commented on #490
You are right @mattwr18 .

[2019-12-11 09:36] #490 closed

[2019-12-11 09:39] Tirokk commented on #210
This is fulfilled I think.
Thanks @mattwr18 ! 👍🏼

[2019-12-11 09:39] #210 closed

[2019-12-11 09:42] Tirokk commented on #209
We should have micro-UUIDs or short-UUIDs in our URL as standard.
The long versions should be possible for compatibility.

[2019-12-11 09:50] Tirokk commented on #252
To enable the clear identification of a user and their profiles I would still recommend this.
In this sense the UUID in the URL is not a part of the user interface in my eyes.

- Even if a user changes their slug or name: I can always identify them.
- This makes fake profile more difficult.
- I can identify stalkers more easily.

[2019-12-11 09:56] Tirokk commented on #2336
This should be configurable in my eyes. Yes! @mattwr18

@DennisHack I would like to see whom all I do follow at least. So this will get privat but not removed?

[2019-12-11 10:02] Tirokk commented on #1374
Is still my and some users wish.

[2019-12-11 12:52] Tirokk commented on #2336
This is a duplicate of issue #1741 .

[2019-12-11 12:57] Tirokk commented on #1741
There is a duplicate and already closed issue #2336 .

Text there … (updated)

Several users demanded:
Enlarge the ‚following' and 'followed by‘ lists on user profile on click.

![Bildschirmfoto 2019-11-24 um 10 31 08](https://user-images.githubusercontent.com/25344101/69493098-b8731380-0eaa-11ea-8d09-d9651427a366.png)

### User Problem

I and other users like to see all who I do follow and all wh

[2019-12-11 13:20] erhardtstiefel opened #2495 "🐛 [Bug] Missing chance for italian Users to delete Data before deleting account"
## :bug: Bugreport
The italian Users have no chance to delete their posts and/or comments when deleting their account

### Steps to reproduce the behavior
1. Switch language to Italiano
2. Select User > Impostazioni > Cancellare laccount utente
3. See that the checkboxes for data deletion are missing

### Expected behavior
there should be checkboxes like in other languages e.g, English

### Additi

[2019-12-11 14:53] Tirokk commented on #777
As @DennisHack sorting makes clear, this is still actual.

[2019-12-11 14:55] Tirokk commented on #1200
This was a functionality of the Alpha and I would say is still desirable.

[2019-12-11 14:57] Tirokk commented on #1207
@DennisHack and @datenbrei have to decide if this is still desirable.

[2019-12-11 20:54] Mozar10 commented on #2239
Yes I have finished. I am just at work now, I can push it this weekend ? @Tirokk

[2019-12-12 07:06] Tirokk commented on #308
I think it is still a point and @DennisHack action shows this as well.

[2019-12-12 07:19] Tirokk commented on #858
The Problem is solved on production.
I tried out …

[2019-12-12 07:20] Tirokk commented on #858
Ups. Didn’t clicked on close …

[2019-12-12 07:20] #858 closed

[2019-12-12 07:29] Tirokk commented on #1172
@ogerly and @alina-beck is this issue still needed?
Or can we close it?

[2019-12-12 07:37] Tirokk commented on #946
Thanks @Usus08 for all your hints. 👍🏼🙏🏼
I proved and it seems that all the errors you pointed out are solved.

[2019-12-12 07:37] #946 closed

[2019-12-12 07:43] Tirokk commented on #1140
@roschaefer @mattwr18 @ogerly @alina-beck @datenbrei
What can and what should we do about this security problem?

[2019-12-12 07:55] Tirokk commented on #1230
@datenbrei I went through all the unchecked issues and checked them when they were already solved.
And like one can easily see we all did a really great job. 😍

The three still open ones I started a clarification process and put them on our `Roadmap`.

Because of that I take the freedom to close this.
Hope that’s for your sake.

[2019-12-12 07:55] #1230 closed

[2019-12-12 08:27] Tirokk commented on #571
@datenbrei I am not sure if this is really necessary.
Because my own social media data I can always reconstruct hopefully.

The only thing is in my eyes not deleting it accidentally by an unwilling click without noticing for a reason.

[2019-12-12 08:34] Tirokk commented on #1229
Yes, we should to this. @mattwr18 @alina-beck
And it can be a good first issue for open source contributors as well.

[2019-12-12 08:40] Tirokk commented on #1188
I meant your first guess @mattwr18 .

- A user should see a delete icon to delete their existing image when editing their post.

Your second guess is fulfilled on production already in my eyes:

- After a user adds an image there is a way to remove it before creating/saving a post.
  - There is a deletion icon in the upper right corner.

[2019-12-12 08:47] Tirokk commented on #2239
Hey, wonderful @Mozar10 .

Please make a pull request directly on our master.
I see you should have permission to do so, you are a team member already …

[2019-12-12 08:55] datenbrei commented on #2253
I reopened this one, because @DennisHack reported, that his issue ist still not yet solved.

[2019-12-12 11:32] mattwr18 commented on #2413
Metrics are already enabled in production, they are written to `CSV` anyone @Human-Connection/hc-dev-team think we should set up `Graphite` or `Prometheus`?? @datenbrei ??

[2019-12-12 11:40] mattwr18 opened #2501 "🚀 [Feature] Set up some reporting on mail delivery"
## :rocket: Feature

Set up some reporting on our mail delivery
### User Problem

We currently have an issue with users reporting they do not receive emails when they request password resets, for example. It is difficult for us to debug what is happening.
### Implementation

We are using https://github.com/nodemailer/nodemailer for our mail deliver, and we can set up some logging or delivery statu

[2019-12-12 14:09] proofy opened #2502 "[Feature] activitypub compatibility"
ActivityPub is already being used as a protocol for decentralized social networks in microblogging platforms such as Mastodon and has now been adopted as the official W3C standard by the Social Web Working Group of the World Wide Web Consortium, as Christopher Lemmer Webber informs in a guest article of the Free Software Foundation (FSF). As the founder of the media sharing software GNU MediaGobli

[2019-12-12 19:38] hermann-san commented on #488
it would be nice to be able to mark a notification as unread
Occationally I do start to read something but I don't have the time to finish reading or I want to do something with the article (reply or whatever). In such a case it would be nice to be able to mark a seen notification as unread

[2019-12-13 06:12] Tirokk commented on #488
I agree with you @hermann-san .

[2019-12-13 06:16] Tirokk commented on #2413
I can not say something about this …

[2019-12-13 07:37] datenbrei commented on #2401
@alina-beck We no longer want to stress people aboout helping us to solve our financial situation. Our project is consequently donation based, but from our point of view it is not good style to ask for monthly donations for ever.

@ogerly From my point ov view we could close this issue?!?

[2019-12-13 08:16] datenbrei commented on #571
Would it be possible to work out a generic js-only version that we could use in ANY delete button/action?

[2019-12-13 08:19] datenbrei commented on #1230
Yes, hell, what a list! All the open issues are addressed elsewhere, so it's ok. This is also something we may need to change: That we write everything, that we do not these issues open just because of a bunch of things to do in the future.

[2019-12-13 09:10] mattwr18 commented on #2356
oh, hey @erhardtstiefel I didn't see this until now.. sorry.. I think you found where the translations go, no?
I guess this will be a problem for any missing translations, so I think we need to have a backup, like English
Here is a screen shot of more broken code on production
![Screenshot from 2019-12-13 10-08-28](https://user-images.githubusercontent.com/26943915/70788274-cffa3980-1d90-11ea-9c40

[2019-12-13 09:27] erhardtstiefel commented on #2356
Hello @mattwr18 , yes this is the first issue I picked up myself to start with, but @roschaefer had other plans to bring me in a shape where I could contribute to this fascinating project. As soon as possible I'll look now at this issue and if I've problems I'll ask you. Ok?

[2019-12-13 09:29] mattwr18 commented on #2356
great, some more feedback for you is that it looks like the only one it doesn't work for is Italian
all others have a fallback of English when the translation is missing... perhaps Italian isn't registered properly?

[2019-12-13 10:10] datenbrei commented on #1140
I had a look at it. There seem to be some solutions on a framework level, like JSON-Web-Tokens ( JWT )/Bearer Tokens. Maybe, we can make use of existing solutions? Are there?

[2019-12-13 12:20] #2412 closed

[2019-12-13 12:28] Tirokk commented on #571
It is kind of already done with or even further to do with `ConfirmModal.vue`.
And @alina-beck is working on something like this as well.

[2019-12-13 14:03] erhardtstiefel commented on #2356
I added the missing italian verbs just for the display of "donations" but I see a lot more verbs missing in it.json. Does it make sense to translate and  fill in everything which is to be found in en.json ?

[2019-12-13 15:16] jkmssoft commented on #2332
@Tirokk You are right!

[2019-12-13 16:52] appinteractive commented on #2479
🤦‍♂️

[2019-12-13 17:07] mattwr18 commented on #2356
That would be awesome, yes @erhardtstiefel

[2019-12-13 18:19] erhardtstiefel commented on #2355
A good help to a better understanding of this issue can be found in the FAQ https://support.human-connection.org/kb/faq.php?id=83&lang=en_US and also in German https://support.human-connection.org/kb/faq.php?id=83&lang=de_DE

[2019-12-14 09:29] erhardtstiefel commented on #2409
I'm interested in the solution of @cluzier and would like to participate mabey as reviewer

[2019-12-14 18:39] erhardtstiefel commented on #2356
@mattwr18 Can I use this issue as a reference for a PR that contains all my additions to it.json or do I have to create a new issue?

[2019-12-15 12:15] sushidave opened #2514 "🚀 [Feature] Display some content types in a lightbox"
## :rocket: Feature

Display some content - such as single posts - in a lightbox instead of the same window, as shown in [Click Dummy video 08](https://tube.tchncs.de/videos/watch/ea9db5d2-bd66-454f-819e-43cf5419784a):
![display-post-in-lightbox](https://user-images.githubusercontent.com/17728384/70862048-3ae57500-1f37-11ea-8490-076d2feb4570.png)

### User Problem

Solving issue #1879
This feature

[2019-12-15 12:57] sushidave commented on #1879
Decision required if this feature or #2514 should be implemented.

[2019-12-15 22:07] hermann-san commented on #2143
in regards to hashtags.  Is it the expected behaviour that hashtags are case sensitive?
The problem I  see is that there are many duplicated hashtags that are not really needed.
e.g.  #cando  #CanDo #Cando   . 3 hashtags for the same thing.
Or   #Frieden #frieden  #Berlin #berlin
Wouldn't it be better if hashtags were not case sensitive?
In some cases if gives a little more flexibility, but in mos

[2019-12-16 05:03] alina-beck commented on #571
Not really working on it yet and I haven't had a close look at the `ConfirmModal` but yes, ideally this modal would just receive a `text` to render and then return `true` on confirm and `false` on cancel. So it would be very easy to reuse!

I think we could improve our `Modals` in general (code- and reusability-wise) but I will have to get a little further with the styleguide migration before I ca

[2019-12-16 05:09] alina-beck commented on #2401
@datenbrei I don't think we should – but I renamed it to better reflect what the next steps are about. So far we only implemented step 1 (hide the bar completely) but we have several steps planned and documented in this issue that we can tackle in the future.

[2019-12-16 05:14] alina-beck commented on #1172
Yes, please keep it open! I renamed it to better describe what it is about. I tried to tackle this issue in a PR a while ago but couldn't finish it because the styleguide buttons were not flexible enough... Migrating them now, so we should be able to get this done soon! :smile:

[2019-12-16 10:12] tidus9 opened #2528 "🐛 [Bug] spelling mistake: "Kommentar Gesendet""
## :bug: Bugreport
If you publish your comment, you get the message "Kommentar Gesendet".

Correct is "Kommentar gesendet".

![image](https://user-images.githubusercontent.com/51242288/70900816-e0f9b380-1ff9-11ea-9ebd-b975daf6d376.png)

[2019-12-16 11:10] Tirokk commented on #1664
This can be closed in my eyes.
And I take this action.

[2019-12-16 11:10] #1664 closed

[2019-12-16 11:19] DennisHack commented on #2143
Please make it non-case sensitive, for example, if I look for JulianAssange, I want all of it at one time and not searching different possibilities.

[2019-12-16 11:30] mattwr18 commented on #2143
I don't think that is the question @DennisHack ... I believe the question is whether we should be creating separate `nodes` for hashtags that have different casing.
We talked about this in our standup today, and we agreed that we would create separate nodes because we want to display the hashtag with the casing the user prefers, but that we would collate the query to include all hashtags that only

[2019-12-17 15:13] mattwr18 opened #2541 "🐛 [Bug] master build is broken"
## :bug: Bugreport

Fails because the maintenance service does not have access to `~/graphql` and we are trying to import a query function from there

### Steps to reproduce the behavior
1. look at the master build
2. see that it is failing with module not found
3. see what is copied when building the Docker image in `webapp/Dockerfile.maintenance`
4. ...
5. Profit

[2019-12-17 16:16] mattwr18 opened #2543 "🚀 [Feature] Add back changes to layout for imageAspectRatio"
## :rocket: Feature

We had removed them to not deploy them before a db manipulation script could be run
to add an imageAspectRatio to all post with images

[2019-12-17 18:11] #2541 closed

[2019-12-17 19:59] tidus9 commented on #2238
I would like to add some links, which will seperated by special characters.

star in the middle of a link:
https://web.archive.org/web/*/https://www.zeit.de/politik/ausland/2019-04/julian-assange-journalismus-anklage-pressefreiheit-meinungsfreiheit

semicolon in the link:
https://www.ka-news.de/region/karlsruhe/Karlsruhe~/Monika-Seelmann-rettet-76-Baeume-in-Karlsruhe-doch-kann-das-Einheitsbuddeln-

[2019-12-18 06:35] ogerly opened #2561 "🚀 [Feature] Moderation Blur"
## :rocket: Feature
A moderator must have the possibility. all highly loaded pictures for a contribution
1. to get an overview
2. blur images

a user has also the possibility to blur his picture when creating a contribution. This is at the discretion of the user.

A moderator can not make a picture which a user has blurred visible.

Pictures which are blurred by a moderator may not be changed by t

[2019-12-18 11:55] mattwr18 commented on #2255
this is what @roschaefer shared as a possible first step https://github.com/lovell/sharp

[2019-12-18 12:04] alina-beck commented on #1948
no, mr bot – keep it open! :grin:

[2019-12-18 13:56] horrschte opened #2564 "💬 [Question] Scrollbar"
## :speech_balloon: Question

in my opinion that shifting is annoying and not realy handsome:

![scrollbar](https://user-images.githubusercontent.com/55718490/71090294-fc53f280-21a2-11ea-8273-7da82755edc9.gif)

so you should think about letting scrollbar enabled to prevent that moving

[2019-12-18 15:16] #2543 closed

[2019-12-18 17:17] erhardtstiefel commented on #2356
1.) I have added all missing texts in it.json. Therefore I translated the texts from en.json with DeepL into Italian.
2.) How can I test my work?
3.) I found a difference in "moderation": { "name": "Moderation", "reports": { ....
between en.json and it.json. It looks like there was code added in en.json but forgotten to syncronise it to it.json. What can I do?

[2019-12-19 07:41] Tirokk commented on #430
@datenbrei comment before shows, this is not stale.

[2019-12-19 08:01] ogerly opened #2583 "🐛 [Bug] English Not Fully Translated: 'languageSelectLabel'"
In the english version it is named:
`"languageSelectLabel": "Language of your contribution“`

In german that would be:
"languageSelectLabel": „Sprache deines Beitrags“

I would like to change this, because a lot of people seem to think this is as well the language of the web app and not of the post.

_Originally posted by @Tirokk in https://github.com/Human-Connection/Human-Connection/pull/2351_

[2019-12-19 08:37] Tirokk commented on #2583
Wonderful @ogerly
Thanks !!! 🤗

[2019-12-19 10:46] #1746 closed

[2019-12-19 17:35] ogerly opened #2586 "🐛 [Bug] Deleting images from the uploads folder"
## :bug:  Deleting images from the uploads folder

Frontend:
- [x]  1. delete his profile image
- [x]  2. delete the image of a post while editing

Backend
- [ ]  3. deleting an image when deleting a post

[2019-12-19 20:14] #412 closed

[2019-12-19 20:14] #213 closed

[2019-12-19 20:14] #493 closed

[2019-12-19 20:14] #1068 closed

[2019-12-19 20:14] #1262 closed

[2019-12-19 20:14] #1263 closed

[2019-12-19 20:14] #419 closed

[2019-12-19 20:14] #351 closed

[2019-12-19 20:14] #784 closed

[2019-12-19 20:14] #263 closed

[2019-12-19 20:14] #1583 closed

[2019-12-19 20:14] #1644 closed

[2019-12-19 20:14] #1638 closed

[2019-12-19 21:14] #891 closed

[2019-12-19 21:14] #947 closed

[2019-12-19 21:14] #576 closed

[2019-12-19 21:14] #623 closed

[2019-12-19 21:14] #417 closed

[2019-12-19 21:14] #418 closed

[2019-12-19 21:14] #372 closed

[2019-12-19 21:14] #414 closed

[2019-12-19 21:14] #395 closed

[2019-12-19 21:14] #403 closed

[2019-12-19 21:14] #426 closed

[2019-12-19 21:14] #427 closed

[2019-12-19 21:14] #259 closed

[2019-12-19 21:14] #203 closed

[2019-12-19 21:14] #409 closed

[2019-12-19 21:14] #422 closed

[2019-12-19 21:14] #991 closed

[2019-12-19 21:14] #1064 closed

[2019-12-19 21:14] #290 closed

[2019-12-19 21:43] Mogge opened #2587 "🐛 [Bug] Geolocation. lat and lng are swapped"
When selecting a location in the user profile page, the latitude and the longitude are exchanged when saved in the database.

### Steps to reproduce the behavior
1. Go to your profile
2. Select Configuration
3. Type in some City or Region
4. Save
5. Check the lat and lng properties in the location node
![grafik](https://user-images.githubusercontent.com/15882241/71212056-d1f05b00-22b0-11ea-911b-fe

[2019-12-19 22:14] #859 closed

[2019-12-19 22:14] #494 closed

[2019-12-19 22:14] #187 closed

[2019-12-19 22:14] #216 closed

[2019-12-19 22:14] #291 closed

[2019-12-19 22:14] #217 closed

[2019-12-19 22:14] #457 closed

[2019-12-19 22:14] #413 closed

[2019-12-19 22:14] #398 closed

[2019-12-19 22:14] #589 closed

[2019-12-19 22:14] #205 closed

[2019-12-19 22:14] #899 closed

[2019-12-19 22:14] #221 closed

[2019-12-19 22:14] #314 closed

[2019-12-19 22:14] #302 closed

[2019-12-19 22:14] #808 closed

[2019-12-19 22:14] #312 closed

[2019-12-19 22:14] #311 closed

[2019-12-19 22:14] #315 closed

[2019-12-19 22:14] #405 closed

[2019-12-19 22:14] #310 closed

[2019-12-20 00:15] #5 closed

[2019-12-20 00:15] #275 closed

[2019-12-20 00:15] #306 closed

[2019-12-20 00:15] #298 closed

[2019-12-20 01:17] mattwr18 commented on #2254
closed in release 0.2.0

[2019-12-20 01:17] #2254 closed

[2019-12-20 12:52] ewanold commented on #495
Since this topic is important for a lot of non-central-european/non-northern-american folk I keep that issue open for the time when the team has caught up with the pressing and urgent issues of today ;-)

[2019-12-20 14:09] proofy opened #2601 "📖 [Story] Enable advertising fees"
https://github.com/proofy/Human-Connection/issues/1

[2019-12-20 14:11] proofy commented on #2601
#https://github.com/proofy/Human-Connection/issues/1

[2019-12-20 16:10] mattwr18 commented on #2381
This is what I've come up with so far
[code]

We need:
1) a list of all the duplicate accounts and their emails
2) decide on wheter to `discard`, `overwrite` or `combine`
3) test it with production data locally
4) take a backup
5) run in production

Here is the documentation:
https://neo4j.com/docs/labs/apoc/current/graph-updates/graph-refactoring/merge-nodes/

[2019-12-20 16:14] roschaefer commented on #2381
Small typo `firstEmai.email` but this is pretty much exactly what I imagined. Well done!

I would like to use this as an opportunity to come up with some database migration procedure. Where should the migration happen? If we run it from the backend, we are in the Javascript world.

[2019-12-20 16:28] mattwr18 commented on #2381
yeah, thanks for catching the typo, I actually had the emails as strings cause I just merged one, but didn't want to publish the person's email here...
Of course, it would be great to have a script that iterates and does this one at a time...
The backend doesn't have access to the neo4j-data-claim though...
I thought we would just use a script and do it from the `neo4j` pod

[2019-12-20 18:20] sushidave opened #2603 "🐛 [Bug] Following counter on all user profile pages shows "0""
## :bug: Bugreport

The following counter on all profile pages shows "0" people following.

![hc-bug-following-zero-users](https://user-images.githubusercontent.com/17728384/71281689-d3785c80-235e-11ea-8187-62e8c2ca6ebd.png)

### Steps to reproduce the behavior
1. Log into the network.
2. View your own profile page or the profile page of any other user.
3. The followers counter is correct but the

[2019-12-21 12:53] Tirokk opened #2604 "🚀 [Feature] Alternative Text Description For Post Teaser Images"
## :rocket: Feature

Would be nice if post teaser images would have an additional description text of the image content.
That would be great for different purpose, but has its downsides as well:

- Search machines can collect the HTML image `alt` text, where the description text will be put into.
- If an image is blurred the alt text can be shown in the blurred image.
  - That may reduce the inner

[2019-12-21 15:38] Oubi44 opened #2607 "🐛 [Bug] Horizontal shift of the site on mouseover or dropdown menu"
## :bug: Bugreport

We have a horizontal shift if you mouseover a username or if you click a dropdown menu!

![output](https://user-images.githubusercontent.com/56165041/71309994-d468c700-240e-11ea-8cf0-2cd2e89ab62f.gif)

### Expected behavior
To have no shift!

### Version & Environment
 Type: Desktop
 - OS:      Linux Mint
 - Browser: opera, firefox & chromium

### Additional context
This is thi

[2019-12-21 16:18] roschaefer commented on #2607
Excellent bug report, thanks :+1: I guess this is related to #2564 ? And a user @leternoz has tried to fix it in #2048 but added some unwanted side effect by accident.

@Oubi44 are you up to fix this bug which apparently annoys a number of people?

[2019-12-21 16:26] Oubi44 commented on #2607
@roschaefer Sorry but i am not a programmer...

[2019-12-22 21:45] #1691 closed

[2019-12-23 15:23] Mogge commented on #2603
@sushidave Thank you for the report. The bug will be fixed in the next deploy.

[2019-12-24 14:59] #1720 closed

[2019-12-24 14:59] #1721 closed

[2019-12-24 14:59] #1722 closed

[2019-12-24 14:59] #1723 closed

[2019-12-24 14:59] #307 closed

[2019-12-25 23:02] #1736 closed

[2019-12-26 15:39] #1748 closed

[2019-12-26 21:28] smapets commented on #1950
Should I give it a go?? Beginner here..

[2019-12-27 21:29] #1753 closed

[2019-12-27 22:14] sushidave commented on #1753
@datenbrei This feature is still needed. Please set the status back to open and reassign it to the previous roadmap. Thank you.

[2019-12-29 09:49] #1773 closed

[2019-12-29 10:38] Tirokk opened #2628 "🐛 [Bug] Backend Exceeds Heap Size Limit and Restarts"
## :bug: Bugreport

Before Christmas the backend restarted every 5 minutes.

Matt and I have found that the heap size of the backend by default should be 1.5Gi.

It seems that we have to define:

[code]

And that should be done for the Neo4j database as well where only `requests. memory` was already defined.

See:
- https://kubernetes.io/docs/concepts/configuration/manage-compute-resources-contain

[2019-12-29 20:14] Mozar10 commented on #212
Is this something I can start looking into ?

[2019-12-30 12:31] #2603 closed

[2019-12-30 14:38] #2239 closed

[2019-12-30 20:56] sushidave opened #2635 "🐛 [Bug] Some users with short usernames missing on mention menu and cannot be mentioned"
## :bug: Bugreport

Some users with a short username are missing on mention menu. Consequently, they can't be mentioned in a post or comment. Example: Username "tj" (@tj)

### Steps to reproduce the behavior
1. Create a post or a comment
2. Type the "at" sign (@) and the letters "tj".
3. Username tj is missing on the mention menu. The number of usernames on the menu is limited.
4. User cannot be m

[2019-12-30 23:31] roschaefer commented on #2635
I can reproduce the problem with user `@tj`. The graphql request to the backend returns the user tj:

![2019-12-31-002329_1920x1080_scrot](https://user-images.githubusercontent.com/2110676/71604671-e7446f80-2b63-11ea-86a6-fc021e711e31.png)

I believe it's a problem on the client and I guess the suggestion menu is lacking capabilities to browse  the list of suggestions without typing. You cannot pr

[2019-12-31 05:20] Mogge commented on #2528
@tidus9 Thank you for the report. Please check this link:
https://lokalise.com/public/556252725c18dd752dd546.13222042/
This is where we translate from English to other languages. Please take a look at it. I am sure you can contribute a lot to improve for example the German expressions.

[2019-12-31 13:57] tidus9 commented on #2528
I tried, but there are only two strings with the word "gesendet" and they are correct.

[2020-01-02 12:40] Mogge commented on #2528
@tidus9 I was searching for "Kommentar" and found it.

[2020-01-02 16:39] sushidave opened #2656 "🐛 [Bug] Some mentions don't generate a notifications"
## :bug: Bugreport

In some cases some mentions in posts or comments don't generate a notification.
Example:
![mention-in-post](https://user-images.githubusercontent.com/17728384/71678711-120e0e00-2d86-11ea-9ddc-f5ba4fc8dcd9.png)
![notification-list](https://user-images.githubusercontent.com/17728384/71678722-176b5880-2d86-11ea-8f6e-9c52f9c367b2.png)

### Steps to reproduce the behavior
1. Discove

[2020-01-02 17:54] erhardtstiefel commented on #2409
Trying  to reproduce the behaviour called the profil of an UNAVAILABLE user and got this
![bug2409](https://user-images.githubusercontent.com/49943365/71682850-2a375a80-2d91-11ea-98cd-b25f5a865807.png)

[2020-01-02 18:09] sushidave commented on #1065
@DennisHack This feature is still needed. Please reopen and assign to the original project. Thank you.

[2020-01-02 18:10] erhardtstiefel commented on #2409
Trying a 2nd time to reproduce the behaviour I called the profile of the deleted user and I got this
![bug2409_2](https://user-images.githubusercontent.com/49943365/71683515-1260d600-2d93-11ea-9c62-48831c6d63aa.png)
So in my opinion it seems like the bug is not reproducible

[2020-01-02 18:11] sushidave commented on #1066
@DennisHack This is still a nice to have feature. Please reopen and assign to the original project. Thank you.

[2020-01-02 18:13] erhardtstiefel commented on #2409
Maybe the behaviour is different when a user does dlete his contributions and/or comments. Il try to get another user to delete his account and his data simultaneously.

[2020-01-03 08:29] erhardtstiefel commented on #2409
How can I call a user profile which had been deleted? Please give more info.

[2020-01-03 08:30] erhardtstiefel commented on #2409
How can I call a user profile which had been deleted? Please give more info.

[2020-01-03 09:06] erhardtstiefel opened #2658 "💬 [Question] Do We Have Double Categories On Posts?"
![too many categories](https://user-images.githubusercontent.com/49943365/71714989-2860ac00-2e10-11ea-8d73-46e6a26ff958.png)
Why do I see so many categories in my frontend webapp? What can I do to get rid of them. Is it a bug in the feed data?
Beside  this: When I write a contribution and try to save it then this is shown
![maximumcallstacksize](https://user-images.githubusercontent.com/49943365/7

[2020-01-03 11:00] sushidave commented on #1472
@alina-beck How about an image button in the toolbar for externally hosted images and the setting for image storage would remain as it is?

[2020-01-04 16:32] tidus9 commented on #2528
I found it too when I click on "Kommentar gesendet". Then I see "Kommentar Gesendet" as a second suggestion for the translation. But when I try it on the platform, it still shows me the version with the capital letter...

[2020-01-04 16:43] tidus9 opened #2659 "🚀 [Feature] Text change for Sign Up"
## :rocket: Feature
We need a text with the hint that the Sign Up is for free.
https://human-connection.social/registration/signup

### User Problem
Some people could think that the sign up is a kind of paid membership.

### Implementation
English text now:
"To get started, enter your e-mail address:"

English text new:
"To get started, you can register here for free:"

German text now:
"Um loszul

[2020-01-04 17:06] tidus9 opened #2660 "🚀 [Feature] notifications: mark all as read"
## :rocket: Feature
We need a function to mark all notification as read.

### User Problem
It's much easier to mark all as read if you got many notifications. A large number of notifications causes also very high loading times which could be avoided easily with such a function.

### Implementation
Two simple text buttons at two places:

1. When you click on the bell and then next to "all notificat

[2020-01-05 12:18] #1740 closed

[2020-01-05 23:26] genofire opened #2661 "🐛 [Bug] human-connection.social is only reachable by legacy networks"
https://human-connection.social is only reachable by IPv4 but not with IPv6 (and must be NAT64 :cry:  )

[code]

[2020-01-06 05:03] alina-beck commented on #2144
still relevant

[2020-01-06 05:03] alina-beck commented on #2145
still relevant

[2020-01-06 05:04] alina-beck commented on #2142
still relevant

[2020-01-06 05:04] alina-beck commented on #2146
still relevant

[2020-01-06 14:37] mattwr18 opened #2673 "🐛 [Bug] JavaScript heap out of memory in production"
## :bug: Bugreport

We are getting this error in production... and our backend pod is restarting quite often
[code]

I have found this issue in the github page of `parse5`
https://github.com/inikulin/parse5/issues/276, which gives us a clue of where to start trying a fix

[2020-01-06 14:50] mattwr18 opened #2675 "🚀 [Refactor] Migrate Avatar component to code base"
## :zap: Refactor

As part of our migration, we want to move the `Avatar` component from the styleguide repo to our monorepo
Also, we need to add `srcset` as part of our `Responsive` images `Issue` https://github.com/Human-Connection/Human-Connection/issues/2255
### User Problem

See responsive images issue
### Implementation

migrate

[2020-01-06 17:32] #2673 closed

[2020-01-07 08:31] Mogge commented on #2409
@erhardtstiefel May be we could work together on this?

[2020-01-07 10:58] mattwr18 commented on #1709
do we not have a `PR` for this @Tirokk ??

[2020-01-07 12:37] alina-beck opened #2684 "🎨 [Styleguide Migration] Buttons"
## 🎨 Styleguide Migration: Buttons
related to #2074

Replace `ds-button` with `base-button`. See detailed description in PR #2562.

[2020-01-07 12:41] alina-beck opened #2685 "🎨 [Styleguide Migration] Card"
## :art: Styleguide Migration: Card
related to #2074

Prioritized because we want to make images responsive (see #2255) which is not possible with the current implementation of the `Card` component in the styleguide.

--> Refactor and replace `ds-card` with `base-card`.

[2020-01-07 13:05] datenbrei commented on #1724
## What do I see when I visit the user profile of a user I have blocked? (Probably the whole profile?)

You see everything as normal

## What do I see when I visit the user profile of a user I have blacklisted? (Probably no posts?)

No post, no comments (in the profile

## Do I still find blocked and/or blacklisted users in the user search results? (Probably yes to both?)

Yes, both, because you n

[2020-01-07 16:09] mattwr18 commented on #279
re-opening this issue as we have kind of already implemented this, but have called it `BLOCKED`

[2020-01-07 16:09] mattwr18 commented on #1724
We have talked about this in today's meeting, and while there wasn't perfect agreement, one way forward is to break this into two tasks.
1) Convert the current `BLOCKED` relationship to `BLACKLISTED`, since it is currently working, with minor adjustments, to achieve a blacklist of user's content, which another user is not interested in seeing. See https://github.com/Human-Connection/Human-Connecti

[2020-01-07 18:30] roschaefer commented on #1724
I suggest to rename `BLACKLISTED` to `MUTED` because that's how other networks including Mastodon call it. People will feel familiar with it

[2020-01-07 19:08] mattwr18 commented on #1724
hehe... I guess I could go through and change the `28` files I've just finished updating
https://github.com/Human-Connection/Human-Connection/pull/2686/files

I wonder how this fits in the greater idea of `blacklisting` content... see https://github.com/Human-Connection/Human-Connection/issues/307

[2020-01-07 20:47] #2659 closed

[2020-01-08 06:35] Tirokk commented on #1036
This still has to be done.
Or we decide together to leave the old Alpha mentions like they are.

[2020-01-08 08:00] ogerly opened #2699 "🚀 [Feature] Userslug Request change - Moderation level"
Under "Settings" > "My data" the user has the possibility to request a change of his Userslug.

- Create under "Settings" > "My data" a form where a user can request a change of his userlog.

- check before submit if the userslug is already assigned.

- Create an area in the moderation area where the userslug changes can be received and edited.

- Communication between moderation and technology,

[2020-01-08 09:23] Mogge commented on #2409
@datenbrei Can I work on this one?

[2020-01-08 10:04] ogerly opened #2701 "Select and check userslug at "New Account" form"
## Select and check userslug at "New Account" form
-
When creating a new account the user should be able to choose a user slug himself.

add a input (text) field "UserSlug " to the form.
check if the UserSlug is already assigned.
give a hint that the UserSlug appears as the main name for posts and comments. and that it is ONLY ALWAYS 6 months changeable.

### in addition:
Create a FormSchema:

Use

[2020-01-08 11:59] ogerly commented on #2699
@DennisHack @datenbrei pleace clearify this before the next planing and we should have a discussion with the developers about it

[2020-01-08 12:00] ogerly commented on #2701
@DennisHack @datenbrei pleace clearify this before the next planing and we should have a discussion with the developers about it

[2020-01-08 12:15] erhardtstiefel commented on #2409
Ok, go ahead Moriz. I'm busy today and tomorrow, but keep me informed if you are finished with it before friday.

[2020-01-08 13:04] Tirokk commented on #2604
@DennisHack @ogerly and I decided to put this as well in the sprint.
And the question raised, if this may be a good first BOUNTY issue @roschaefer ?
Or is this to small?

[2020-01-08 20:44] #1857 closed

[2020-01-09 00:44] #1743 closed

[2020-01-09 12:27] mattwr18 opened #2712 "🐛 [Refactor] Lock node versions in Dockerfiles to LTS"
## :zap: Refactor
Lock node versions in `Dockerfiles` to `LTS`
While it's great to update our dependencies, we want to minimize risk in our production environment.

[2020-01-10 06:12] #2701 closed

[2020-01-10 06:12] #2699 closed

[2020-01-10 09:04] #918 closed

[2020-01-10 12:02] #2712 closed

[2020-01-10 12:59] #1463 closed

[2020-01-10 16:03] sushidave opened #2723 "🚀 [Feature] Native FAQ/help pages"
## :rocket: Feature

FAQ/help pages as part of the application with crowd-sourced translations using Lokalise.

### User Problem

With the current solution all FAQs are hosted on a separate WordPress multisite installation (currently in English and German only). However, this solution is not scalable as more languages would require more coordination amongst authors.

### Implementation

- [ ] Defi

[2020-01-10 22:04] #1471 closed

[2020-01-12 16:43] roschaefer commented on #1832
This is a good issue for our upcoming open-source bounty program.

[2020-01-12 20:15] roschaefer commented on #1875
I had this reopened for a second but when I tried to reproduce it, it looks very much implemented already. Closing.

[2020-01-12 20:15] #1875 closed

[2020-01-12 21:24] roschaefer opened #2727 "🐛 [Bug] If you click the text inside an embed, the text disappears"
## :bug: Bugreport

![Human Connection - Human Connection - Edited](https://user-images.githubusercontent.com/2110676/72225814-0a224b00-358a-11ea-8b46-a2d7f331cf11.gif)

### Steps to reproduce the behavior
1. Visit https://develop.human-connection.org/post/create
2. Paste in a link like https://www.youtube.com/watch?v=kDLg8oEWFYY&feature=youtu.be
3. Click on the text
4. Text suddenly not visible a

[2020-01-12 22:03] roschaefer commented on #1831
I find this quite useful

[2020-01-13 08:40] alina-beck commented on #1467
I plan to adjust the design of the `<ds-input>` component when migrating the styleguide (see #2074)

[2020-01-13 12:46] mattwr18 opened #2749 "🐛 [Bug] Runtime error [Vue warn]: Invalid component name"
## :bug: Bugreport

[Vue warn]: Invalid component name: "pages/profile/_id.vue". Component names should conform to valid custom element name in html5 specification.

### Steps to reproduce the behavior
1. go to profile page
2. open dev console
3. see if the error is present, if not, try refreshing the page
4. doesn't always appear
5. Profit

can be related to this issue https://github.com/nuxt/nux

[2020-01-13 15:18] ogerly opened #2750 "🚀 [Feature] terms of use extend point - no parties"
## :rocket: Feature
terms of use extend point - no parties

it concerns only party in the political sense.

no organizations

[2020-01-13 16:31] #408 closed

[2020-01-13 16:37] tidus9 commented on #2750
German text: Nutzerkonten von politischen Parteien oder offizielle Nutzerkonten eines politischen Vertreters sind unzulässig.

English Text: User accounts of political parties or official user accounts of a political representative are not permitted.

[2020-01-14 10:28] mattwr18 opened #2770 "🚀 [Refactor] Follow Vue guidelines for component naming"
## :zap: Refactor

They should be multi-word, but there is no reason to prepend `hc` if they're already multi-word.
Also, we have several that are single word.
### User Problem

The issue is described here https://vuejs.org/v2/style-guide/#Multi-word-component-names-essential
### Implementation

Rename components/classes to conform with these guidelines

[2020-01-14 11:12] #1789 closed

[2020-01-14 12:20] mattwr18 opened #2773 "🐛 [Bug] Fix cypress for local development"
## :bug: Bugreport

Cypress is not importing environment variables necessary to connect to `Neo4j` properly when using without `Docker`.
Most developers on the team don't use `Docker` for development, so cypress should work without the need to start `Docker` all the time.

### Steps to reproduce the behavior
1. with the `webapp` and `backend` servers running
2. run `yarn cypress:open` from the roo

[2020-01-14 12:25] mattwr18 opened #2775 "🐛 [Bug] Cypress frequently gets stuck on login step locally"
## :bug: Bugreport

This is due to closing the toaster when login is successful.

### Steps to reproduce the behavior
1. run cypress locally according to the docs in `cypress/README.md` and your local environment
2. run any of the tests
3. it intermittently fails in `login` step
4. ...
5. Profit

### Expected behavior

It should not get stuck on this step so frequently.
We have added a step that i

[2020-01-14 13:04] datenbrei commented on #2723
This would mean to ad some kind of CMS functionality to the code base. I would like this, but in the future (already put in the Roadmap like that)

[2020-01-14 13:27] mattwr18 commented on #2253
@Tirokk could you please update this issue with the info you said you found out about it, please!

[2020-01-14 13:27] mattwr18 commented on #2381
@roschaefer you alluded to some progress on this issue, no?
could you maybe update the issue, or is there a `WIP` PR?

[2020-01-14 13:55] mattwr18 commented on #2411
I would like to take some steps forward on this... here I found some docs about `Tools for Monitoring Resources` https://kubernetes.io/docs/tasks/debug-application-cluster/resource-usage-monitoring/
I like this line `"Prometheus, a CNCF project, can natively monitor Kubernetes, nodes, and Prometheus itself."`

It is the second place, I have seen `Prometheus` recommended for monitoring, as the Neo4

[2020-01-14 14:36] mattwr18 commented on #2411
I was able to get `Prometheus` set up for `staging`, but haven't set up additional config yet...
I wonder if this is the type of performance analysis meant by this issue though...
![Screenshot from 2020-01-14 15-35-21.png](https://images.zenhubusercontent.com/5ac663b44b5806bc2bcdd1d7/62191c2e-3385-4306-9940-5c68d7932ac6)

[2020-01-15 10:31] alina-beck opened #2783 "🚀 [Feature] Highlight create post button"
## :rocket: Feature
requested by @DennisHack

The create post button should be positioned more prominently on the index page.

### User Problem
It's easy to overlook the floating action button in the bottom right corner of the screen – but we would like to encourage users to write more posts!

### Implementation
Three steps to put more focus on the create post button:
1. Move the `Donate now` butt

[2020-01-15 10:32] alina-beck commented on #2376
replaced by #2783

[2020-01-15 10:32] #2376 closed

[2020-01-15 10:55] Tirokk opened #2784 "🚀 [Feature] On A Post Show User ID Button In User Hover Menu"
## :rocket: Feature

As a user I like to see the user profile ID of a user commented on a post or somewhere else.
It should show up if I hover over the user slug of a post or a comment and click on a button named `Show all user IDs`.

1. After the click all the **authors** IDs of **the post** and of **all comments** in the list on the post page shall appear. They shall be visible until I refresh t

[2020-01-15 10:57] #1902 closed

[2020-01-15 11:23] Tirokk opened #2785 "🚀 [Feature] On Comment Date Click Set The Browser URL Pointing To This Comment"
## :rocket: Feature

On comment date click set the browser URL pointing to this comments URL.

### User Problem

A user likes have the possibility to get the comments direct link.

### Implementation

See above. ☝🏼

### Design & Layout

See above. ☝🏼

### Validation

None

### Additional context

None

[2020-01-15 12:35] DennisHack commented on #2607
@alina-beck Good issue for you?

[2020-01-15 13:47] Tirokk commented on #2635
I agree in general with @roschaefer .
The problem is how the suggestions in the suggestion menu are filtered. That happens in the file `Editor.vue` function in `filterSuggestionList`. This is not optimal.

1. The start of the typed hashtag should be the start of the suggestions as well I would say and not only a part somewhere in a hashtag.
2. The already typed part of the hashtag should be always

[2020-01-15 13:54] alina-beck commented on #2607
Hehe, maybe – but I'm very busy this sprint, so let's see if someone else wants to take it and otherwise assign it during our `planning` meeting next Tuesday. :wink:

[2020-01-15 14:16] Tirokk commented on #727
This is not stale! ;-))

[2020-01-15 14:27] Tirokk commented on #209
Is the **Additional context** of the issue fulfilled in your eyes @roschaefer @mattwr18 ?
I guess probably not everything, I think.

I will create an extra issue for the micro / nano I …

[2020-01-15 14:34] Tirokk opened #2786 "🚀 [Feature] Nano IDs For Human Readability"
## :rocket: Feature

Always if the UUIDs getting displayed to a user we need a much shorter nano (micro) ID for optimal human readability.

- Our UUIDs now like (36 chars long): 2812731d-6329-46ca-93b7-b9c7694246ec
- A nano-ID like (XXX): XXX

### User Problem

Readability and it’s just very long.

### Implementation

### Design & Layout

### Validation

### Additional context

[2020-01-15 14:44] erhardtstiefel commented on #2783
Hi Alina, I'm a programming novice and can't help you to implement the solution at all but I'm interested to learn all steps of the development since this issue is frontend and maybe easier to understand for me than a backend one. I saw you speak German, too, so maybe we can do one day a pair programming with Zoom in my language.

[2020-01-16 08:17] DennisHack commented on #2783
I would prefer the heart in colour red, it attracts more the eye. :-)

[2020-01-16 10:35] sushidave opened #2798 "🐛 [Bug] Searches with a hyphen return no results"
## :bug: Bugreport

A search that contains a hyphen returns no results, neither posts nor users.

Example 1:

![hc-bug-search-doesnt-return-dash-example-1a](https://user-images.githubusercontent.com/17728384/72517366-961ac800-3853-11ea-9f3b-80ed71c582ab.png)

Example 2:
![hc-bug-search-doesnt-return-dash-example-1b](https://user-images.githubusercontent.com/17728384/72517394-9e730300-3853-11ea-906

[2020-01-16 11:14] sushidave opened #2799 "🐛 [Bug] Search input with a space ignores minimal character length"
## :bug: Bugreport

If the search input contains at least two words separated by a space the search results contain matches that ignore the minimal character length.

Example 1:
![hc-bug-seach-with-space-example-1](https://user-images.githubusercontent.com/17728384/72519402-8b623200-3857-11ea-8e8e-3cf41ecfe945.png)

Example 2:
![hc-bug-seach-with-space-example-2](https://user-images.githubusercont

[2020-01-16 11:24] sushidave opened #2800 "🐛 [Bug] Search doesn't find user names with two characters"
## :bug: Bugreport

Search doesn't find user names ("slugs") with two characters.

Example:
![hc-bug-seach-doesnt-find-slugs-less-than-two-characters-example-new](https://user-images.githubusercontent.com/17728384/72520890-b4d08d00-385a-11ea-9096-63e1bd0f9906.png)

### Steps to reproduce the behavior
1. In the search field, type in a user name of less than three characters.
2. The search results s

[2020-01-16 11:44] mattwr18 commented on #1703
we certainly still want this

[2020-01-16 11:47] mattwr18 commented on #1703
@DennisHack Subscriptions are a way for the backend to communicate when a list has been updated.
So, for example we have a request every minute for ever user from the frontend to ask for that user's notifications. This is not a good idea, for several reasons. The backend should be able to communicate when there are new notifications for that specific user.
Also, we have people that would like to k

[2020-01-16 11:48] mattwr18 commented on #1703
Also, when we get passed this hurtle, we will have websockets set up for the site, which means it might make it easier to have a simple chat, depending on the route we go with that.

[2020-01-16 12:46] mattwr18 commented on #2684
closed by https://github.com/Human-Connection/Human-Connection/pull/2562
and https://github.com/Human-Connection/Human-Connection/pull/2582

[2020-01-16 12:46] #2684 closed

[2020-01-16 13:16] sushidave commented on #2786
How about a short ID like [the one of Threema](https://threema.ch/en/faq/threema_id), the messenger app? It's 8 characters long and consists of uppercase letters and numbers only, e.g.: FN5YA4S. This looks user friendly to me.

[2020-01-16 16:14] mattwr18 commented on #2255
We are migrating the `Avatar` and `Card` components so we have control to add a `ResponsiveImage` component, I've put in a `PR` https://github.com/Human-Connection/Human-Connection/pull/2801 following this blog:
https://markus.oberlehner.net/blog/lazy-loading-responsive-images-with-vue/

which leverages `lozad` for lazy loading as a starting point
https://github.com/ApoorvSaxena/lozad.js/

[2020-01-16 18:30] #2775 closed

[2020-01-16 20:38] #1831 closed

[2020-01-17 09:00] #1955 closed

[2020-01-17 11:24] sushidave opened #2821 "🐛 [Bug] Sometimes notifications are not marked as read"
## :bug: Bugreport

Sometimes notifications are not marked as "read" although the user clicked on the notification preview and the counter doesn't change.

### Steps to reproduce the behavior
1. Click on the bell.
2. Click on the notification preview. Sometimes it's not marked as read and the counter doesn't change.
3. Reload the page in order to update the read status and counter.

### Expected b

[2020-01-17 12:32] sushidave opened #2823 "🚀 [Feature] Access all notifications via 🔔 icon when there are 0 unread"
## :rocket: Feature

Currently, if all notifications are read and the counter shows "0" there is no link to the notifications page. Users can only access that page by entering https://human-connection.org/notifications into the address field of the browser. But usually they don't know this address.

### User Problem

This feature enables users to access the notifications page at anytime.

### Impl

[2020-01-17 12:49] sushidave commented on #2604
Even though I value the benefits of this feature I don't recommend to implement it for these reasons:
1. User convenience: We ask users for too much details here, cluttering the editing page with another input field. On a social network this is different than on a standard website.
2. Priorities: Imho, this feature is not essential but nice-to-have. Development should be focused on features that a

[2020-01-17 18:33] volanar commented on #321
I suggest to make integration with Rocket chat. It is free, there is live chat, you can communicate with personal messages and there are group chats

[2020-01-17 21:28] #2229 closed

[2020-01-19 08:46] aonomike commented on #1832
I can work on this issue...

[2020-01-19 11:41] #1969 closed

[2020-01-19 12:03] sushidave commented on #2727
Same on Firefox 72.0.1 on a MacBook.

It also happens if clicking:
- outside the embed box
- within the embed box anywhere below the preview image, except on the link

[2020-01-19 16:33] sushidave commented on #2306
Still required

[2020-01-19 16:34] sushidave commented on #265
Still required

[2020-01-19 16:40] sushidave commented on #1880
With the implementation of the featured post image cropping feature which did allow for no new animated GIFs this feature became less important. So this feature would only affect GIFs published prior to the implememtation of the cropping feature.

[2020-01-20 08:08] datenbrei opened #2841 "🚀 [Feature] Inform / Donate button"
## :rocket: Feature
The donate button should be changed in two ways:
- Change label to "Inform / Donate"
- On button press link to https://human-connection.org

### User Problem
The current button just points to a donate page without having informed the user before.

### Implementation
Just Change Label and link target.

### Design & Layout
As before

### Validation
No Validation

### Additional c

[2020-01-20 09:01] #2773 closed

[2020-01-20 09:15] #1470 closed

[2020-01-20 09:15] alina-beck commented on #2289
Still relevant – see #2363

[2020-01-20 09:17] alina-beck commented on #2292
@DennisHack @datenbrei @Human-Connection/hc-dev-team any opinion on this? should we make posts smaller or close this issue?

[2020-01-20 09:18] alina-beck commented on #2290
this was improved in PR #2582

[2020-01-20 09:18] #2290 closed

[2020-01-20 09:40] alina-beck commented on #2272
keep it open!

[2020-01-20 09:42] alina-beck commented on #1922
still relevant – and probably related to #2255

[2020-01-20 09:51] alina-beck commented on #292
has been improved (a bit) in PR #2582

[2020-01-20 09:51] #292 closed

[2020-01-20 09:51] alina-beck commented on #726
I'd like to keep the issue open although it's not a top priority right now.

[2020-01-20 10:13] alina-beck commented on #2783
@erhardtstiefel I'd be happy to! I am not sure I will be the one working on this issue – but I'll let you know. I think it's a really good issue to get more insight into frontend development. :smile:

[2020-01-20 10:59] Tirokk commented on #2253
Yeah.
May you can have a look in this and give your opinion? @mattwr18 @alina-beck

I have find this:
https://github.com/rachelandrew/gridbugs/issues/28

[2020-01-20 11:22] HelixX23 commented on #1922
Maybe imagemagick could do the trick?
https://www.imagemagick.org/script/index.php

[2020-01-20 16:46] alina-beck commented on #2253
Wow, good find @Tirokk! That's... _very_ bad news. And it looks like this won't change anytime soon: https://bugs.chromium.org/p/chromium/issues/detail?id=688640

So, what now? Rewrite the `MasonryGrid` without using `CSS grid` – i.e. without achieving the same effect (see comments on https://github.com/Human-Connection/Human-Connection/issues/378)? Redesign the whole `index` page? 🤷‍♀

[2020-01-21 07:34] datenbrei commented on #2253
I would not recommend to work around browser bugs - at least not, if the problem arises after 1000 posts. Using a grid is a modern way for structuring this kind of data. That's the right way.

[2020-01-21 08:55] alina-beck commented on #2253
It is! And the Chrome developers admit it's a problem – but one that's not easy to fix and has therefore been lying around unsolved for years... So I don't think waiting for a browser-side solution is an option.

The only other "workaround" I could think of is explicitly recommending to use `Firefox` on our part – i.e. adding a note on the login/signup page saying something like `Human Connection

[2020-01-21 10:35] Tirokk commented on #1830
This issue has been already totally fulfilled by PR List and protocol moderation #1954 and can be closed.
Or? @mattwr18

[2020-01-21 10:50] Tirokk commented on #1709
Open Question:

A moderator shall not be able to send an explaining text to the author of a disabled resource? I have understand that @tidus9 (Daniel) would like to have this possibility, because that not so often an e-mail has to be written? @datenbrei @DennisHack @mattwr18

[2020-01-21 12:11] datenbrei commented on #2253
As a solution: We will recommend Firefox for HC

[2020-01-21 12:11] #2253 closed

[2020-01-21 12:15] #2528 closed

[2020-01-21 12:20] datenbrei commented on #2411
Grafana and Prometheus will be set up for production. We then have to learn how to interpret the data.

[2020-01-21 12:51] alina-beck opened #2859 "🚀 / 💬 [Feature/Question] Normalize images"
## :rocket: Feature / 💬 Question
When planning our responsive images feature (#2255) we talked about normalizing images to make sure all `originals` have the same basic properties which makes it easier to work with them / transform them in different ways.

### Implementation
@Mogge I think you brought this up – could you maybe update this description with your experience, especially _why_ this is

[2020-01-21 13:23] alina-beck opened #2860 "🚀 [Feature] ResponsiveImage component"
## :rocket: Feature
Add a component that requests the correct image size according to screen size and resolution.

### User Problem
Image file sizes are too large – especially on mobile and for small images (i.e. the `user-avatar`).

### Implementation
@mattwr18 wanna share your ideas here? 😜

### Validation
Smaller image sizes!

### Additional context
part of the responsive images epic: #2255

[2020-01-21 13:42] mattwr18 commented on #2860
sure @alina-beck ... I opened a `PR`, which needs to rebased after the `UserAvatar` `PR` gets merged in.... https://github.com/Human-Connection/Human-Connection/pull/2801

it was following this blog:
https://markus.oberlehner.net/blog/lazy-loading-responsive-images-with-vue/

which leverages lozad for lazy loading as a starting point
https://github.com/ApoorvSaxena/lozad.js/

it has this example o

[2020-01-21 16:05] #279 closed

[2020-01-21 18:11] #2675 closed

[2020-01-21 22:19] #2411 closed

[2020-01-22 09:43] mattwr18 commented on #1724
@datenbrei when you say we need to find the `User` we have blocked/muted in our search results so that we can revert our decision...
you can go to your settings page and revert these decisions.
I have removed the code that would remove `BLOCKED` users from search results, however, as requested.
let me know if the above info changes anything.

[2020-01-22 15:42] Tirokk commented on #2271
This is not stale in my eyes!

[2020-01-22 15:45] Tirokk commented on #287
So then I decide to close it now!

[2020-01-22 15:45] #287 closed

[2020-01-22 15:46] Tirokk commented on #281
This is not stale at all!

[2020-01-22 15:50] sushidave opened #2872 "🚀 [Feature] Viewing modes"
## :rocket: Feature

Users should be able to change the viewing mode:
- [ ] Tiles
- [ ] Cockpit
- [ ] Map
- [ ] Hybrid

...as shown in the video [ClickDummy 05 - Ansichtsmodi](https://tube.tchncs.de/videos/watch/87439e60-c6b1-402f-8fc5-f292c16fc33c).

### User Problem

So long, cluttered tiles view! Users benefit from spending their time more efficienctly on the network, increasing satisfaction, h

[2020-01-22 15:56] Tirokk commented on #2292
I never have seen a problem with this.
I need to hear and exactly see the problem explained by some one who has it …
@alina-beck

[2020-01-22 16:24] Tirokk opened #2873 "💬 [Question] Recommending FireFox As Best For HC.social?"
## :speech_balloon: Question

@datenbrei decided to recommend FireFox as the best for using `hc.social`!
See 🐛 [Bug] Scrolling fails after a while #2253 on all Chromium platforms!
https://github.com/Human-Connection/Human-Connection/issues/2253#issuecomment-576654226

@alina-beck stated we could do this even on the start page. And I ( @Tirokk ) do agree.

[2020-01-22 17:05] sushidave commented on #2873
Hold on, please. I noticed the same issue on the latest Firefox version. The bug appeared when scrolling down. It happened at posts around 15 to 20 days before the current date.

[2020-01-23 05:53] Tirokk commented on #2873
I was never able to see this error on FireFox and Safari on macOS.
Can you double check, please, if this error occurs really on your FireFox again and put a picture here @sushidave .

[2020-01-23 10:16] sushidave commented on #2873
Yes, I just double checked. This time, Firefox was able to display old posts (from a month ago) without any issue #2253 . So for me, promoting Firefox is good to go!

[2020-01-23 12:14] Tirokk commented on #2784
My dear @alina-beck !
How you would design this nicely?
Please contact me personally ;-)

[2020-01-23 12:55] Tirokk opened #2885 "🚀 [Feature] Moderator Decision Shall Have Reason And Information"
## :rocket: Feature

The moderators decision shall have:

- reason categories (plural) like the report filer has
  - with checkboxes (the reported categories are preset)
- internal decision description
- external decision description (for the author or user)

### User Problem

For internal/external transparency and well treating of the user, reasons and informations on every report decision shall

[2020-01-23 13:08] Tirokk opened #2886 "🚀 [Feature] Notify Authors And Users About Decisions"
## :rocket: Feature

An author or a user should be notified if the status of their content or their whole user profile changes by a final decision.

(Discussed and decided by @datenbrei , @DennisHack , @Tirokk on 23.01.2020 )

### User Problem

The authors or users like to know that their content or profile status has changed. Also for transparency.

### Implementation

- Send always a notificatio

[2020-01-23 19:30] #2232 closed

[2020-01-23 19:47] roschaefer opened #2887 "🚀 [Feature] Refactor login step definitions to reduce build server time"
## :rocket: Feature
Our build server takes ~30mins until we get a feedback. There is potential for optimization.

### User Problem
Look at how we login a user during fullstack testing: https://github.com/Human-Connection/Human-Connection/blob/master/cypress/support/commands.js#L51

It is bad practice to login a user through the UI. We should do that once (when we test login). But if we need it dur

[2020-01-23 19:48] sushidave opened #2888 "🐛 [Bug] Display of some elements are suppressed by adblock filter lists"
## :bug: Bugreport

Two filter lists used by popular adblock browser plugins suppress the display of the:
- follow button on the profile page
- label of the filter option "users i follow"

### Steps to reproduce the behavior
1. Install the browser plugin uBlock Origin
2. Activate filter lists "Fanboy’s Annoyance" and/or "Fanboy’s Social"
3. On HC, check a profile page => The "follow" button is not

[2020-01-23 20:44] #2381 closed

[2020-01-24 08:51] Tirokk commented on #2873
Okay, that’s my guess  and experience.

So @sushidave  asked on Zoom if Chrome and Opera should not be suggested in the FAQs, but only FireFox for now @datenbrei ?

[2020-01-24 09:31] erhardtstiefel commented on #2783
Hello Alina,
I guess you have seen my new task in the masterboard.
But anyway I'd like to have a better understanding of the frontend
development and at least to get in touch with all these fine people working
for HC.
Have a nice weekend and be blessed,
Erhardt

-------Originalmeldung-------

Von: Alina Beck
Datum: 20.01.2020 11:13:13
An: Human-Connection/Human-Connection
Cc: Erhardt Stiefel;  Men

[2020-01-24 11:13] mattwr18 opened #2894 "🐛 [Bug] Add MUTED relationship between nodes that have a BLOCKED one"
## :bug: Bugreport

We have changed what it means to `BLOCKED` someone.
Now this means that users cannot comment on others Posts, but they can see those notifications
`MUTED` means that you cannot see the user's Post, which you have MUTED

[2020-01-24 11:35] mattwr18 commented on #1922
So, we have added this to the `EPIC` #2265 and therefore it's been put into the current Sprint, but we haven't had much time to plan it out, and share ideas...
I opened a `PR` for an Image microservice, which leverages `sharp`
https://github.com/lovell/sharp
https://github.com/Human-Connection/Human-Connection/pull/2602/files , but this seems to be more about resizing images, then compressing them

[2020-01-24 12:00] mattwr18 commented on #1922
I have ran the command locally with the `imagemin-cli` tool and here are the results
before:
[code]
after this command `yarn compress:image public/uploads/1574331493268-IMG_20191002_170522 > public/uploads/yummy-sandwich-optimized`
[code]
it's a bit bigger than half the size...

[2020-01-24 12:34] DennisHack opened #2895 "🚀 [Feature] Optional sources field for a more factual discussion in commentaries"
## :rocket: Feature
Add a field for sources in addition to the comment-field.

### User Problem
Discussion shall be on a more factual base. Sources are a essential part of raising the quality and support elucidation and more structured and senseful discusssions
 So, let's invite the users to leave a additional source with an open field for sources/proofs/ ets. It shall not obligatory to add a sour

[2020-01-24 14:42] DennisHack opened #2897 "🚀 [Feature] Replace the HC Logo to HC.social Logo"
![HC-SOCIAL-Logo-2020_Landscape_1000x238px](https://user-images.githubusercontent.com/24620721/73077243-1a0e2900-3ec0-11ea-8424-c973ef6c8f2d.png)
![HC-SOCIAL-Logo-2020_Landscape_1000x246px](https://user-images.githubusercontent.com/24620721/73077244-1a0e2900-3ec0-11ea-95d7-04e9dff8f7e9.jpg)

![HC-SOCIAL-Logo-2020_Landscape_500x119px](https://user-images.githubusercontent.com/24620721/73077245-1aa6

[2020-01-24 15:19] datenbrei commented on #2873
Let's recommend Firefox and tell, that other browsers may function or not. We should not go too deep into technical details for the usual user.

[2020-01-25 19:09] sushidave commented on #1441
This is just a comment to remove the stale label.

[2020-01-26 19:46] #2061 closed

[2020-01-26 20:01] #2364 closed

[2020-01-26 23:05] roschaefer opened #2900 "🐛 [Bug] Two :User share same :EmailAddress on production data"
## :bug: Bugreport
[code]

This looks fishy :point_up:

### Steps to reproduce the behavior
1. Ask me for the email address or change the query above `WHERE id(e) = 45710`
2. See two rows instead of [0,1]

### Expected behavior
No two user accounts should share the same email address.

[2020-01-27 08:23] erhardtstiefel opened #2917 "Direct Link to Support page in top line 🚀 [Feature]"
## :rocket: Feature
Help link to easy opening of support center https://support.human-connection.org/kb/index.php

### User Problem
New users do not know where to find the support center https://support.human-connection.org/kb/index.php

### Implementation
Insert an always visible link to the support center in the selected language

### Design & Layout
![Supportlink](https://user-images.githubuser

[2020-01-27 11:21] alina-beck commented on #2292
@Tirokk you can check the links above. It's more of a general usability topic – there is a maximum paragraph width that's been proven to still be easily readable. When lines get longer they get harder to read and Björn pointed out that this is the case on our `Post` page, at least when you're on a big screen.

It's one of these things you don't really notice – until it is fixed and then you go: "I

[2020-01-27 11:40] alina-beck commented on #2784
This is not so easy!

First off, I don't like the idea of showing all `user IDs` on a page by clicking a button hidden in the hover menu of _one_ user. And then hiding them again by reloading the page – this is not at all transparent and I would strongly advise against it from a UX perspective.

Also, why would I be able to see all `user IDs` on the `Post page` but nowhere else? Maybe I want to se

[2020-01-27 11:42] alina-beck commented on #2784
I also think there's an issue open – or did we just talk about it in some meeting? – to add the `user ID` to the `avatar hover menu`, so when hovering over an avatar you could see the `ID` of this user in the popup.

[2020-01-27 12:09] alina-beck commented on #2873
Yes, I agree! And maybe we could add a section in the FAQs – "Why does Human Connection recommend Firefox?"... I could help with writing an explanation that includes the technical details while still being understandable to regular users, if you want. :wink:

[2020-01-27 12:10] alina-beck commented on #2363
keep it open!

[2020-01-27 12:11] alina-beck commented on #288
still a cool feature! :wink:

[2020-01-27 12:12] erhardtstiefel opened #2918 "Different width of editing windows and displayed posts"
## :rocket: Feature
The width of the editing window of a new post is different to the width of a reopened window to do editing corrections and both of them are different of the width of the displayed post (904 px).

### User Problem
When editing a new post or correct an existing post the formatting looks different than the displayed one.
![1_open_for_edit](https://user-images.githubusercontent.com

[2020-01-27 14:31] erhardtstiefel opened #2920 "🚀 [Feature] Remove 'Carriage Return' within marked text sections"
## :rocket: Feature
Improve text editor by a extended function of the CR-button

### User Problem
If a formatted text is inserted in the edition window by copy/paste from a document with a different  column with, al lot of CR-removing work has to be done.
![CR_carriage_return](https://user-images.githubusercontent.com/49943365/73181915-62c01f00-4118-11ea-9030-afa955e4c150.jpg)

### Implementation

[2020-01-28 14:43] sushidave commented on #1902
@datenbrei Please reopen this issue if the bug still exists.
Would it make sense to change the bot's settings so that it ignores bugs?

[2020-01-28 14:58] sushidave opened #2922 "🚀 [Feature] Rename user 'Anonymous'"
## :rocket: Feature

Rename user 'Anonymous' to something more intuitive, like "A deleted user" or "A banned user", depending on what is appropriate.

### User Problem

The profile name "Anonymous" is not intuive. It leads to uncertainty and questions amongst some users. Renaming the profile name to a more intuitive description solves those issues.

### Implementation

- [ ] Define the new descrip

[2020-01-28 15:13] sushidave commented on #2917
Thank you @erhardtstiefel , good idea! 👍

[2020-01-28 16:02] sushidave commented on #2920
@erhardtstiefel Thanks for this proposal.

The purpose of the paragraph button is to turn styles - like headings - back into normal paragraphs, see https://support.human-connection.org/kb/faq.php?id=52&lang=en_US.

My first idea was using a button with the rubber symbol to clear formatting, as it is common with many editors like WordPress' Gutenberg editor:

![hc-remove-formatting](https://user-im

[2020-01-28 21:24] #2894 closed

[2020-01-28 21:31] roschaefer commented on #2786
@sushidave problem is collision of IDs. We rely on the IDs never be the same. Nasty things happen in case of collisions.

[2020-01-28 21:36] sushidave commented on #2786
@roschaefer Thanks. So the solution is to avoid identical IDs. Can be done by a check?

[2020-01-28 21:43] sushidave commented on #2786
Oh, now I understand. Your comment was related to the "Nano ID" solution. If it is too risky then why not use short alphanumeric IDs (like Threema)?

[2020-01-29 08:58] erhardtstiefel commented on #2920
Hi @sushidave couldn't find you in Discord nor in Trello masterboard. Are you the responsible for our editor?  I like to address HC members by their first name. But at least I'm happy you understood my issue completely. I know the formatting isn't so important as the content of the text. But it looks much  better when the complete line width is used and it saves vertical space in the display, too.

[2020-01-29 09:47] erhardtstiefel commented on #2917
Since I'm also interested in frontend programming I'd like to do pair programming with the one who has a solution for this issue.

[2020-01-29 11:28] erhardtstiefel commented on #2918
Hi @sushidave since you added all of my three issues of yesterday to **New** in **Roadmap** I'm interested in knowing you personally. Didn't find you in the Masterboard nor in Discord. May I guess your name is Dave or David and you like sushi? But what is your role in the HC team? Just 'member' like me?

[2020-01-29 13:55] sushidave commented on #2920
@erhardtstiefel

I'm just another volunteer contributing here.

I like your idea of providing a tool that removes unnecessary line breaks from the text.
Imho, the paragraph button should not be used because the issue is not related to paragraphs (aka "hard returns"/"manual breaks") but to "soft returns"/"automatic breaks". So I recommend to use another button/symbol, some kind or a dropdown menu c

[2020-01-29 13:59] sushidave commented on #2918
@erhardtstiefel I'm just a volunteer who happens to like sushi 🍣 I just wrote to you on another channel.

[2020-01-29 15:32] alina-beck commented on #2895
Great feature! :+1:

I like the idea of having `sources` for comments – it would also be great to have them for posts! The design looks good, too. Just a few ideas:

The sources as `Embeds` (with description and image, instead of just links) are big, so if we list more than one it might become hard to read and take away attention from the actual content. Two possible solutions would be:
- list jus

[2020-01-29 17:44] erhardtstiefel commented on #1183
That was a good decision Dennis. The idea with the badges is tempting, but can cause serious behaviour. Competition by winning awards splits the community and often triggers envy, resentment, pride, arrogance, feelings of injustice, anger, etc. At Human Connection we all want to be treated equally, don't we? The competition about good entries and lots of comments is much better.

[2020-01-30 07:16] datenbrei commented on #2873
Yes, I want. ;-)

I have to beware of not writing too bad about other brothers, although they are some kind of espionage machines.

[2020-01-30 07:44] datenbrei commented on #1183
@Tirokk I think the badge admin should be implemented, but before re-enabling them we need to have a concept about badges and how to use them. Also data privacy issues should be taken into regard, especially when correlated to donations.

[2020-01-30 09:21] datenbrei commented on #2900
This is where I like referencial integrity on relational databases. ;-)

This would also mean, that a user can just use one of these two accounts, right?

[2020-01-30 10:39] #1724 closed

[2020-01-30 12:39] mattwr18 opened #2929 "🐛 [Bug] Master build broken in deploy step"
## :bug: Bugreport

We tore down and deployed the develop server with a new infrastructure using helm. All of the resources were renamed and have `deploy` prepended.
This has broken our travis build since the automated deploy script expects different names.

[2020-01-30 16:38] tidus9 opened #2931 "Code of Conduct email link correction"
## 💬 Issue
https://human-connection.social/code-of-conduct
Here you find this part at the end:

"If you are subject to or witness unacceptable behavior, or have any other concerns, please notify a community organizer as soon as possible and link or refer to the corresponding content: moderation@human-connection.org"

the email address is linked with: https://human-connection.social/moderation@huma

[2020-01-31 07:51] itsjainrishi commented on #2917
Hi erhardtstiefel,
As I can see the support page only has support for English and German. So I would like to know what is the expected behaviour here? Also English support page has some instances of German.

[2020-01-31 07:57] itsjainrishi commented on #2841
Hi datenbrei,
Please correct me if I am wrong. The Donate Now button on Home Page of the network should be changed to "Inform/Donate" and the url needs to be changed to "https://human-connection.org"

[2020-01-31 10:08] mattwr18 commented on #2841
That's the way I interpret it as well @itsjainrishi

[2020-01-31 13:46] #2929 closed

[2020-01-31 14:54] mattwr18 commented on #2859
I removed this from the `Sprint` cause we need to plan it, and is maybe not a necessity for the `Responsive Image EPIC` ...
We can always prioritize it again when we get clarification on the issue.
I found this article that speaks about what @Mogge brought up, as far as my understanding
https://aishack.in/tutorials/normalized-rgb/

The example they give seems not to be a good one though. Thoughts?

[2020-01-31 15:30] #1680 closed

[2020-01-31 17:51] roschaefer opened #2942 "Refactor test factories"
## :construction_worker_man: Refactor test factories

Not knowing there is a [better implementation](https://github.com/rosiejs/rosie) for NodeJS out there we rolled our own fragile implementation of test factories. Our lack of experience in the field has lead to inconsistent APIs how to use those factories and this makes it in turn really difficult to refactor the database model.

The one example

[2020-02-02 07:32] #2103 closed

[2020-02-03 09:03] Tirokk commented on #252
Extracted into issue #2784

[2020-02-03 11:43] #2099 closed

[2020-02-03 12:44] mattwr18 opened #2965 "🐛 [Bug] Typo for unblocked users toastr"
## :bug: Bugreport

Fix typo to `blocked-users`

[2020-02-03 13:20] alina-beck commented on #1744
Update:
- add the link to the `ContentMenu` (instead of clicking on the date)
- copy the link to the clipboard

[2020-02-03 13:32] alina-beck commented on #1741
Update from today's dev meeting:
- add a `ghost` button to the top of the list (see `comments` for design inspiration)
- the button should say `show all`, then switch to `show less` when clicked
- `on click` request a list of all followers from the backend and display them as a long list

[2020-02-03 15:32] mattwr18 opened #2967 "🐛 [Bug] Do not override the createdAt when merging duplicate users"
## :bug: Bugreport

At the moment, we have discard for all properties.

[2020-02-03 16:14] alina-beck opened #2968 "🚀 [Feature] List view for posts"
## :rocket: Feature
Users should be able to switch between the `grid view` we currently have on the index page and a new `list view`.

### User Problem
Not sure – there are different opinions on this:

@ogerly said that the `list view` is supposed to be a lightweight alternative to the current index page – with no images, so users can choose to save data traffic, e.g. when they're on mobile.

@Den

[2020-02-03 17:21] mattwr18 opened #2970 "🐛 [Bug] Automated release creation is not used and breaking master build"
## :bug: Bugreport

Looking at our releases, https://github.com/Human-Connection/Human-Connection/releases, the ones created from our build server, are not sufficient.

As part of the deploy process, I have been manually creating the Releases in Github, using our CHANGELOG.md.... I propose we remove this script from our build server, as it's now breaking our `master` build and it's not being used.

[2020-02-03 18:17] #2967 closed

[2020-02-03 18:54] #2970 closed

[2020-02-03 20:07] mattwr18 opened #2972 "🚀 [Feature] Update Mute/Unmute user icon"
## :rocket: Feature

The icon in current use is the same for disable/enable, so there is duplication for our moderators/admin...
We agreed in the `sprint` client review to change it to use the microphone/microphone-slash instead

[2020-02-04 00:29] #2972 closed

[2020-02-04 12:46] DennisHack commented on #2750
Political Parties / Politische Parteien

[2020-02-04 12:46] DennisHack commented on #2750
(TITLE) within terms of use

[2020-02-04 13:08] mattwr18 opened #2980 "🚀 [Feature] Add issue template for Refactors"
## :rocket: Feature

### User Problem

I find myself needing to choose between `Bug` and `Feature`, when sometimes I want to create a `Refactor` ticket.
### Implementation

We can add another template for `Refactor`

[2020-02-04 13:31] mattwr18 opened #2982 "🐛 [Bug] Version is incorrect in production"
## :bug: Bugreport

We have upgraded to version `v0.3.0`, but on the site it looks like we are still on `v0.2.2`
![Screenshot from 2020-02-04 14-29-35](https://user-images.githubusercontent.com/26943915/73749017-d090ca00-475a-11ea-8919-5107a4e1d2f9.png)

### Steps to reproduce the behavior
1. go  to the root path
2. check the footer for the version number
3. check the image of the app using kubern

[2020-02-04 13:52] roschaefer opened #2985 "🐛 [Bug] Post page crashes when post author is null"
## :bug: Bugreport
We're trying to show or not show the comment form depending on `post.author.blocked`. Unfortunately this will produce an error if the `post.author` is null (anonymous user, deleted user)

### Steps to reproduce the behavior
1. Seed your database and then remove the author from the post manually
2. Visit the post page of this post in your browser
3. App crashes while trying to re

[2020-02-04 14:18] alina-beck opened #2986 "🚀 [Feature] "Holiday mode" (load-no-images setting)"
## :rocket: Feature
Users should be able to temporarily disable the loading of images for the whole network on their profile.

### User Problem
Users on slow connections or who want to save data traffic (e.g. when they're on holiday) currently have to load all images on the network. Data volume will be improved with the responsive images feature (#2255) but turning images off completely – at least

[2020-02-04 14:19] alina-beck commented on #2980
Yes yes yes! 😍

[2020-02-04 14:32] sushidave opened #2987 "🚀 [Feature] Filter contributions by time"
## :rocket: Feature

As a user I would like to filter contributions by time.

### User Problem

Search for contributions is inefficient.

### Implementation

Add feature to filter contributions. Options to be discussed/defined.

### Design & Layout

![2F8D3ABA-9919-4203-8B39-6790B461CCBF](https://user-images.githubusercontent.com/17728384/73753551-2ec1ab00-4763-11ea-820a-f766b62f91ef.png)

### Val

[2020-02-04 14:33] mattwr18 commented on #2985
I will challenge this slightly, only in the sense that I don't think it is so reproducible.
What I did...
1) I blocked `louie@example.org`
2) logged in as Louie, and deleted my account, but left my Posts and Comments for the community
3) visited the post page of the now deleted user, and there in no `null` pointer error because we don't delete the entire node, when someone asks for their account t

[2020-02-04 14:43] roschaefer commented on #2985
@mattwr18 you have a really good point. i'm making the app robust against scenarios that cannot happen apparently. In general I'm against adding these checks. I call this "Angst code" (fearful coding).

However, the least thing we should do is to put an exclamation mark [here](https://github.com/Human-Connection/Human-Connection/blob/master/backend/src/schema/types/type/Post.gql#L116).

Why do we

[2020-02-04 14:57] #2139 closed

[2020-02-04 15:00] sushidave opened #2988 "🚀 [Feature] Posts: Use image of embedded content as embedded featured image"
## :rocket: Feature

As a user, when I copy a link of a website or video into my post I would like the system to use the image of the embedded content as an embedded featured post image.

### User Problem

Making creating a post more efficient.

### Implementation

### Design & Layout

### Validation

### Additional context

[2020-02-04 15:01] alina-beck commented on #2255
The way I see it we have two approaches on the table right now – each with their advantages and disadvantages:

#### Store one image, resize it on demand (partly implemented by PR #2602)
- more flexible since we’re not bound to a small set of sizes
- much easier to change sizes in case of a layout change
- bad for performance since calculations are done on the fly
- needs to be combined with a cac

[2020-02-04 15:47] mattwr18 commented on #2985
it was copied and :spaghetti: from the styleguide... you know better than I do how this worked in the old alpha, and whether or not we should keep it, but I guess if a user chose the name `Anonymous`, then it would also display the `eye-slash` for their avatar image.

To make it non-nullable?

[2020-02-04 15:49] mattwr18 opened #2989 "🚀 [Feature] Add issue template for DevOps"
## :rocket: Feature

### User Problem

I find myself needing to choose between `Bug` and `Feature`, when sometimes I want to create a `DevOps` ticket.
### Implementation

We can add another template for `DevOps`

[2020-02-04 16:02] ogerly commented on #2968
my suggestion is this:
the list view should be as narrow and simple as possible. without thumbnails of the posts. it should allow faster loading and a clearer way of arranging information. more reader-friendly. nothing that distracts too much.

the second point is to save this view for a user.
1. cookie
2. database
3. a choice when logging into the network.

[2020-02-04 16:59] aonomike commented on #2660
After clicking on `mark all as read` button, should we hide the button?

[2020-02-04 19:02] #2980 closed

[2020-02-04 20:49] tidus9 commented on #2660
I think, it's not necessary to hide it.

[2020-02-05 09:39] ogerly commented on #2895
but there are a lot of questions that come up...
what is the difference between a link under a post with a source reference ? only the "source" in front of it?
it does not necessarily have to be a source.
how do you deal with users who want or need to specify multiple sources?
should the preview for the link graphically differ from the embedded links?

[2020-02-05 09:47] alina-beck commented on #2895
I think you're right @ogerly – we should distinguish more between links in the content and sources. So I would propose to not use `embeds` for the sources at all but instead make it a simple list. I do think it could be valuable to add a "note" to it and then have two separate input fields and a `+ button` to add more than one.

Then users could add something like:
- `This is the article I was ref

[2020-02-05 11:03] ogerly opened #3000 "💬 [Question] which possibilities would you suggest to make scrolling unnecessary?"
## :speech_balloon: Question
if a user gets a lot of comments for a post then the following problem occurs.
if you want to answer several users then it scrolls to the editor for each name.
which possibilities would you suggest to make scrolling unnecessary?
i see scrolling as an optical signal. we would have to find another signal which tells the user that the username is written in the answer fie

[2020-02-05 11:03] Mogge opened #3001 "🚀 [Feature] Nornalize the locale json files"
## :rocket: Feature
We need to normalize the locale json files in order to improve the integrations pf translations coming in from lokalise.

### Implementation
 - Keys must be in alphabetical order
 - Whitespace is two blanks
 - Keys of German and English locale must be the same
 - The test must pass to get a PR merged
 - a `--fix` option to fix problems

[2020-02-05 11:07] ogerly commented on #3000
Userhinweis:

Wenn man einen Kommentar an mehrere User adressieren will, kann die Sache aber sehr mühsam werden, weil der Pfeil nach jedem Anklicken einer Adresse zum neuen leeren Kommentarfeld hinunter scrollt. Wenn ich bei einem sehr langen Verlauf mit langen Kommentaren z.B. 10 Adressen einsetzen will, muss ich nach jeder einzelnen Adresse wieder händisch nach oben Scrollen und die nächste Adre

[2020-02-05 11:13] sushidave commented on #2434
Feature still required. This comment is just to remove the stale status from this issue.

[2020-02-05 12:40] mattwr18 commented on #2988
hey @sushidave is this a duplicate of this https://github.com/Human-Connection/Human-Connection/issues/1200 ??

[2020-02-05 13:14] mattwr18 opened #3002 "[DevOps] Rebuild staging server using helm"
## :fire: DevOps ticket

The staging server should be torn down and rebuilt with our new helm charts
### Motive

We decided to start using helm charts because it's easier to install all the needed resources(deployments, services, persistentvolumeclaims, etc.) with one command.
It's also easier to upgrade when we deploy. More information about it's benefits can be found in their docs
https://helm.s

[2020-02-05 14:14] ogerly commented on #2895
I can say little about the graphic one.
but we need an order.
I would suggest that when a source is given.
an additional field appears. With an explanation.
we need the clean link to get the author, title and date from the page if there is one. we should do this to keep the basic standard. and then there can be a field where every user can enter an additional text.

[Quelle :)](https://herr-kalt.d

[2020-02-05 14:15] alina-beck opened #3004 "🚀 [Feature] Remove Hover Menu from User Teaser"
## :rocket: Feature
The `hover menu` should be completely removed from the `user teaser` component.

### User Problem
At the moment, the `user teaser` has two effects and a third one in planning:
- it opens a small popup on hover
- it links to the `user profile` on click
- planned: it toggles the `user id` on button click

Three different functionalities on one element is no good practice, it clut

[2020-02-05 14:22] alina-beck opened #3005 "🚀 [Feature] Add 'toggle ID' button to User Teaser"
## :rocket: Feature
Add a button that toggles the visibility of the `user ID` in the `UserTeaser` component.

### User Problem
see `User ID` epic: #3007

### Implementation
- Add a small `ghost` button with just an ID icon to the right end of the top line (i.e. next to the user name / user slug), include a `title` attribute with a description.
- Toggle the user ID on button click.

### Design & La

[2020-02-05 14:26] alina-beck opened #3006 "🚀 [Feature] Add 'toggle ID' button to User Profile"
## :rocket: Feature
Add a button that toggles the visibility of the `user ID` on the `User Profile`.

### User Problem
see User ID epic: #3007

### Implementation
- Add a small button with just an ID icon to the right end of the top line (i.e. next to the user name / user slug), include a `title` attribute with a description.
- Toggle the user ID on button click.

### Design & Layout
<img width="2

[2020-02-05 14:28] alina-beck opened #3007 "🌟 [EPIC] User IDs"
## 🌟 EPIC
discussed with @DennisHack

Users should be able to toggle other users' `IDs` on the network, so they can reliably identify them.

### User Problem
At the moment it is quite easy to pose as someone else on Human Connection. This can lead to confusion and can be exploited. A visible unique `user ID` would help to make sure a user really is the one he says he is – we already have these IDs

[2020-02-05 15:02] roschaefer opened #3008 "🔧 [Refactor] ActivityPub - Delete Feature"
## :zap: Refactor ticket
Look at this [cucumber feature](https://github.com/Human-Connection/Human-Connection/blob/master/backend/test/features/activity-delete.feature). Apparently you can delete posts and comments ("objects") from a federated server. Probably, the signature of the actor on the 3rd party server must be verified before you can do that.

You could contribute the implementation for i

[2020-02-05 15:28] sushidave commented on #2988
@mattwr18 It is - with the exception that the featured image should be embedded (see the additional text above). So shalll we close this issue and add the requirement to #1200 ?

[2020-02-05 15:38] roschaefer opened #3009 "🔧 [EPIC] Refactor, fix and implement currently disabled cucumber features"
## :zap: Refactor ticket
All our cucumber tests in the [backend](https://github.com/Human-Connection/Human-Connection/tree/master/backend/test/features) are disabled because of false positives.

Because these cucumber features are part of our documentation of the API of Human Connection, they should be moved to the top level folder [here](https://github.com/Human-Connection/Human-Connection/tree/m

[2020-02-05 17:17] abdellani commented on #2897
Hi
I see that the logos are used in the login page and in the navbar after the user authentication. Are those that I'm supposed to replace?
The corresponding files are `webapp/static/img/sign-up/humanconnection.png` and `webapp/static/img/sign-up/humanconnection.svg`

[2020-02-05 20:28] abdellani commented on #3004
Hi
I'll work on this one :)

[2020-02-06 11:49] Tirokk commented on #3000
We can show a toast message, that the users mentioning was added to the comment edit field?

[2020-02-06 11:58] Tirokk opened #3012 "🐛 [Bug] While Editing A Comment Don't Show Replay Button And Commenting Not Possible"
## :bug: Bugreport

If a user edits their post:

- the replay button for this comment should not be seen under its edit field
- the edit field for the creation of a new comment at the very end shouldn’t show the commenting not possible hint

### Steps to reproduce the behavior
1. go to your comment under a post
2. click on the context menu and edit your post
3. you see still the replay button unde

[2020-02-06 12:09] Tirokk opened #3013 "🚀 [Feature] Set The Teaser Image To The Appropriate Size Ratio From The Beginning"
## :rocket: Feature

Set the teaser image to the appropriate size ratio from the beginning!
This avoids jumping in general and wrong scrolling to a comment.

### User Problem

If you go by a comment link on a page it scrolls to the comment first and then the teaser image gets downloaded and your target comment jumps again out of your view.
That's bad user experience.

### Implementation

On the po

[2020-02-06 12:41] Tirokk opened #3014 "💬 [Question] There Is The Time Stamp Missing On Posts, Comments etc."
Users complaint about missing time stamps on dates if the dates are several days ago.
This was brought up by @sushidave .

## :speech_balloon: Question

- If I write a comment as an example and get an answer I like to see the delay of the answer in time as well, even after several days.
- It looks buggy to users, was mentioned.

## Additional Information

See documentation:
https://date-fns.org/v2

[2020-02-06 14:14] tidus9 opened #3015 "🐛 [Bug] comment box disappears while editing comments"
## :bug: Bugreport
When you edit a comment, the comment box at the bottom disappears and displays this text:

"Commenting is not possible at this time on this post.
This can happen for several reasons, please see our FAQ"

### Expected behavior
The comment box shouldn't disappear while you editing a comment in the same post.

### Additional context
![image](https://user-images.githubusercontent.co

[2020-02-06 14:24] tidus9 opened #3016 "🚀 [Feature] Displaying the clicks on posts"
## :rocket: Feature

### User Problem
It's a kind of motivation for the users, that they could see how much users clicked on their posts.

### Implementation
The number of clicks should be shown next to the number of comments and shoutouts. Every click of a user should count only one time. That means, it's the number of "unique visitors".

### Design & Layout
![image](https://user-images.githubuse

[2020-02-06 16:23] abdellani commented on #3004
As I understand, the goal is to avoid showing the popover menu when the user puts the cursor on `UserTeaser` area?

**Current behavior**

![Peek 2020-02-06 17-05](https://user-images.githubusercontent.com/16113997/73955139-2902cb80-4903-11ea-8d31-684a1e7f93b0.gif)

**Wanted behavior**

![Peek 2020-02-06 17-14](https://user-images.githubusercontent.com/16113997/73955754-23f24c00-4904-11ea-9ce4-9d0c

[2020-02-06 21:56] Mogge commented on #2800
Until now, we do not trigger a search if the search string is less than three characters. If we do so, we will a lot of ugly side effects, as can be seen in #2799
The only idea I have, to get this fixed in the case for users is, that you must search explicitly for users to skip the three characters minimum rule, This could be done by starting the search string with an '@' Symbol.
In this case, you

[2020-02-07 07:18] ogerly commented on #2750
which text should now be inserted exactly where ?

![FireShot Capture 315 - Human Connection - Human Connection - human-connection social](https://user-images.githubusercontent.com/1324583/74008897-5fcbf680-4982-11ea-8305-06a4852f7d9a.png)

[2020-02-07 08:04] Tirokk commented on #3002
Hey @mattwr18 ,
for sure I have no insight in every detail, but in general you described really understandable what this is about and what to do. 🚀💫
It looks like a really big step into the scalable und better manageable DevOps future!!! @roschaefer
😍

[2020-02-07 09:21] mattwr18 commented on #3002
thanks @Tirokk ... I think maybe I could do a better job, in general, with issue creation by adding more screen shots ... not sure... with `DevOps` maybe it's not as important.
What I think I did a pretty good job of is linking to documentation.

[2020-02-07 10:59] #2409 closed

[2020-02-07 11:00] #2989 closed

[2020-02-07 11:09] tidus9 commented on #2750
https://human-connection.social/terms-and-conditions

It could stand between 7 and 8.

https://human-connection.social/terms-and-conditions

It could stand between 7 and 8.

[2020-02-07 11:33] sushidave commented on #782
Feature still required. This comment is just to delete the stale status.

[2020-02-07 11:34] sushidave commented on #266
Feature still required. This comment is just to delete the stale status.

[2020-02-07 18:11] sushidave opened #3024 "🐛 [Bug] Filter, language selection and profile menu sometimes not visible"
## :bug: Bugreport

Sometimes the filter, language selection and profile menus in the header are not visible. A page reload helps but only sometimes.

![hc-menus-invisible](https://user-images.githubusercontent.com/17728384/74053981-591e9d00-49dd-11ea-81b6-364974d2fdc0.jpg)

This is how the HTML code looks like in such a case:

![hc-bug-menus-invisible-code](https://user-images.githubusercontent.c